@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.profileFavourite {
  padding-top: 15px;
  padding-left: 35px;
  margin-bottom: -13px;
  border-left: 1px solid #dadada;
}

.header {
  display: flex;
  position: relative;
}

.headerButtonDeleteWrapper {
  @include clearfix();

  width: 100%;
}

.title {
  @include styleForText(30px);
}

.headerIconShare {
  stroke: $green;
  fill: $green;
  margin-right: 4px;
}

.selectedBlock {
  padding: 20px 32px 20px 56px;
  background-color: #f8f8f8;
  display: flex;
  position: absolute;
  left: 30%;
  top: -11px;
  border-radius: 6px;
}

.headerButtonShare,
.selectedBlockButtonShare {
  @include styleForText($fontSizeContent, $fontMain, $green);

  margin-left: 63px;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: url("/svg/share.svg");
    position: absolute;
    left: -23px;
    top: 11px;
  }
}

.selectedBlockButtonShare {
  margin-left: 0;

  &::before {
    top: 2px;
  }
}

.selectedBlockButtonDelete {
  @include styleForText($fontSizeContent, $fontMain, $additionalColorContent);

  margin-left: 63px;
  position: relative;

  &::before {
    content: url("/svg/Group503.svg");
    position: absolute;
    top: 1px;
    left: -22px;
  }
}

.selectedBlockButtonCancel {
  @include styleForText($fontSizeContent, $fontMain, $colorInfo);

  margin-left: 42px;
}

.headerButtonDelete {
  @include styleForText($fontSizeContent, $fontMain, $additionalColorContent);

  float: right;
  margin-top: 9px;
  position: relative;

  &::before {
    content: url("/svg/Group503.svg");
    position: absolute;
    top: 1px;
    left: -22px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 35px -55px -46px -16px;
}

.card {
  width: 22.2%;
  height: 538px;
  margin-bottom: 12px;
  position: relative;
  margin-right: 3%;
}

.cardWrapper {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  padding: 7%;
  pointer-events: none;
}

.cardButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 26px;
  right: -6px;
  z-index: 2;
}

.cardButtonDelete,
.cardButtonShare,
.cardButtonSelect {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-bottom: 7px;
  background-repeat: no-repeat;
}

.cardButtonDelete {
  background-color: $additionalColorContent;
  background-image: url("/svg/Group631.svg");
  background-position: 12px 12px;
}

.cardButtonShare {
  background-color: $green;
  background-image: url("/svg/share1.svg");
  background-position: 9px 10px;
}

.cardButtonSelect {
  background-color: white;
  background-image: url("/svg/Group475.svg");
  background-position: 11px 12px;
}

.cardWrapperActive {
  opacity: 1;
  pointer-events: visible;
}

.cardButtonSelected {
  background-color: $additionalColorContent;
  background-image: url("/svg/Path172.svg");
  background-size: 15px;
  background-position: 11px 12px;
}

@media screen and (max-width: 1640px) {
  .card {
    height: 400px;
    width: 30.2%;
  }
}
