.blog {
  width: 73.4%;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 1730px) {
  .blog {
    width: 93%;
    padding: 0;
  }
}

.headerBlog {
  padding-top: 45px;
  padding-bottom: 32px;
  border-bottom: 1px solid #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 40px;
}

.tag {
  font-size: 12px;
  font-family: "InterMedium", sans-serif;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 14px;
  margin-bottom: 10px;
  display: block;
}

.tag:first-letter {
  text-transform: uppercase;
}

.tag:hover {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
}

.title {
  margin-bottom: 10px;
}

.cardWrapper {
  position: relative;
  overflow: hidden;
}

.cardWrapper > div {
  z-index: 1;
}

.cardWrapper > article {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.show > div {
  display: none;
}

.show > article {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.mainInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 49px;
  position: relative;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.cardWrapper {
  width: 23%;
}

.cardWrapper {
  margin-bottom: 40px;
  margin-right: 2%;
}

.recommendationsWrapper {
  width: 23%;
  max-height: 340px;
  overflow-y: scroll;
}

.addElements {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
  margin-bottom: 200px;
}

.addElementsWrapper {
  width: 53%;
  margin-left: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paginationButtonWrapper {
  width: 246px;
}

@media screen and (max-width: 1410px) {
  .cardWrapper {
    margin-right: 2%;
    width: 30%;
  }
  .recommendationsWrapper {
    width: 32%;
    overflow: auto;
  }
}

@media screen and (max-width: 1225px) {
  .addElementsWrapper {
    width: 67%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 1160px) {
  .cardWrapper {
    width: 47%;
  }
  .recommendationsWrapper {
    width: 47%;
    margin-right: 2%;
  }
}

@media screen and (max-width: 975px) {
  .addElementsWrapper {
    width: 81%;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .addElements {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
  .addElementsWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 71px;
  }
  .paginationButtonWrapper {
    width: 100%;
    margin-top: 30px;
  }
  .headerBlog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .title {
    font-size: 28px;
  }
  .tags {
    margin-left: 0;
    margin-top: 10px;
  }
  .tag {
    font-size: 14px;
  }
  .mainInfo {
    margin-top: 30px;
  }
  .cards {
    width: 100%;
  }
  .cardWrapper {
    margin-bottom: 0;
  }
  .recommendationsWrapper {
    width: 100%;
    margin: 0 0 40px 0;
    height: 381px;
    max-height: 100%;
  }
  .cardWrapper {
    width: 94.4%;
  }
}

@media screen and (max-width: 626px) {
  .cards {
    width: 100%;
  }
  .cardWrapper {
    margin-right: 0;
  }
  .cardWrapper {
    width: 100%;
  }
}
/*# sourceMappingURL=Blog.css.map */