.content {
  width: 73.4%;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 1730px) {
  .content {
    width: 93%;
    padding: 0;
  }
}

.price {
  margin-left: 20px;
}

.loaderWrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart {
  margin-top: 50px;
}

.cartHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countText,
.countTextFirst {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
}

.countText {
  margin-right: 10px;
}

.table {
  margin-top: 31px;
}

.noProductsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px 0;
}

.noProductsTitle {
  text-align: center;
}

.linkShowNews {
  display: block;
  margin-top: 30px;
}

.tableHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tableTitleOne,
.tableTitleTwo,
.tableTitleThree,
.totalPrice {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #b6b6b6;
}

.tableTitleOne {
  width: 69%;
}

.tableTitleTwo {
  width: 27.5%;
}

.line {
  height: 1px;
  width: 100%;
  border: none;
  background: #b6b6b6;
  margin-top: 19px;
}

.lineSecond {
  margin-top: 38px;
}

.totalPriceWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.totalPrice {
  padding-top: 41px;
}

.buttonContinue,
.buttonOrder {
  width: 336px;
  padding-top: 12px;
  padding-bottom: 14px;
  font-family: "InterMedium", sans-serif;
  font-size: 14px;
  text-align: center;
}

.buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 134px;
}

.linkWrapperNews {
  margin-top: 30px;
}

.linkWrapper {
  display: block;
}

.linkWrapper,
.linkWrapperNews {
  width: 298px;
  font-size: 14px !important;
}

.cartItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ececec;
}

.cartItem:last-child {
  border-bottom: none;
}

.cartItemChooseProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 69%;
}

.cartItemImage {
  width: 60px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cartItemMainInfo {
  padding-left: 2.5%;
  padding-top: 8px;
  width: 42%;
}

.cartItemModel {
  font-size: 16px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
}

.cartItemSeries {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #b6b6b6;
  padding-top: 4px;
}

.cartItemMainInfoDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 21px;
}

.cartItemSize {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
}

.cartItemSizeValue {
  font-family: "InterMedium", sans-serif, sans-serif;
}

.colorBock {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 19px;
}

.withBorder {
  border: 1px solid #dadada;
}

.colorInfoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colorText {
  margin-right: 10px;
}

.cartItemColorName {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  display: inline-block;
}

.cartItemButtonDelete {
  font-size: 12px;
  font-family: "InterMedium", sans-serif;
  color: #f04950;
  margin-left: 30px;
}

.cartItemButtonDelete:hover {
  opacity: 0.4;
}

.iconDelete {
  width: 17px;
}

.addToFavourite {
  font-size: 12px;
  font-family: "InterMedium", sans-serif;
  color: #9f9f9f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addToFavourite svg {
  width: 13px;
  height: 14px;
  margin-right: 4px;
}

.addToFavourite svg path {
  stroke: #9f9f9f;
}

.addedToFavourite {
  color: #f04950;
}

.addedToFavourite svg path {
  stroke: #f04950;
  fill: #f04950;
}

.buttonShare {
  margin-left: 22px;
  margin-top: 3px;
  font-size: 12px !important;
}

.counterWrapper {
  margin-left: 0.8%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartItemPrice {
  font-size: 16px;
  font-family: "InterSemiBold";
  color: #0e0e0e;
  width: 22.2%;
  text-align: right;
}

.oldPrice {
  font-size: 14px;
  color: #b6b6b6;
  left: 37px;
  top: 2px;
  padding-right: 6px;
  text-decoration: line-through;
}

.stockPrice {
  color: #f04950;
}

.price {
  font-size: 20px;
  font-family: "InterSemiBold";
  color: #0e0e0e;
  display: inline-block;
}

@media screen and (max-width: 1600px) {
  .cartItemPrice {
    font-size: 17px;
  }
  .oldPrice {
    font-size: 12px;
  }
}

@media screen and (max-width: 1380px) {
  .cartItemPrice {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .cart {
    margin-top: 30px;
  }
  .oldPrice {
    font-size: 18px;
    color: #898686;
  }
  .cartItemPrice {
    margin-top: 15px;
  }
  .cartItemImage {
    width: 60px;
    height: 70px;
  }
  .cartItemChooseProduct {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .countText,
  .countTextFirst {
    font-size: 15px;
  }
  .cartTitle {
    font-size: 24px;
  }
  .table {
    margin-top: 15px;
  }
  .tableHeader {
    display: none;
  }
  .cartItem {
    padding-top: 20px;
    padding-bottom: 146px;
    position: relative;
  }
  .cartItem:last-child {
    padding-bottom: 154px;
  }
  .cartItemSeries {
    font-size: 14px;
  }
  .lineSecond {
    margin-top: 0;
  }
  .totalPrice {
    width: 100%;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 6px;
    padding-top: 27px;
  }
  .price {
    font-size: 22px;
  }
  .cartItemTitle {
    font-size: 17px;
    width: 203px;
    margin-top: -3px;
    max-height: 40px;
    overflow: hidden;
  }
  .noProductsBlock {
    margin: 145px 0 180px 0;
  }
  .noProductsTitle {
    font-size: 24px;
  }
  .linkWrapperNews {
    width: 93%;
    margin-top: 30px;
    font-size: 16px !important;
  }
}

@media screen and (max-width: 768px) {
  .cartItemPrice {
    width: 36.2%;
  }
  .countText,
  .colorText,
  .cartItemSize {
    color: #898686;
  }
  .cartItemSizeValue {
    color: #0e0e0e;
  }
  .cartItemMainInfo {
    width: 33%;
    padding-left: 15px;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cartItemButtonDelete {
    margin-left: 0;
  }
  .counterWrapper {
    margin-left: 0;
  }
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 40px;
    margin-bottom: 55px;
  }
  .linkWrapper {
    width: 100%;
    font-size: 16px !important;
  }
  .linkWrapper:first-child {
    margin-top: 10px;
    width: 99.6%;
  }
  .cartItemMainInfoDetails {
    position: absolute;
    top: 86px;
    left: 0;
  }
}

@media screen and (max-width: 1011px) {
  .cartItemMainInfo {
    width: 34%;
  }
}

@media screen and (max-width: 876px) {
  .cartItemMainInfo {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .cartItemButtonDelete,
  .counterWrapper,
  .cartItemPrice {
    position: absolute;
  }
  .colorText {
    font-family: "InterRegular", sans-serif;
  }
  .addToFavourite {
    position: absolute;
    right: 41px;
    top: -4px;
  }
  .addToFavourite svg {
    width: 22px !important;
    height: 22px !important;
    margin-top: 2px;
    margin-right: 0 !important;
  }
  .cartItemButtonDelete {
    right: 8px;
  }
  .buttonShare {
    position: absolute;
    margin-top: 0;
    right: 81px;
    top: -3px;
  }
  .counterWrapper {
    top: 147px;
    left: 75px;
    width: auto;
  }
  .cartItemColorName,
  .cartItemSize,
  .colorText {
    font-size: 15px;
  }
  .cartItemMainInfoDetails {
    left: 75px;
    top: 46px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .colorBock {
    margin-left: 0;
  }
  .colorInfoWrapper {
    margin-top: 10px;
  }
  .cartItemPrice {
    font-size: 18px;
    width: auto;
    top: 181px;
    left: 75px;
  }
}
/*# sourceMappingURL=Cart.css.map */