.profileFavourite {
  padding-top: 15px;
  padding-left: 35px;
  margin-bottom: -13px;
  border-left: 1px solid #ececec;
  margin-left: -1px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.headerButtonDeleteWrapper {
  width: 100%;
}

.headerButtonDeleteWrapper::after {
  content: "";
  display: block;
  clear: both;
}

.flexButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexButton.active .cardButtonSelect {
  background-color: #f04950;
  background-image: url("/svg/Path172.svg");
}

.flexButton .cardButtonSelect {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #dadada;
  margin-bottom: 0;
  background-position: center;
}

.subHeaderWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottomHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.title {
  font-size: 26px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
}

.headerIconShare {
  stroke: #78b38b;
  fill: #78b38b;
  margin-right: 4px;
}

.selectedBlock {
  padding: 20px 32px 20px 0;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 30%;
  top: -11px;
  border-radius: 6px;
}

.selectedBlockButtonDelete {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #f04950;
  margin-left: 63px;
  position: relative;
}

.selectedBlockButtonDelete::before {
  content: url("/svg/Group503.svg");
  position: absolute;
  top: 1px;
  left: -22px;
}

.selectedBlockButtonCancel {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #b6b6b6;
  margin-left: 42px;
}

.shareButton {
  visibility: hidden;
}

.headerButtonDelete {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #f04950;
  float: right;
  margin-top: 9px;
  position: relative;
}

.headerButtonDelete::before {
  content: url("/svg/Group503.svg");
  position: absolute;
  top: 1px;
  left: -22px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 35px -55px -46px -16px;
}

.card {
  width: 21.4%;
  margin-bottom: 12px;
  position: relative;
  margin-right: 3%;
}

.cardWrapper {
  width: 100%;
  opacity: 0.5;
  padding: 7%;
  pointer-events: none;
  position: relative;
}

.cardWrapper > div {
  z-index: -1;
}

.cardButtons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 26px;
  right: -6px;
  z-index: 2;
}

.cardButtonShare {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-bottom: 7px;
  background-repeat: no-repeat;
}

.cardButtonShare:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.cardButtonDelete {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.cardButtonDelete:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.cardButtonSelect {
  width: 36px;
  height: 36px;
  margin-bottom: 7px;
  background-repeat: no-repeat;
}

.cardButtonSelect:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.cardButtonShare {
  background-color: #78b38b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardButtonDelete {
  background-color: #f04950;
  background-image: url("/svg/Group631.svg");
  background-position: center;
}

.cardButtonSelect {
  background-color: white;
  background-image: url("/svg/Group475.svg");
  background-position: 11px 12px;
}

.cardWrapperActive {
  opacity: 1;
  pointer-events: visible;
}

.cardWrapperActive + .null {
  display: none;
}

.null {
  background-color: #ffa2aa;
  width: 100%;
  text-align: center;
  padding: 12px 0 13px;
  position: absolute;
  left: 7%;
  right: 7%;
  bottom: -10px;
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: white;
  z-index: 998;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .null {
    left: 0;
    bottom: -45px;
  }
}

.cardButtonSelected {
  background-color: #f04950;
  background-image: url("/svg/Path172.svg");
  background-size: 15px;
  background-position: 11px 12px;
}

.notFoundProducts {
  text-align: center;
}

@media screen and (max-width: 1325px) {
  .card {
    width: 28.8%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .cards {
    margin: 70px -55px -51px -23px;
  }
  .card {
    width: 43%;
  }
}

@media screen and (max-width: 768px) {
  .profileFavourite {
    padding: 0 0 100px 0;
    margin-bottom: 0;
    border-left: none;
  }
  .cardButtons {
    right: 0;
  }
  .cardButtonShare {
    margin-top: 10px;
  }
  .subHeaderWrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
  }
  .selectedBlock {
    display: none;
  }
  .title {
    font-size: 28px;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .selectedBlockButtonCancel {
    font-size: 16px;
  }
  .headerButtonDelete {
    float: none;
    font-size: 15px;
    color: white;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: #f04950;
    margin-top: 20px;
  }
  .headerButtonDelete:before {
    content: '';
  }
  .headerButtonDelete:after {
    content: url("/svg/Group631.svg");
    position: absolute;
    right: 21px;
    top: 17px;
  }
  .cards {
    margin: 30px 0 0 0;
  }
  .cardButtonDelete,
  .cardButtonSelect,
  .cardButtonShare {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    margin-right: 5px;
  }
  .cardButtonSelect {
    margin-left: 0;
    background-position: 8px 9px;
  }
  .cardButtonDelete {
    background-position: 8.5px 9px;
  }
  .cardWrapper {
    padding: 0;
  }
  .card {
    padding: 0;
    width: 24.2%;
    margin-right: 1%;
    margin-bottom: 50px;
    min-height: 320px;
  }
  .card article div button {
    display: none;
  }
  .card:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 610px) {
  .card {
    width: 32%;
    margin-right: 2%;
  }
  .card:nth-child(4n) {
    margin-right: 2%;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 510px) {
  .card {
    width: 48%;
    margin-right: 4%;
  }
  .card:nth-child(3n) {
    margin-right: 4%;
  }
  .card:nth-child(even) {
    margin-right: 0;
  }
}
/*# sourceMappingURL=Favourite.css.map */