.footer {
  padding-bottom: 82px;
}

.line {
  height: 1px;
  border: none;
  background-color: #ececec;
  width: 100%;
  margin-bottom: 100px;
}

.container {
  width: 73.4%;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1730px) {
  .container {
    width: 93%;
    padding: 0;
  }
}

.itemOne {
  width: 20.4%;
}

.itemTwo {
  width: 20.4%;
}

.itemThree {
  width: 20.4%;
}

.menuTitle {
  font-size: 14px;
  width: 138px;
  padding-bottom: 19px;
  border-bottom: 1px solid #ececec;
}

.menuTitleLastTitle {
  width: 190px;
}

.menuText {
  font-size: 12px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  line-height: 28px;
}

.menuText:hover {
  opacity: .7;
}

.formLink:hover,
.menuLink:hover {
  opacity: .7;
}

.menuLink {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  display: block;
  padding-top: 16px;
}

.menuItems {
  padding-top: 17px;
}

.childNav {
  margin-top: 141px;
}

.form {
  margin-top: -4px;
  width: 39%;
  position: relative;
}

.inputWrapper {
  padding: 15px 4% 16px 5%;
}

.inputWrapperError {
  border: 1px solid #f04950;
}

.errorInputText {
  font-size: 12px;
  font-family: "InterMedium", sans-serif;
  color: #f04950;
}

.errorInputText:first-letter {
  text-transform: uppercase;
}

.errorStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttonWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 40px;
}

.footerButton {
  width: 197px;
}

.formIcons {
  margin-top: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formIcon {
  margin-right: 21px;
  width: 18px;
  height: 18px;
  display: block;
}

.formIcon svg {
  height: 18px;
  width: 18px;
}

.iconFacebook {
  width: 18px;
  height: 18px;
}

.formIcon:hover {
  opacity: 0.8;
}

.footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}

.langSelect {
  margin-right: 30px;
  position: relative;
}

.langButton {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #202124;
  position: relative;
}

.langButton:after {
  content: url("/svg/Path167.svg");
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -10px;
  top: 1px;
}

.langList {
  position: absolute;
}

.langItemButton {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #202124;
}

.formLink {
  font-size: 12px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
}

.accordion {
  width: 73.4%;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 1730px) {
  .accordion {
    width: 93%;
    padding: 0;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .formIcons {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .footerLinks {
    bottom: 35px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .controlsWrapper > div:first-child {
    width: 100%;
  }
  .controlsWrapper > div:first-child .inputWrapper {
    width: 94%;
  }
  .langSelect {
    margin-left: 10px;
  }
  .footer {
    padding-bottom: 101px;
  }
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .line {
    display: none;
  }
  .form {
    margin-top: 0;
    width: 100%;
    position: static;
  }
  .formChildrenWrapper {
    padding: 40px 3%;
    background: #F8F8F8;
  }
  .titleStocks {
    font-size: 20px;
  }
  .controlsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  .controlsWrapper > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .inputWrapper {
    padding: 18px 6%;
  }
  .buttonWrapper {
    width: 100%;
    max-width: 123px;
    margin-top: 0;
  }
  .footerButton {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .formIcons {
    padding: 40px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .formLink {
    bottom: 16px;
    right: 50%;
    margin-right: 10px;
  }
  .itemOne,
  .itemTwo,
  .itemThree {
    width: 100%;
  }
  .menuLink {
    display: none;
  }
  .menuItems {
    padding-top: 15px;
    padding-left: 20px;
  }
  .menuText {
    font-size: 15px;
  }
  .errorInputText {
    position: absolute;
    top: 176px;
  }
  .errorParagraph {
    position: absolute;
    top: 176px;
  }
}

@media screen and (max-width: 370px) {
  .inputWrapper {
    padding-bottom: 16px;
  }
}
/*# sourceMappingURL=Footer.css.map */