.content {
  width: 73.4%;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 1730px) {
  .content {
    width: 93%;
    padding: 0;
  }
}

.productData {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colors h6 span {
  margin-left: 10px;
}

.colors p,
.buttonsSize p {
  display: none;
}

.colors p.show,
.buttonsSize p.show {
  display: block;
  color: #f04950;
  margin: auto 0 auto 10px;
}

.sliderTitle {
  width: 221px;
  margin-bottom: 15px;
}

.productSlider {
  height: 663px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.productSliderWrapper {
  width: 45.2%;
}

.list {
  height: 100%;
}

.addPhotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 22px;
  position: relative;
  width: 100px;
}

.linkAddImages {
  width: 80px;
  height: 112px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.button {
  margin-bottom: 18px;
}

.slider {
  position: relative;
  width: 84%;
}

.slider.fullWidth {
  width: 100%;
}

.slider.fullWidth .image {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .slider.fullWidth .image {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .image {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.sliderNav {
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.productDetails {
  margin-left: 80px;
  margin-top: 15px;
  width: 50.7%;
}

.productDetailsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productTitleBlock {
  width: 89%;
}

.productTitle {
  width: 100%;
  font-family: "InterRegular", sans-serif;
}

.addInfo {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #b6b6b6;
  position: relative;
  top: 5px;
}

.descModel {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #b6b6b6;
  padding-top: 11px;
}

.buttonLike {
  width: 58px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  margin-top: -5px;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.buttonLike:hover {
  opacity: .5;
}

.buttonLikeSelected svg path {
  fill: #f04950;
}

.buttonHidden {
  display: none !important;
}

.icon {
  width: 27px;
  height: 27px;
}

.addInfoBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.salePrice {
  font-size: 20px;
  font-family: "InterMedium", sans-serif;
  color: #f04950;
  position: relative;
}

.oldPrice {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  position: absolute;
  text-decoration: line-through;
  display: inherit;
  right: -57px;
  top: 2px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
}

.ratingWrapper {
  position: relative;
}

.addFeedback {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  margin-top: 6px;
  margin-right: 9px;
  border-bottom: 1px solid #0e0e0e;
  display: block;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.addFeedback:hover {
  text-decoration: none;
  opacity: .5;
  border-bottom-color: transparent;
}

.countAssessment {
  margin-top: -3px;
  margin-left: -14px;
  display: inline-block;
}

.countFeedbacks {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #b6b6b6;
  display: inline-block;
  margin-left: 0;
  position: absolute;
  top: 2px;
}

.icon {
  fill: #fdbe42;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.iconNoFill {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: #fdbe42;
}

.priceForThree {
  display: inline;
  position: relative;
  padding-left: 5px;
  color: #f04950;
  width: 130px;
}

.priceForThree:hover .prompt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iconBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.iconBlock:hover .prompt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iconQuestion {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.prompt {
  display: none;
  position: absolute;
  bottom: 28px;
  right: -200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  -webkit-box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .prompt {
    width: 220px;
    right: 0;
    z-index: 99;
  }
}

.iconLike {
  width: 34px;
  height: 23px;
  fill: #ffddde;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ececec;
  border: none;
}

.checkCount {
  margin-top: 20px;
}

.lineOne {
  margin-top: 30px;
}

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttonsColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.buttonsColor span {
  margin-right: 10px;
}

.buttonColor {
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 3px;
  margin-right: 8px;
  position: relative;
}

.buttonColor:last-child {
  margin-right: 0;
}

.buttonColor::before {
  content: url("/svg/Path1722.svg");
  position: absolute;
  top: 8px;
  left: 11px;
  visibility: hidden;
}

.withBorder {
  border: 1px solid #dadada;
}

.withBorder::before {
  content: url("/svg/Path1732.svg");
  position: absolute;
  top: 6px;
  left: 8px;
  visibility: hidden;
}

.buttonColorActive::before {
  visibility: visible;
}

.sizes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
  position: relative;
}

.sizesFirstBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonsSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0;
}

.buttonSize {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  padding: 6px 10px;
  background-color: #ececec;
  border-radius: 3px;
  margin-right: 5px;
}

.buttonSize:last-child {
  margin-right: 0;
}

.buttonSizeActive {
  background-color: #0e0e0e;
  color: white;
}

.counterBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

.counter {
  margin-top: 10px;
}

.lineTwo {
  margin-top: 38px;
}

.controlButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 39px;
}

.buttonAddToCart {
  width: 51%;
}

.buttonAddToCart:disabled {
  cursor: no-drop;
}

.buttonBuyOneClick {
  width: 46%;
}

.form {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-top: 10px;
}

.subscribeButton {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  margin-top: 29px;
  border-bottom: 1px solid #0e0e0e;
}

.subscribeButton:hover {
  border-bottom-color: transparent;
}

.featuresBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff3f4;
  margin-top: 40px;
  padding: 30px 0;
}

.featuresItem {
  width: 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featuresItem:last-child .featuresDesc {
  border: none;
}

.featuresIcon {
  width: 32px;
  height: 32px;
}

.featuresDesc {
  font-size: 12px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  width: 100%;
  text-align: center;
  margin-top: 16px;
  border-right: 1px solid #b6b6b6;
}

.productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 77px;
}

.similarProducts {
  width: 47.1%;
  margin-left: -16px;
}

.similarProductsContent {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  margin-left: 14px;
}

.similarProductsCard {
  width: 43.6% !important;
  margin-bottom: 8px;
  padding: 2%;
}

.similarProductsCard > div + ul {
  left: 4.2%;
}

.similarProductsCard:nth-child(odd) {
  margin-right: 4%;
}

.similarProductsCard:nth-child(odd) > div + ul {
  left: 4%;
}

.seenProducts {
  margin-top: 100px;
}

.titleSeenProduct {
  margin-left: 0;
}

.seenProductsContent {
  width: 101%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-left: -13px;
}

.seenProductsCard {
  width: 18% !important;
  padding: 1% !important;
}

.featuresCardsWrapper {
  margin-top: 100px;
  margin-bottom: 200px;
}

.dropdowns {
  margin-top: -216px;
  width: 49%;
  margin-right: 9px;
}

.margin {
  margin-top: -130px;
}

.accordionWrapper {
  padding: 35px 0 30px 36px;
}

@media screen and (min-width: 1100px) {
  .accordionWrapper > a span {
    font-size: 17px !important;
  }
}

.description {
  margin-top: 30px;
  margin-right: 46px;
}

.description > * {
  font-family: "InterRegular", sans-serif;
  font-size: 12px;
}

.description img,
.description iframe {
  width: 100%;
  margin: 20px 0;
  height: 300px;
}

.productVideo {
  margin: 20px 0;
}

.attributesList {
  margin-top: 30px;
}

.attributesItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
}

.attributesItem:last-child {
  margin-bottom: 0;
}

.attributesName,
.attributesValue {
  width: 200px;
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
}

.attributesName {
  color: #b6b6b6;
}

.dropdownBlock {
  padding-top: 38px;
  width: 95%;
}

.dropdownItem {
  margin-bottom: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.dropdownItem:last-child {
  border-bottom: none;
}

.brandContainer {
  width: 95%;
  margin-top: 21px;
}

.brandDesc {
  margin-top: 20px;
}

.brandDesc > * {
  font-family: "InterRegular", sans-serif;
  font-size: 12px;
}

.brandDesc img,
.brandDesc iframe {
  margin: 20px 0;
  width: 100%;
}

.brandDesc iframe {
  height: 300px;
}

.linkToBrand {
  width: 300px;
  margin: 20px auto 0;
  display: block;
}

.iconStar {
  fill: #fdbe42;
  margin-right: 4px;
}

.dropdownFeedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 128px;
  min-width: 128px;
}

.startWrapper {
  margin-bottom: 10px;
}

.dropdownMessage {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  max-width: 400px;
  padding-left: 63px;
}

.dropdownName {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #b6b6b6;
}

.userNameEdit {
  color: #0e0e0e;
}

.linkAddImageWrapper {
  position: absolute;
  top: 0;
  left: 100px;
  border-bottom: 1px solid;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.linkAddImageWrapper:hover {
  border-bottom-color: transparent;
  opacity: .5;
}

.dropdownButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 35px;
}

.buttonControlComment {
  font-size: 12px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  margin-left: 15px;
}

.buttonControlComment:first-child {
  margin-left: 0;
}

.textNoComments {
  width: 100%;
  text-align: center;
  margin-bottom: 54px;
}

.showMore {
  width: 100%;
  margin-bottom: 40px;
}

.dropdownButton {
  width: 311px;
  float: right;
  margin-top: -16px;
  margin-right: 39px;
}

.dropdownButton::after {
  content: "";
  display: block;
  clear: both;
}

.editButton {
  width: 597px;
  float: right;
  margin-top: -16px;
  margin-right: 39px;
}

.sendFeedbackButton {
  margin-top: 35px;
  width: 95.5%;
}

.feedbackForm {
  margin-top: 30px;
}

.formInfo {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #b6b6b6;
}

.userNameValue {
  color: #0e0e0e;
  padding-left: 5px;
}

.fieldFeedbackWrapper {
  position: relative;
}

.fieldInput {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  margin: 5px 0 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #b6b6b6;
  background: transparent;
}

.fieldInput::-webkit-input-placeholder {
  color: #b6b6b6;
}

.fieldInput:-ms-input-placeholder {
  color: #b6b6b6;
}

.fieldInput::-ms-input-placeholder {
  color: #b6b6b6;
}

.fieldInput::placeholder {
  color: #b6b6b6;
}

.fieldFeedback {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  margin-top: 25px;
  padding: 20px;
  width: 89.5%;
  height: 100px;
  border: 1px solid #b6b6b6;
  background: transparent;
}

.fieldFeedback::-webkit-input-placeholder {
  color: #b6b6b6;
}

.fieldFeedback:-ms-input-placeholder {
  color: #b6b6b6;
}

.fieldFeedback::-ms-input-placeholder {
  color: #b6b6b6;
}

.fieldFeedback::placeholder {
  color: #b6b6b6;
}

.chooseRating {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.ratingWrapperForFeedbacks {
  margin-left: 10px;
}

.paymentsWrapper {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.linkDrop {
  font-size: 16px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
}

.notAuthBlockComment {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #dadada;
  padding-top: 50px;
  position: relative;
}

.notAuthBlockTitle {
  width: 302px;
  text-align: center;
  margin-bottom: 40px;
}

.buttonAuthViaFacebook {
  width: 100%;
  margin-bottom: 15px;
}

.noAuthBlockButtons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
}

.facebookButton {
  font-size: 12px;
  font-family: "InterMedium", sans-serif;
  color: white;
  width: 100%;
  padding: 14px 0 15px;
  text-align: center;
  background-color: #0070c9;
  margin-bottom: 15px;
  position: absolute;
  left: 0;
}

.facebookButton:hover {
  background-color: #004786;
}

.linkForLogin {
  font-size: 12px;
  font-family: "InterMedium", sans-serif;
  color: white;
  padding: 14px 0 15px;
  background-color: #f04950;
}

.linkForLogin:hover {
  background-color: #b6353b;
}

.linkForRegistration {
  font-size: 12px;
  font-family: "InterMedium", sans-serif;
  color: #f04950;
  padding: 14px 0 15px;
  border: 1px solid #f04950;
}

.linkForRegistration:hover {
  background-color: #f04950;
  color: white;
}

.linkForLogin,
.linkForRegistration {
  width: 48%;
  text-align: center;
}

@media screen and (max-width: 1640px) {
  .descModel {
    width: 400px;
  }
}

@media screen and (max-width: 1640px) {
  .productSlider {
    height: 684px;
  }
}

@media screen and (max-width: 1474px) {
  .editButton {
    width: 95%;
    margin-right: 29px;
  }
}

@media screen and (max-width: 1381px) {
  .productDetails {
    margin-left: 30px;
    width: 47.7%;
  }
  .productSliderWrapper {
    width: 47%;
  }
  .productInfo {
    margin-top: 40px;
  }
  .dropdowns {
    width: 47.3%;
    margin-right: 6px;
    margin-top: -178px;
  }
  .margin {
    margin-top: -110px;
  }
  .similarProducts {
    width: 49.8%;
  }
}

@media screen and (max-width: 1044px) {
  .descModel {
    width: 269px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .featuresDesc {
    font-size: 11px;
    font-family: "InterMedium", sans-serif;
    color: #0e0e0e;
  }
  .dropdownButton,
  .editButton {
    margin: 0;
    width: 100%;
  }
  .paymentsWrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .productData {
    margin-top: 20px;
  }
  .productTitle {
    display: none;
  }
  .productDetails {
    margin-left: 3%;
    margin-top: 0;
    width: 43.7%;
  }
  .productSliderWrapper {
    width: 54%;
  }
  .slider {
    width: 100%;
    height: 346px;
  }
  .productSlider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addPhotos {
    margin-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .linkAddImages {
    width: 60px;
    height: 70px;
    margin: 0 10px 5px 0;
  }
  .addInfo {
    color: #0e0e0e;
    padding-left: 0;
  }
  .productTitleBlock {
    width: 74%;
  }
  .descModel {
    display: none;
  }
  .addInfoBlock {
    margin-top: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ratingWrapper {
    margin-bottom: 10px;
  }
  .countAssessment {
    margin-top: 0;
    margin-left: 0;
  }
  .countAssessment svg {
    width: 16px;
    height: 16px;
  }
  .countFeedbacks {
    color: #0e0e0e;
    top: 0;
  }
  .price {
    font-size: 24px;
  }
  .addFeedback {
    display: none;
  }
  .line {
    display: none;
  }
  .colors {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .buttonsColor {
    margin-left: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 13px;
  }
  .buttonColor {
    width: 35px;
    height: 35px;
    margin-bottom: 7px;
  }
  .buttonColor::before {
    top: 10px;
    left: 12px;
  }
  .buttonColor:last-child {
    margin-right: 0;
  }
  .linkAddImage {
    width: 100%;
  }
  .sizes {
    margin-top: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .buttonsSize {
    width: 100%;
    top: 1px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 13px;
  }
  .buttonSize {
    width: auto;
    height: 39px;
    background: white;
    border: 1px solid #b6b6b6;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 18px;
    margin-bottom: 8px;
  }
  .buttonSize:last-child {
    margin-right: 0;
  }
  .buttonSizeActive {
    background: #0e0e0e;
  }
  .counterBlock {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .counter {
    margin-left: 0;
    margin-top: 13px;
  }
  .counter button {
    width: 33px;
    height: 33px;
    padding: 0 0 4px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 23px;
  }
  .counter p {
    font-size: 23px;
    font-family: "InterRegular", sans-serif;
  }
  .controlButtons {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seenProducts {
    display: none;
  }
  .buttonAddToCart,
  .buttonBuyOneClick {
    width: 100%;
  }
  .buttonBuyOneClick {
    margin-top: 10px;
  }
  .subscribeButton {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    color: #b6b6b6;
  }
  .featuresBlock {
    display: none;
  }
  .productInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .dropdowns {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    border: 1px solid #dadada;
  }
  .dropdownItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .dropdownBlock {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #dadada;
    margin-top: 18px;
  }
  .description {
    margin-right: 0;
  }
  .brandContainer,
  .linkToBrand {
    width: 100%;
  }
  .dropdownFeedback {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .dropdownName {
    padding-left: 10px;
    font-size: 16px;
  }
  .dropdownButtons {
    position: static;
    margin-top: 10px;
  }
  .buttonControlComment {
    font-size: 16px;
  }
  .startWrapper {
    margin-bottom: 0;
  }
  .startWrapper svg {
    width: 16px;
    height: 16px;
  }
  .dropdownMessage {
    padding-left: 0;
    font-size: 16px;
    margin-top: 4px;
  }
  .paymentsWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdownButton {
    width: 100%;
    margin-right: 0;
  }
  .sendFeedbackButton {
    width: 100%;
  }
  .editButton {
    width: 100%;
    margin-right: 0;
  }
  .similarProducts {
    margin-top: 40px;
    width: 100%;
  }
  .similarProductsContent {
    margin-right: 0;
    margin-left: 16px;
    width: 100%;
  }
  .similarProductsCard {
    padding: 0;
    width: 24.2% !important;
    margin-right: 1% !important;
    margin-bottom: 20px;
  }
  .similarProductsCard:nth-child(4n) {
    margin-right: 0 !important;
  }
  .featuresCardsWrapper {
    margin-bottom: 90px;
    margin-top: 50px !important;
  }
  .seenProductsContent {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .notAuthBlockComment {
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  .similarProductsCard {
    width: 32% !important;
    margin-right: 2% !important;
  }
  .similarProductsCard:nth-child(4n) {
    margin-right: 2% !important;
  }
  .similarProductsCard:nth-child(3n) {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 521px) {
  .productData {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .productSliderWrapper {
    width: 100%;
  }
  .productSlider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 466px;
  }
  .slider {
    height: 100%;
  }
  .addPhotos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 5px;
    margin-right: 0;
  }
  .productDetails {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
  .productTitleBlock {
    width: 100%;
  }
  .buttonLike {
    position: absolute;
    top: 5%;
    right: 80px;
    opacity: 0.7;
  }
  .subscribeButton {
    padding-bottom: 40px;
    border-bottom: 1px solid #dadada;
  }
}

@media screen and (max-width: 510px) {
  .similarProductsCard {
    width: 48% !important;
    margin-right: 4% !important;
  }
  .similarProductsCard:nth-child(3n) {
    margin-right: 4% !important;
  }
  .similarProductsCard:nth-child(even) {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 404px) {
  .productSlider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 350px;
  }
  .buttonLike {
    top: 6%;
    right: 85px;
  }
}
/*# sourceMappingURL=Product.css.map */