@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.CartItem {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  &__ChooseProduct {
    display: flex;
    width: 68%;
  }

  &__MainInfo {
    padding-left: 2.5%;
    padding-top: 8px;
  }

  &__Model {
    @include styleForText(20px);
  }

  &__Series {
    @include styleForText(16px, $fontAdditional, $colorInfo);

    padding-top: 4px;
  }

  &__MainInfoDetails {
    display: flex;
    padding-top: 21px;
  }

  &__Size {
    @include styleForText(16px, $fontAdditional);
  }

  &__SizeValue {
    font-family: $fontMain, sans-serif;
  }

  &__ColorName {
    @include styleForText(16px, $fontAdditional);
    display: inline-block;
  }

  &__Buttons {
    display: flex;
    margin-left: 16%;
    margin-top: 1px;
  }

  &__ButtonAddText {
    @include styleForText(16px, $fontMain);

    padding-left: 4px;
  }

  &__ButtonDelete {
    @include styleForText(16px, $fontMain, $additionalColorContent);

    margin-left: 30px;

    &:hover {
      opacity: 0.4;
    }
  }

  &__CounterProducts {
    display: flex;
    margin-left: 8px;
    width: 25.1%;
  }

  &__ButtonChangeCount {
    @include styleForText(16px, $fontAdditional);

    background-color: $colorIndicators;
    border-radius: 3px;
    padding: 1px 0 3px;
    width: 24px;
    text-align: center;
  }

  &__CouuntProductIndicator {
    @include styleForText(16px);

    border-bottom: 1px solid $colorInfo;
    padding: 0 0 4px;
    text-align: center;
    width: 32px;
    margin: 0 10px 0;
  }

  &__Price {
    @include styleForText(20px, "InterSemiBold");
  }
}

@media screen and (max-width: 1600px) {
  .CartItem {
    &__Price {
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 1380px) {
  .CartItem {
    &__Price {
      font-size: 14px;
    }
  }
}
