@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.errorText {
  @include styleForText(12px, $fontMain, $additionalColorContent);

  margin-top: -2px;
  margin-bottom: 6px;

  &:first-letter {
    text-transform: uppercase;
  }
}
