@import "../../../scss/core/mixins";

.BlogRecomendation {
  width: 283px;
  height: 468px;

  &__Title {
    @include styleForText(22px);
  }

  &__Cards {
    margin-top: 29px;
  }

  &__Card {
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 19px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__CardTitle {
    @include styleForText();
  }

  &__CardButton {
    @include styleForText(16px, $fontAdditional);

    margin-top: 12px;
    display: inline-block;
  }

  &__CardButtonBlue {
    color: #0381a2;
  }

  &__CardButtonRed {
    color: #da0f47;
    margin-left: 8px;
  }
}
