@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 46px;
  background-color: $colorIndicators;
  padding: 0 24px;
  position: relative;
  z-index: 1;
}

.paginationArrowLeft,
.paginationArrowRight {
  stroke: $colorContent;
  fill: $colorContent;
  margin-bottom: 2px;
}

.paginationArrowLeft {
  transform: rotate(-180deg);
  margin-right: 7px;
}

.paginationArrowRight {
  margin-left: 7px;
}

.disabledArrow svg {
  stroke: $colorInfo;
  fill: $colorInfo;
}

.previousButton,
.nextButton {
  &:focus {
    outline: none;
  }
}


.paginationPageButton {
  @include styleForText(12px, $fontMain, $colorInfo);
}

.paginationPageButtonActive {
  color: $colorContent;

  &:focus {
    outline: none;
  }
}

.breakDots {
  color: $colorInfo;
}

@media screen and (max-width: 768px) {
  .pagination {
    width: 92%;
    padding: 0 4%;
    background-color: white;
  }

  .threeItemsPagination {
    width: 59%;
    padding: 0 20.4%;
  }

  .fourItemsPagination {
    width: 74%;
    padding: 0 12.8%;
  }

  .twoItemsPagination {
    width: 37%;
    padding: 0 31.4%;
  }

  .paginationArrowLeft,
  .paginationArrowRight {
    display: none;
  }

  .paginationPageButton {
    padding: 21px 20px 17px;
    background-color: $colorIndicators;
    font-size: $fontSizeMobile;
  }

  .paginationPageButtonActive {
    color: white;
    background-color: $colorContent;
  }
}

@media screen and (max-width: 368px) {
  .paginationPageButton {
    padding: 18px 17px 14px;
  }
}
