@import '../../../../../scss/core/vars';
@import '../../../../../scss/core/mixins';
.list {
  margin: 0 0 0 10%;
  width: 90%;
}
.block {
  display: flex;
  padding-right: 10px;
  box-sizing: border-box;
}

svg {
  margin-left: auto;
  cursor: pointer;
}

.subcategory {
  @include styleForText($fontSizeContent, $fontSemiBold);
  cursor: pointer;
  margin-bottom: 7px;
  font-size: 12px;
  font-family: 'InterRegular', sans-serif;
  padding-left: 8px;
  &:hover {
    color: $additionalColorContent;
  }
}
