@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.form {
  width: 399px;
  padding: 48px 66px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.closeButton {
  position: absolute;
  right: 30px;
  top: 30px;
}

.links {
  margin-top: 29px;
  display: flex;
  border: 1px solid $colorInfo;
  width: 100%;
}

.routeLink {
  @include styleForText($fontSizeContent, $fontMain, $colorInfo);

  width: 50%;
  text-align: center;
  padding: 15px 0;
}

.linkActive {
  @include styleForText();

  border: 1px solid $colorContent;
}

.inputs {
  width: 100%;
  margin-top: 27px;
}

.inputWrapper {
  width: 100%;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.errorMessage {
  margin-top: 12px;
}

.checkboxWrapper {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
}

.labelBefore::before {
  background-color: $colorContent !important;
  border: 1px solid $colorContent !important;
}

.forgotPasswordButton {
  @include styleForText(16px, $fontMain, $colorInfo);

  text-decoration: underline;
}

.facebookButton {
  @include styleForText(16px, $fontMain, white);

  width: 399px;
  padding: 14px 0 15px;
  text-align: center;
  background-color: $colorForLink;
  margin-bottom: 15px;
}

.text {
  @include styleForText(16px);

  width: 100%;
  margin-top: 30.2px;
  text-align: left;
}

.registrationLink {
  color: $colorForLink;
  padding-left: 7px;
}
