@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.input::placeholder {
  color: $colorInfo;
}

.inputUserForm {
  @include styleForText(15px, $fontAdditional);

  width: 100%;
  border: none;
  border-bottom: 1px solid $colorContent;
  padding-bottom: 11px;
  padding-left: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.inputForInfo {
  @include styleForText(20px, $fontAdditional);

  border: 1px solid #b6b6b6;
  padding: 13px 1px 12px 19px;
}

.footerInput {
  display: block;
  width: 90.1%;
  border: 1px solid $colorInfo;
  margin-top: 40px;
  padding: 13px 31px 17px 31px;

  @include styleForText($fontSizeContent, $fontAdditional);
}
