@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.input {
  @include styleForText($fontSizeContent, $fontAdditional);

  width: 98.8%;
  border: none;
  border-bottom: 1px solid $colorContent;
  padding-bottom: 16px;
  padding-left: 6px;

  &::placeholder {
    color: $colorInfo;
  }

  &:nth-child(2) {
    margin-top: 50px;
  }
}
