@import "../../../scss/index";

.Header {
  @include container();

  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__Nav {
    margin-left: 65px;
  }

  &__NavItems {
    display: flex;
  }

  &__NavItem {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__NavLink {
    @include styleForText(18px);

    &:hover {
      color: $additionalColorContent;
    }
  }

  &__Logo {
    width: 150px;
  }

  &__Icons {
    margin-top: 4px;
  }

  &__Icon {
    width: 22px;
    height: 22px;

    &:active {
      fill: $additionalColorContent;
    }
  }

  &__IconLink {
    margin-right: 26px;

    &:last-child {
      margin-right: 0;
    }
  }
}
