.slider {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.781);
  box-sizing: border-box;
  padding: 20px 0;

  &__wrapper {
    top: 50%;
    transform: translateY(-50%);
    max-height: 700px;
    height: 100%;
    position: relative;
    & > div:first-child {
      height: 100%;
    }
    div {
      max-height: 700px;
      height: 100%;

      // display: flex;
      // justify-content: center;
      // align-items: center;
    }

    figure {
      height: 100%;
      max-height: 700px;
      transform: translateX(-50%);
      left: 50%;
      box-shadow: 0 2px 5px rgba(50, 50, 50, 10%);
    }

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 9999;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
    * {
      stroke: #fff;
      fill: #fff;
      color: #fff;
    }
  }
  &__image {
    z-index: 9999;
  }
  &__buttons {
    height: auto !important;
    width: auto !important;
    position: absolute;
    min-width: 172px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 12px 5px;
  }
  &__counter {
    height: auto !important;

    padding: 10px 20px;
  }
  &__button {
    height: auto !important;

    padding: 8px 15px;

    &:first-child {
      border-right: 1px solid #eee;
      svg {
        transform: rotate(180deg);
      }
    }
    &:last-child {
      border-left: 1px solid #eee;
    }
  }
}
@media screen and (max-width: 768px) {
  .slider {
    padding: 40px 0;
    &__wrapper {
      max-height: 600px;
      div {
        max-height: 600px;
      }
      figure {
        max-height: 600px;
      }
    }
  }
}
