.cardWrapper {
  position: relative;
  overflow: hidden;
  width: 23%;
  margin-bottom: 40px;
  margin-right: 2%;

  & > div {
    z-index: 1;
  }

  & > article {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
  }
}

.show > div {
  display: none;
}

.show > article {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 1s;
}

@media screen and (max-width: 1410px) {
  .cardWrapper {
    margin-right: 2%;
    width: 30%;
  }
}

@media screen and (max-width: 1160px) {
  .cardWrapper {
    width: 47%;
  }
}

@media screen and (max-width: 768px) {
  .cardWrapper {
    margin-bottom: 0;
    width: 94.4%;
  }
}

@media screen and (max-width: 626px) {
  .cardWrapper {
    margin-right: 0;
    width: 100%;
  }
}
