@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.SeenProducts {
  @include container();

  &__RowContent {
    margin-top: 36px;
    display: flex;
    margin-left: -15px;
  }

  &__Title {
    @include styleForText($fontSizeForTitle);

    padding-top: 42px;
  }

  &__Card {
    width: 18.1%;
    margin-right: 36px;
    height: 568px;
  }
}
