@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.card {
  position: relative;
  background: white;
  z-index: 1;
}

.card:last-child {
  margin-right: 0;
}

.card:hover {
  outline: 1px solid $colorInfo;
  z-index: 2;
}


.hintWrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.hintIcon {
  &:hover {
    cursor: pointer;

    & + .hintHoverBlock {
      display: block;
    }
  }

  & circle {
    fill: #b3a8a8;
  }
}

.hintHoverBlock {
  width: 232px;
  min-height: 100px;
  position: absolute;
  display: none;
  right: -79px;
  top: 14px;

  &:hover {
    display: block;
  }
}

.hint {
  width: 100%;
  padding: 18px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 19px;
  z-index: 99;
  box-shadow: 0 10px 99px #0000000D;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    z-index: 98;
    background: white;
    top: -9px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
}

.hintTitle {
  margin-bottom: 20px;
}

.hintDesc {
  line-height: 18px;
  margin-bottom: 15px;
}

.hintLink {
  @include styleForText($fontSizeContent, $fontMain, $colorForLink);

  position: relative;
  padding-bottom: 2px;

  &:hover {
    border-bottom: 1px solid $colorForLink;
  }
}

.colors {
  display: none;
}

.withBorder {
  border: 1px solid $colorBorder;
}

.card:hover .colors {
  display: flex;
  justify-content: space-between;
}

.slider {
  position: relative;
}

.sliderImage {
  width: 100%;
  height: 100%;

  &:hover {
    cursor: pointer;
  }
}

.wrappersView {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.imageMobileWrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.list {
  height: 100%;
}

.buttonLeft,
.buttonRight {
  position: absolute;
  top: 42%;
  display: none;
}

.buttonLeft {
  left: 17px;
}

.buttonRight {
  right: 18px;
}

.card:hover .buttonLeft,
.card:hover .buttonRight,
.card:hover .buttonBuy,
.card:hover .buttonLike,
.card:hover .contentInfo .colors {
  display: block;
}

.likeIconSelect {
  position: absolute;
  top: 11px;
  left: 9px;
}

.buttonAddToFavouriteSelect {
  background: #ff3371;
}

.likeIconSelectMobile {
  position: absolute;
  top: 6px;
  left: 4px;
}

.buttonsGroup {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.buttonBuy {
  position: absolute;
  background-color: white;
  width: 130px;
  text-align: center;
  padding: 12px 0 13px;
  bottom: 6%;
  left: 50%;
  margin-left: -65px;
  display: none;

  @include styleForText();
}

.buttonLike {
  display: none;
  margin-left: 5px;
  border-radius: 52%;
  width: 42px;
  height: 42px;
  position: absolute;
  top: -40px;
  right: -115px;
}

.buttonLikeMobile {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  bottom: 11px;
  left: 5px;
}

.icon {
  position: absolute;
  top: 16px;
  left: 14px;
}

.content {
  padding-top: 30px;
}

.contentTitle {
  @include styleForText();
}

.featuresItems {
  margin-top: 5px;
  max-height: 44px;
  overflow: hidden;
}

.featuresItem {
  @include styleForText(12px, $fontAdditional);

  position: relative;
  padding-top: 7px;
  padding-left: 12px;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $colorInfo;
  }
}

.contentInfo {
  display: flex;
  justify-content: flex-end;
  padding-top: 9px;
}

.card:hover .contentInfo {
  justify-content: space-between;
  padding-top: 14px;
}

.prices {
  display: flex;
}

.contentNewPrice {
  @include styleForText($fontSizeContent, $fontMain, $additionalColorContent);
}

.contentOldPrice {
  @include styleForText(10px, $fontAdditional, $colorInfo);

  text-decoration: line-through;
  margin-left: 5px;
}

@media screen and (max-width: 1640px) {
  .content {
    padding-top: 8px;
  }
}

@media screen and (max-width: 768px) {
  .content > h6 {
    text-align: center;
  }

  .featuresItems {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentInfo {
    justify-content: center;
  }

  .card:hover {
    outline: none;
  }

  .colors {
    display: none;
  }
}

@media screen and (max-width: 510px) {
  .wrappersView {
    height: 283px;
  }
}

@media screen and (max-width: 435px) {
  .wrappersView {
    height: 234px;
  }
}

@media screen and (max-width: 388px) {
  .wrappersView {
    height: 209px;
  }
}
