@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.card {
  width: 412px;
}

.featuresList {
  margin-top: 27px;
  margin-left: 52px;
}

.featuresItem {
  @include styleForText(16px);

  position: relative;
  margin-bottom: 11px;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $colorContent;
    left: -16px;
    top: 5px;
  }
}

.cardDesc {
  @include styleForText(16px, $fontAdditional);

  margin-top: 30px;
  margin-left: 36px;
  line-height: 22px;
}
