@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.MainBlogComponent {
  &__WrapperContent {
    @include container();

    display: flex;
  }

  &__LinkBack {
    @include styleForText($fontSizeContent, $fontMain, #0070c9);

    display: block;
    margin-top: 81px;
    margin-left: 572px;
    margin-bottom: 31px;
  }

  &__LinkBackBottom {
    margin-top: 35px;
  }

  &__IconArrow {
    margin-right: 4px;
  }

  &__Line {
    @include container();

    height: 1px;
    border: none;
    background-color: $colorIndicators;
    margin-top: 108px;
    margin-bottom: 109px;
  }

  &__Products {
    @include container();

    padding-bottom: 197px;
  }
}
