.noresultBlock {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notFoundText {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.buttonsBlock {
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  button + button {
    margin-left: 10px;
  }
}
