@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.similarProducts {
  width: 45.7%;
  margin-left: -16px;
}

.rowContent {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
}

.title {
  @include styleForText($fontSizeForTitle);

  margin-left: 14px;
}

.card {
  width: 46.6%;
  margin-bottom: 8px;
  height: 538px;

  &:nth-child(odd) {
    margin-right: 35px;
  }
}

@media screen and (max-width: 1640px) {
  .card {
    height: 400px;
  }
}
