@import '../../scss/core/vars';
@import '../../scss/core/mixins';

.navPanelMobile {
  margin-top: 25px;
  border-bottom: 1px solid $colorIndicators;
}

.active {
  position: relative;
}

.navPanelItemMobile {
  margin-right: 20px;
  padding-left: 0;
  padding-bottom: 13px;

  &:first-child {
    padding-left: 30px;
  }
}

.linkMobile {
  @include styleForText(15px);

  padding-bottom: 13px;
}

.linkMobileActive {
  border-bottom: 1px solid $colorContent;
}

.buttonExit {
  @include styleForText(16px, $fontMain, $additionalColorContent);

  opacity: 0.5;
  margin-top: 35px;
  display: block;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: -6px;
  height: 100%;
  background: $colorWhite;
}

.arrowLeft {
  left: 0;

  & svg {
    transform: rotate(-180deg);
  }
}

.arrowRight {
  right: 0;
}

@media screen and (max-width: 768px) {
  .buttonExit {
    margin-top: 0;
  }
}
