@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.ProductsComponent {
  display: flex;

  &__LeftSide {
    width: 314px;
  }

  &__Field {
    display: none;
  }

  &__ControllersWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  &__LeftSideControllerWrapper {
    padding-bottom: 37px;
    border-bottom: 1px solid #dadada;
  }

  &__CategoriesWrapper {
    margin-top: 23px;
  }

  &__RightSide {
    width: 78.6%;
    padding-left: 35px;
    border-left: 1px solid #dadada;
  }

  &__Cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 14px;
    margin-left: -13px;
  }

  &__Card {
    width: 23.2%;
    height: 534px;
    margin-bottom: 12px;
  }

  &__AddElements {
    display: flex;
    margin-top: 66px;
  }

  &__ShowMoreButton {
    @include styleForButton(246px);
    @include styleForBackground();

    margin-left: 15%;
    letter-spacing: -1px;
  }
}

@media screen and (max-width: 1640px) {
  .ProductsComponent {
    &__Card {
      height: 400px;
    }
  }
}
