@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.indicators {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.indicatorsButtons {
  display: flex;
  align-items: center;
}

.indicatorsDeleteButton {
  @include styleForText($fontSizeContent, $fontMain, $additionalColorContent);
  position: relative;

  &::before {
    content: url("/svg/Group503.svg");
    position: absolute;
    left: -21px;
  }
}

.indicatorsItem {
  @include styleForText(14px, $fontAdditional);

  padding: 3px 18px 4px 6px;
  background-color: $colorIndicators;
  margin-left: 21px;
  border-radius: 3px;
  position: relative;
}

.indicatorsButtonItem {
  position: absolute;
  right: 2px;
  top: 1px;

  &::after {
    content: url("/svg/Group600.svg");
    position: absolute;
    right: 5px;
    top: 2px;
  }
}
