@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.content {
  @include customContainer(85.4%);
}

.nav {
  position: relative;
  border-right: 1px solid $colorIndicators;
  height: 447px;
}

.navPanel {
  margin-top: 27px;
  margin-bottom: 162px;
  display: flex;
}

.switcher {
  @include styleForText();

  border-bottom: 1px solid $colorIndicators;
  display: block;
  padding: 22px 0;
  width: 313px;
  text-align: start;
  margin-bottom: -5px;
  position: relative;

  &::after {
    content: url("/svg/Path167.svg");
    position: absolute;
    right: 39px;
    top: 21px;
    opacity: 0;
  }
}

.active {
  background: #f8f8f8;
  padding-left: 20px;
  width: 293px;

  &::after {
    opacity: 1;
  }
}

.item {
  width: 81%;
  display: none;
}

.text {
  display: block;
  width: 200px;
}

.buttonExit {
  @include styleForText(16px , $fontMain, $additionalColorContent);

  opacity: 0.5;
  margin-top: 35px;
  display: block;
}

.contentChild {
  width: 79%;
}
