@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.content {
  @include container();
}

.nav {
  position: relative;
  border-right: 1px solid $colorIndicators;
}

.desc {
  display: block;
}

.mob {
  display: none;
}

.navPanel {
  margin-top: 27px;
  margin-bottom: 162px;
  display: flex;
}

.switcher {
  @include styleForText(16px, $fontMain);

  border-bottom: 1px solid $colorIndicators;
  display: block;
  padding: 22px 0;
  width: 313px;
  text-align: start;
  margin-bottom: -5px;
  position: relative;

  &:last-child {
    border: none;
  }

  &::after {
    content: url('/svg/Path167.svg');
    position: absolute;
    right: 39px;
    top: 21px;
    opacity: 0;
  }
}

.switcher.active {
  background: #f8f8f8;
  border-top: 1px solid $colorIndicators;
  padding-left: 20px;
  width: 293px;
  @include styleForText(16px, $fontSemiBold);

  &::after {
    opacity: 1;
  }
}

.item {
  width: 81%;
  display: none;
}

.text {
  display: block;
  width: 200px;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.5;
  }
}

.buttonExit {
  @include styleForText(14px, $fontMain, $additionalColorContent);

  opacity: 0.5;
  margin-top: 35px;
  display: block;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

.contentChild {
  width: 79%;
}

.contentChildMobile {
  width: 100%;
  margin-top: 50px;
  box-sizing: border-box;
}

.navPanelMobile {
  margin: 25px 20px 0 20px;
  box-sizing: border-box;
  position: relative;

  &_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;
    overflow: hidden;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $colorIndicators;
    z-index: -1;
  }

  ul {
    margin-bottom: 1px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .switcher {
    width: 250px;
  }

  .active {
    width: 230px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    @include containerFluid();
  }
  .contentChild {
    width: 100%;
  }

  .desc {
    display: none;
  }

  .mob {
    display: block;
  }
}
