@import "vars";

@mixin styleForText ($fontSize: $fontSizeContent, $fontFamily: $fontMain, $color: $colorContent) {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $color;
}

@mixin styleForBorderButton {
  border: 1px solid $colorContent;
  color: $colorContent;
}

@mixin styleForBackground {
  background-color: $colorContent;
  color: white;
}

@mixin styleForButton ($width) {
  width: $width;
  padding-top: 16px;
  padding-bottom: 18px;
  font-family: "InterMedium", sans-serif;
  font-size: 18px;
}

@mixin container () {
  width: 85.2%;
  padding: 0 15px;
  margin: 0 auto;
}
