@mixin styleForText ($fontSize: $fontSizeContent, $fontFamily: $fontMain, $color: $colorContent) {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $color;
}

@mixin styleForBorderButton {
  border: 1px solid $colorContent;
  color: $colorContent;
}

@mixin styleForBackground {
  background-color: $colorContent;
  color: white;
}

@mixin styleForButton ($width: auto) {
  width: $width;
  padding-top: 12px;
  padding-bottom: 14px;
  font-family: "InterMedium", sans-serif;
  font-size: 14px;
  text-align: center;
}

@mixin container () {
  width: 73.4%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (max-width: 1730px) {
    width: 93%;
    padding: 0;
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin customContainer ($width) {
  width: $width;
  margin: 0 auto;
  padding: 0;
}

@mixin styleWithPrefix ($property, $value) {
  #{'-webkit-' + $property}: $value;
  #{'-moz-' + $property}: $value;
  $property: $value;
}
