$colorContent: #0e0e0e;
$additionalColorContent: #f04950;
$colorInfo: #b6b6b6;
$colorForLink: #0070c9;
$colorIndicators: #ececec;
$colorRedOpacity: #fff3f4;
$colorBorder: #dadada;
$green: #78b38b;
$colorCheckbox: #ffa2aa;

$fontMain: "InterMedium", sans-serif;
$fontAdditional: "InterRegular", sans-serif;
$fontSizeContent: 18px;
$fontSizeForTitle: 24px;
