$colorContent: #0e0e0e;
$additionalColorContent: #f04950;
$colorInfo: #b6b6b6;
$colorWhite: #fff;
$colorForLink: #0070c9;
$colorIndicators: #ececec;
$colorRedOpacity: #fff3f4;
$colorBorder: #dadada;
$colorGreyButton: #b1b1b1;
$green: #78b38b;
$darkGreen: rgba(227, 243, 217, 0.6);
$colorCheckbox: #ffa2aa;

$fontMain: "InterMedium", sans-serif;
$fontAdditional: "InterRegular", sans-serif;
$fontSizeContent: 14px;
$fontSizeForTitle: 20px;
$fontSizeMobile: 16px;
$fontLight: "InterLight", sans-serif;
$fontSemiBold: "InterSemiBold", sans-serif;
