$colorContent: #0e0e0e;
$additionalColorContent: #f04950;
$giftCardColor: #202124;
$colorInfo: #b6b6b6;
$colorWhite: #fff;
$colorForLink: #0070c9;
$colorIndicators: #ececec;
$colorRedOpacity: #fff3f4;
$colorBorder: #dadada;
$accordionActive: #f8f8f8;
$colorGreyButton: #b1b1b1;
$green: #78b38b;
$darkGreen: #e3f3d999;
$colorCheckbox: #ffa2aa;

$fontMain: 'InterMedium', sans-serif;
$fontAdditional: 'InterRegular', sans-serif;
$fontSizeContent: 14px;
$fontSizeForTitle: 20px;
$fontSizeMobile: 16px;
$fontLight: 'InterLight', sans-serif;
$fontSemiBold: 'InterSemiBold', sans-serif;
