@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.card {
  position: relative;
  background: white;
  z-index: 1;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    outline: 1px solid $colorInfo;
    z-index: 2;
  }

  &:hover .linkBuy {
    display: block;
  }

  &:hover .colors {
    display: flex;
    justify-content: space-between;
  }

  &:hover .buttonLeft,
  &:hover .buttonRight {
    display: block;
  }
}

.slider {
  position: relative;
  height: 77%;
}

.sliderImage {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(-50%, -50%, 0);
  width: auto;
  height: 100%;
}

.list {
  height: 100%;
}

.buttonLeft,
.buttonRight {
  position: absolute;
  top: 42%;
  display: none;
}

.buttonLeft {
  left: 17px;
}

.buttonRight {
  right: 18px;
}

.linkBuy {
  position: absolute;
  background-color: white;
  width: 130px;
  text-align: center;
  padding: 12px 0 13px;
  bottom: 6%;
  left: 50%;
  margin-left: -65px;
  display: none;

  @include styleForText();
}

.content {
  padding-top: 20px;
}

.contentInfo {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.contentColors {
  @include styleForText(12px, $colorInfo, $colorInfo);
}

.prices {
  display: flex;
}

.contentNewPrice {
  @include styleForText($fontSizeContent, $fontMain, $additionalColorContent);
}

.contentOldPrice {
  @include styleForText(10px, $fontAdditional, $colorInfo);

  text-decoration: line-through;
  margin-left: 5px;
  margin-top: 3px;
}

.colors {
  padding-top: 14px;
  display: none;
  position: relative;
}

.buttonAddToFavourite {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  right: 0;
  top: 4px;
}

.buttonAddToFavouriteSelect {
  background: #ff3371;
}

.likeIcon {
  position: absolute;
  top: 9px;
  left: 7px;
}

@media screen and (max-width: 1640px) {
  .content {
    padding-top: 8px;
  }
}
