@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.profileViewed {
  padding-top: 16px;
  padding-left: 37px;
  border-left: 1px solid #dadada;
}

.title {
  @include styleForText(26px);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 35px -55px -46px -16px;
}

.cardProduct {
  width: 22.2%;
  height: 483px;
  margin-bottom: 12px;
  padding: 1%;
}

.cardPresent {
  width: 22.2%;
  height: 481px;
  margin-bottom: 12px;
  padding: 1%;
}

@media screen and (max-width: 1525px) {
  .cardProduct,
  .cardPresent {
    height: 404px;
  }
}

@media screen and (max-width: 1325px) {
  .cardProduct,
  .cardPresent {
    width: 28.8%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .cards {
    margin-left: 0;
    margin-right: 0;
  }

  .cardProduct,
  .cardPresent {
    width: 48%;
    height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .profileViewed {
    padding: 0 0 100px 0;
    border-left: none;
  }

  .title {
    font-size: 20px;
  }

  .cards {
    margin: 30px 0 0 0;
  }

  .cardProduct,
  .cardPresent  {
    padding: 0;
    width: 24.2%;
    height: 265px;
    margin-right: 1%;
    margin-bottom: 71px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 610px) {
  .cardProduct,
  .cardPresent {
    width: 32%;
    height: 290px;
    margin-right: 2%;

    &:nth-child(4n) {
      margin-right: 2%;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}


@media screen and (max-width: 510px) {
  .cardProduct,
  .cardPresent {
    width: 48%;
    height: 344px;
    margin-right: 4%;

    &:nth-child(3n) {
      margin-right: 4%;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .cardProduct,
  .cardPresent {
    height: 279px;
  }
}
