@import '../../../../scss/core/vars';
@import '../../../../scss/core/mixins';

.profileViewed {
  padding-top: 16px;
  padding-left: 37px;
  border-left: 1px solid #ececec;
  margin-left: -1px;
}

.title {
  @include styleForText(26px);
}

.cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 35px -55px -46px -16px;
}

.cardProduct {
  width: 22.2%;
  margin-bottom: 12px;
  padding: 1%;
}

.cardPresent {
  width: 22.2%;
  margin-bottom: 12px;
  padding: 1%;
}

@media screen and (max-width: 1325px) {
  .cardProduct,
  .cardPresent {
    width: 28.8%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .cards {
    margin-left: 0;
    margin-right: 0;
  }

  .cardProduct,
  .cardPresent {
    width: 48%;
  }

  .cardProductWithAddPrice {
    width: 509px;
  }
}

@media screen and (max-width: 768px) {
  .profileViewed {
    padding: 0 20px 30px 20px;
    border-left: none;
  }

  .title {
    font-size: 20px;
  }

  .cards {
    margin: 30px 0 0 0;
  }

  .cardProduct,
  .cardPresent,
  .cardProductWithAddPrice {
    padding: 0;
    width: 24.2%;
    margin-right: 1%;
    margin-bottom: 71px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 610px) {
  .cardProduct,
  .cardPresent {
    width: 32%;
    margin-right: 2%;

    &:nth-child(4n) {
      margin-right: 2%;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 510px) {
  .cardProduct,
  .cardPresent {
    width: 48%;
    margin-right: 4%;

    &:nth-child(3n) {
      margin-right: 4%;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
