@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.profileViewed {
  padding-top: 16px;
  padding-left: 37px;
  border-left: 1px solid #dadada;
}

.title {
  @include styleForText(30px);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 35px -55px -46px -16px;
}

.card {
  width: 22.2% !important;
  height: 534px !important;
  margin-bottom: 12px;
  padding: 1%;
}

@media screen and (max-width: 1640px) {
  .card {
    width: 30%;
  }
}
