@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.menu {
  position: absolute;
  width: 1239px;
  height: 500px;
  z-index: 9;
  left: 50%;
  margin-left: -662px;
  top: 20px;
  box-shadow: 0 10px 99px #0000000F;
  border-radius: 10px;
  padding: 40px 50px 50px 60px;
  background: white;
}

.mainProductsList {
  border-right: 1px solid $colorIndicators;
  position: relative;
  width: 239px;

  @media screen and (min-width: 768px) {
    max-height: 400px;
    height: 100%;
  }
}

.mainProductsItem {
  padding: 10px 0 10px 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: #f4f6f8;
    color: $additionalColorContent;

    & .subProductsList {
      display: block;
      background: #f4f6f8;
      padding-top: 10px;
      top: 0;
      height: 100%;
    }
  }
}

.mainProductsLink {
  @include styleForText();

  &:hover {
    color: $additionalColorContent;
  }

  display: block;
  width: 101%;
}

.subProductsList {
  flex-direction: column;
  position: absolute;
  left: 240px;
  padding-left: 60px;
  max-height: 700px;
  top: 11px;
  display: none;
  overflow-y: auto;
}


.subProductsItem {
  width: 337px;
  margin-bottom: 42px;

  &:hover {
    .subChildList {
      display: flex;
      flex-direction: column;
    }

    .subProductsInfoText a {
      color: rgb(240, 73, 80);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.subProductsInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid $colorIndicators;
}

.subProductsLink {
  @include styleForText(12px, $fontMain, $additionalColorContent);
}

.subChildList {
  width: 100%;
  margin-top: 20px;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subChildItem {
  padding: 10px 0 10px 10px;
}

.subChildLink {
  @include styleForText(12px, $fontAdditional);

  &:hover {
    color:$additionalColorContent;
  }
}

.categoryImage {
  position: absolute;
  right: 27px;
  top: 31px;
  width: 42%;
  max-height: 90%;
  object-fit: contain;
}

@media screen and (max-width: 1500px) {
  .menu {
    width: 1000px;
    height: 400px;
    margin-left: -522px;
    padding: 20px 30px 30px 40px;
  }

  .mainProductsLink {
    font-size: 12px;
  }

  .subProductsLink,
  .subChildLink,
  .subProductsInfoText {
    font-size: 10px;
  }

  .categoryImage {
    width: 32%;
  }
}

@media screen and (max-width: 1100px) {
  .menu {
    width: 791px;
    height: 350px;
    margin-left: -447px;
  }

  .mainProductsList {
    width: 175px;
  }

  .subProductsList {
    left: 216px;
    padding-left: 0;
  }

  .subProductsItem {
    width: 246px;
    margin-bottom: 29px;
  }
}
