@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.menu {
  position: absolute;
  width: 1239px;
  height: 500px;
  z-index: 99999;
  left: 50%;
  margin-left: -662px;
  top: 25px;
  box-shadow: 0 10px 99px #0000000F;
  border-radius: 10px;
  padding: 40px 50px 50px 60px;
  background: white;
}

.subProductsInfoText {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.mainProductsList {
  position: relative;
  width: 239px;

  @media screen and (min-width: 768px) {
    max-height: 400px;
    height: 100%;
  }
}

.mainProductsItem {
  padding: 10px 0 10px 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: #f4f6f8;
    color: $additionalColorContent;
    width: 100%;

    & .firstImg {
      display: none;
    }

    & .subProductsList {
      display: block;
      background: #f4f6f8;
      top: 0;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
    }
  }

  &:first-child:hover {
    & .subProductsList {
      border-top-left-radius: 0;
    }
  }
}

.mainProductsLink {
  @include styleForText();
  position: relative;

  .firstImg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    color: $additionalColorContent;
  }

  display: block;
  width: 101%;
}

.subProductsList {
  flex-direction: column;
  position: absolute;
  left: 240px;
  padding-left: 60px;
  max-height: 700px;
  top: 11px;
  display: none;
  overflow-y: auto;
}

img {
  transition: all .3s;
}

p>img {
  display: block;
  margin: 10px auto;
  width: 97%;
}

.subProductsItem {
  width: 337px;

  &:hover {
    .subChildList {
      display: flex;
      flex-direction: column;
    }

    & img {
      transform: rotate(90deg);
      transition: all .3s;
    }

    .subProductsInfoText a {
      color: rgb(240, 73, 80);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.subProductsInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 35px;
  align-items: center;
}

.subProductsLink {
  @include styleForText(12px, $fontMain, $additionalColorContent);
}

.subChildList {
  width: 100%;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10px;
}

.subChildItem {
  padding: 10px 0 10px 10px;
}

.subProductsList {
  & .subChildItem {
    padding: 10px 0;
  }
}

.subChildLink {
  @include styleForText(12px, $fontAdditional);

  &:hover {
    color: $additionalColorContent;
  }
}

.categoryImage {
  position: absolute;
  right: 27px;
  top: 41px;
  width: 42%;
  max-height: 90%;
  object-fit: contain;

  @media screen and (max-width: 1300px) {
    max-height: 80%;
  }
}

@media screen and (max-width: 1500px) {
  .menu {
    width: 1000px;
    height: 320px;
    margin-left: -522px;
    padding: 20px 30px 30px 40px;
  }

  .mainProductsLink {
    font-size: 12px;
  }

  .subProductsLink,
  .subChildLink {
    font-size: 12px;
  }

  .categoryImage {
    width: 32%;
  }
}

@media screen and (max-width: 1100px) {
  .menu {
    width: 791px;
    height: 280px;
    margin-left: -447px;
  }

  .mainProductsList {
    width: 175px;
  }

  .subProductsList {
    left: 216px;
    padding-left: 0;
  }

  .subProductsItem {
    width: 246px;
  }
}