@import '../../scss/core/vars';
@import '../../scss/core/mixins';

.menu {
  position: absolute;
  width: 1200px;
  min-height: 400px;
  box-sizing: border-box;
  z-index: 99999;
  left: 50%;
  margin-left: -600px;
  top: 25px;
  box-shadow: 0 10px 99px #0000000f;
  border-radius: 10px;
  padding: 40px;
  background: white;
}

.subProductsInfoText {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.mainProductsList {
  position: relative;
  width: 250px;

  @media screen and (min-width: 768px) {
    max-height: 400px;
    height: 100%;
  }
}

.mainProductsItem {
  padding: 10px 0 10px 10px;
  width: 100%;
  box-sizing: border-box;
  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: #f4f6f8;
    color: $additionalColorContent;

    & .firstImg {
      display: none;
    }

    & .subProductsList {
      display: block;
      background: #f4f6f8;
      top: 0;
      border-radius: 10px;
    }
  }

  &:first-child:hover {
    & .subProductsList {
      border-top-left-radius: 0;
    }
  }
}

.mainProductsLink {
  @include styleForText();
  position: relative;

  .firstImg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    color: $additionalColorContent;
  }

  display: block;
  width: 100%;
}

.subProductsList {
  flex-direction: column;
  position: absolute;
  left: 250px;
  padding: 0 60px;
  min-height: 300px;
  top: 11px;
  display: none;
}

img {
  transition: all 0.3s;
}

.subProductsItem {
  white-space: nowrap;
  &:hover {
    .subChildList {
      display: flex;
      flex-direction: column;
    }

    & img {
      transform: rotate(90deg);
      transition: all 0.3s;
    }

    .subProductsInfoText a {
      color: rgb(240, 73, 80);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.subProductsInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 35px;
  align-items: center;
}

.subProductsLink {
  @include styleForText(12px, $fontMain, $additionalColorContent);
}

.subChildList {
  width: 100%;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10px;
}

.subChildItem {
  white-space: nowrap;
  padding: 10px 0 10px 10px;
}

.subProductsList {
  & .subChildItem {
    padding: 10px 0;
  }
}

.subChildLink {
  @include styleForText(12px, $fontAdditional);

  &:hover {
    color: $additionalColorContent;
  }
}

.categoryImage {
  position: absolute;
  top: 40px;
  right: 27px;
  width: 42%;
  height: 320px;
  border: none;
  outline: none;
  object-fit: contain;
}

@media screen and (max-width: 1500px) {
  .menu {
    width: 1000px;
    margin-left: -500px;
    padding: 20px;
  }
  .categoryImage {
    top: 20px;
    height: 360px;
  }

  .mainProductsLink {
    font-size: 12px;
  }

  .subProductsLink,
  .subChildLink {
    font-size: 12px;
  }
}

@media screen and (max-width: 1100px) {
  .menu {
    width: 900px;
    margin-left: -450px;
  }

  .mainProductsList {
    width: 175px;
  }

  .subProductsList {
    left: 175px;
  }
}
