@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.profileData {
  padding-top: 16px;
  padding-left: 36px;
  margin-bottom: -13px;
  border-left: 1px solid #dadada;
  width: 777px;
}

.userInfo {
  display: flex;
  margin-top: 40px;
}

.infoTitles {
  width: 523px;
}

.userInfoTextOne {
  @include styleForText($fontSizeContent, $fontAdditional);

  margin-bottom: 12px;
}

.userInfoTextTwo {
  @include styleForText();

  margin-bottom: 12px;
}

.buttonEdit {
  @include styleForButton(236px);

  background-color: #ffa2aa;
  color: white;
  margin-left: 346px;
  margin-top: 38px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: $colorIndicators;
  border: none;
  margin-top: 49px;
  margin-bottom: 50px;
}
