@import '../../../../scss/core/vars';
@import '../../../../scss/core/mixins';

.description {
  margin-top: 60px;
  width: 100%;

  &__accordion {
    & > a span {
      width: 100%;

      @media screen and (min-width: 1100px) {
        font-size: 17px !important;
      }
    }
  }
  &__customAccordion {
    padding: 40px !important;
    a span {
      border-bottom: none !important;
      padding-bottom: 0 !important;
    }
    a span::after {
      margin-left: 20px;
      right: auto;
    }
  }
  &__accordionContent {
    padding-top: 20px;
  }
  &__desc {
    & > * {
      font-family: $fontAdditional;
      font-size: 14px;
    }

    & img,
    & iframe {
      width: 100%;
      margin: 20px 0;
      height: 300px;
    }
  }

  &__player {
    margin: 20px 0;
  }
  &__list {
  }
  &__item {
    display: flex;
    margin-bottom: 11px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__name {
    width: 200px;
    @include styleForText(12px, $fontAdditional, $colorInfo);
  }
  &__value {
    width: 200px;
    @include styleForText(12px, $fontAdditional);
  }

  &__reviews {
    width: 100%;
  }
  &__reviews {
    width: 100%;
  }
  &__review {
    margin-bottom: 22px;
    padding-bottom: 23px;
    border-bottom: 1px solid #ececec;
    display: flex;
    position: relative;

    &:last-child {
      border-bottom: none;
    }
  }
}

.dropdownFeedback {
  display: flex;
  flex-direction: column;
  width: 128px;
  min-width: 128px;
}
.feedbackForm {
  margin-top: 30px;
}

.formInfo {
  @include styleForText($fontSizeContent, $fontAdditional, $colorInfo);
}
.fieldFeedbackWrapper {
  position: relative;
}

.fieldFeedback {
  @include styleForText($fontSizeContent, $fontAdditional);

  margin-top: 25px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  border: 1px solid $colorInfo;
  background: transparent;

  &::placeholder {
    color: $colorInfo;
  }
}

.chooseRating {
  @include styleForText($fontSizeContent, $fontAdditional);

  display: flex;
  margin-top: 30px;
}

.ratingWrapperForFeedbacks {
  margin-left: 10px;
}

.sendFeedbackButton {
  margin-top: 35px;
  width: 100%;
}

.startWrapper {
  margin-bottom: 10px;
}
.dropdownName {
  @include styleForText(12px, $fontAdditional, $colorInfo);
}

.userNameEdit {
  color: $colorContent;
}

.dropdownMessage {
  @include styleForText(12px, $fontAdditional);

  max-width: 400px;
  padding-left: 63px;
}

.dropdownButtons {
  display: flex;
  position: absolute;
  right: 0;
  top: 35px;
}

.buttonControlComment {
  @include styleForText(12px);

  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }
}

.textNoComments {
  width: 100%;
  text-align: center;
  margin-bottom: 54px;
}

.showMore {
  margin-bottom: 23px;
}

.privateStyle {
  width: 100%;
}

.brandContainer {
  width: 100%;
}

.brandDesc {
  margin-top: 20px;

  & > * {
    font-family: $fontAdditional;
    font-size: 12px;
  }

  & img,
  & iframe {
    margin: 20px 0;
    width: 100%;
  }

  & iframe {
    height: 300px;
  }
}
.brandPicture {
  margin-top: 15px;
  max-width: 100%;
}

.linkToBrand {
  margin-top: 10px;
  width: 100%;
  display: block;
}

.paymentsWrapper {
  display: flex;
  justify-content: space-between;
}

.facebookButton {
  @include styleForText(12px, $fontMain, white);

  width: 100%;
  padding: 14px 0 15px;
  text-align: center;
  background-color: $colorForLink;
  margin-bottom: 15px;
  position: absolute;
  left: 0;

  &:hover {
    background-color: #004786;
  }
}
.dropdownButton {
  width: 100%;
}
.notAuthBlockComment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $colorBorder;
  padding-top: 50px;
  position: relative;
}

.noAuthBlockButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.linkForLogin,
.linkForRegistration {
  width: 48%;
  text-align: center;
}

.linkForRegistration {
  @include styleForText(12px, $fontMain, $additionalColorContent);

  padding: 14px 0 15px;
  border: 1px solid $additionalColorContent;

  &:hover {
    background-color: $additionalColorContent;
    color: white;
  }
}

.linkForLogin {
  @include styleForText(12px, $fontMain, white);

  padding: 14px 0 15px;
  background-color: $additionalColorContent;

  &:hover {
    background-color: #b6353b;
  }
}

.notAuthBlockTitle {
  width: 302px;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .description {
    &__margin {
      margin-top: 0;
    }
    &__accordion {
      & > a span {
        width: 100%;

        @media screen and (min-width: 1100px) {
          font-size: 17px !important;
        }
      }
    }
    &__customAccordion {
      padding: 15px 20px !important;
    }
    &__accordionContent {
      padding-top: 20px;
    }
    &__desc {
      & > * {
        font-size: 16px;
      }
    }
    &__name {
      font-size: 16px;
    }
    &__value {
      font-size: 16px;
    }
    &____reviews {
      width: 100%;
      padding-top: 20px;
      border-top: 1px solid #dadada;
    }
    &__review {
      flex-direction: column;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
  }

  .dropdownFeedback {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .sendFeedbackButton {
    width: 100%;
  }
  .startWrapper {
    margin-bottom: 0;

    & svg {
      width: 16px;
      height: 16px;
    }
  }
  .dropdownName {
    padding-left: 10px;
    font-size: $fontSizeMobile;
  }
  .dropdownMessage {
    padding-left: 0;
    font-size: $fontSizeMobile;
    margin-top: 4px;
  }
  .dropdownButtons {
    position: static;
    margin-top: 10px;
  }

  .buttonControlComment {
    font-size: $fontSizeMobile;
  }
  .brandDesc {
    & > * {
      font-size: 16px;
    }
  }
  .dropdownButton {
    width: 100%;
    margin-right: 0;
  }
  .notAuthBlockComment {
    width: 100%;
  }
}
