@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.mainSlider {
  height: 541px;
  position: relative;
}

.sliderItem,
.sliderContainer {

}

.slide {
  width: 100%;
  height: 541px;
  display: inline-block;
  position: relative;
}

.imageWrapper {
  width: 100%;
  height: 541px;
}

.slideImage {
  max-width: none;
  min-width: auto;
  min-height: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infoBlock {
  width: 345px;
  padding: 50px;
  background: white;
  position: absolute;
  bottom: -50px;
  right: 140px;
  box-shadow: 0 10px 99px #0000000D;
}

.slideTitle {
  width: 289px;
  font-size: 32px;
}

.desc {
  @include styleForText(12px, "InterRegular");

  color: $colorInfo;
  padding-top: 24px;
}

.routeLink {
  @include styleForButton(136px);
  @include styleForBackground();

  margin-top: 50px;
  display: block;

  &:hover {
    background-color: $additionalColorContent;
  }
}

.bestProducts {
  @include container();

  margin-top: 81px;
}

.rowContent {
  width: 100%;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  margin-left: -17px;
}

.rowContent {
  width: 100%;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  margin-left: -17px;
}

.slider {
  margin-left: -6px;
  width: 99.6%;
  margin-top: 33px;
}

.sliderWrapper {
  padding-top: 1px;
}

.cardSlider {
  width: 19.6%;
  height: 503px;
}

.productCard {
  width: 100%;
  height: 466px;
  padding: 5%;
}

.dotList {
  margin-top: 40px;
}

.featuresCardWrapper {
  @include container();

  margin-top: 48px;
}

.newCollection {
  @include container();

  margin-top: 121px;
}

.collectionCards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.smallCards {
  width: 38.7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popularCategories {
  @include container();

  margin-top: 121px;
}

.popularCards {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
  width: 100%;
  flex-wrap: wrap;
}

.cardsGroup {
  &:first-child {
    width: 48.7%;

    & article:first-child div {
      height: 652px;
    }

    & article:last-child div {
      height: 412px;
    }
  }

  &:last-child {
    width: 48.7%;

    & article:first-child div {
      height: 412px;
    }

    & article:last-child div {
      height: 652px;
    }
  }
}

.popularSliderWrapper {
  width: 96.6%;
  padding-left: 29px;
  margin-top: 30px;
}

.popularSlider {
  padding-left: 0;
}

.popularCardSlider {
  width: 96%;
  margin-right: 12px;
  padding-left: 0;
}

.instagramData {
  @include container();

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 227px;
}

.instagramDataHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 309px;
}

.instagramLink {
  @include styleForText($fontSizeContent, $fontMain, $colorForLink);

  padding-top: 4px;
}

.instagramLinkMobile {
  @include styleForText(18px);

  margin-top: 55px;
  margin-left: 8%;
  position: relative;

  &::before {
    content: url("/svg/instagram2.svg");
    position: absolute;
    left: -24px;
    top: 1px;
  }
}

.images {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}

.instagramImageWrapper {
  width: 18%;
  height: 303px;
  position: relative;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }
}

.sliderInstagramWrapper {
  width: 103.8%;
  margin-top: 30px;
  margin-left: 3%;
}

.sliderInstagram {
  margin-left: 0;
}

.cardSliderInstagram {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  position: relative;
  padding-left: 0;

  &:last-child {
    margin-right: 0;
  }
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(-50%, -50%, 0);
  width: auto;
  height: 100%;
}

.sliderNav {
  top: 86%;
  left: 50%;
  margin-left: -95px;
}

.dotsWrapper {
  top: 86%;
}

.sliderButtonLeft {
  top: 40%;
  left: 11px;
  margin-top: -10px;
  box-shadow: 1px 2px 10px black;
  background: white;
}

.sliderButtonRight {
  top: 40%;
  right: 11px;
  margin-top: -10px;
  box-shadow: 1px 2px 10px black;
  background: white;
}

@media screen and (max-width: 1707px) {
  .cardSlider {
    width: 19.6%;
  }

  .slider {
    width: 100.6%;
  }
}

@media screen and (max-width: 1550px) {
  .infoBlock {
    width: 301px;
    padding: 35px;
    bottom: -32px;
    right: 34px;
  }

  .slider {
    width: 100.6%;
  }

  .cardSlider {
    width: 19.6%;
  }
  .nav {
    margin-left: 94px;
  }
}

@media screen and (max-width: 1321px) {
  .featuresCardWrapper {
    margin-top: 0;
  }
}

@media screen and (max-width: 1237px) {
  .featuresCardWrapper {
    margin-top: 0;
  }

  .image {
    height: 253px;
  }
}

@media screen and (max-width: 1200px) {
  .cardSlider {
    width: 24.5%;
    margin-right: -7px;
  }

  .featuresCardWrapper {
    margin-top: 35px;
  }

  .image {
    height: 219px;
  }

  .slider {
    width: 103.6%;
    margin-left: -14px;
  }
}

@media screen and (max-width: 1000px) {
  .infoBlock {
    display: none;
  }

  .collectionCards {
    flex-wrap: wrap;
  }

  .cardSlider {
    width: 28.5%;
  }

  .smallCards {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .smallCards {
    width: 100%;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .mainSlider {
    height: 356px;
  }

  .popularCategories {
    margin-top: 46px;
  }

  .slide {
    height: 375px;
  }

  .slider {
    margin-left: -1px;
  }

  .sliderButtonLeft,
  .sliderButtonRight {
    display: none;
  }

  .cardSlider {
    height: 458px;
    width: 246px;
    margin-right: -19px;
  }

  .productCard {
    height: 403px;
    padding: 0;
  }

  .imageWrapper {
    height: 375px;
  }

  .slideTitle {
    font-size: 24px;
  }

  .desc {
    padding-top: 10px;
  }

  .bestProducts {
    margin-top: 59px;
  }

  .bestTitle {
    width: 100%;
    text-align: center;
  }

  .newCollection {
    margin-top: 64px;
  }

  .collectionCards {
    flex-direction: column;
  }

  .smallCards {
    width: 100%;
    flex-direction: column;
  }

  .instagramData {
    margin-bottom: 51px;
  }

  .image {
    height: 100%;
  }
}
