@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.mainSlider {
  height: 541px;
  position: relative;
}

.slide {
  width: 100%;
  height: 541px;
  display: inline-block;
  position: relative;
}

.imageWrapper {
  width: 100%;
  height: 541px;
}

.slideImage {
  max-width: none;
  min-width: auto;
  min-height: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infoBlock {
  width: 345px;
  padding: 50px;
  background: white;
  position: absolute;
  bottom: -1px;
  right: 140px;
  box-shadow: 0 10px 99px #0000000D;
}

.slideTitle {
  width: 289px;
  font-size: 32px;
}

.desc {
  @include styleForText(12px, "InterRegular");

  color: $colorInfo;
  padding-top: 24px;
}

.routeLink {
  @include styleForButton(136px);
  @include styleForBackground();

  margin-top: 50px;
  display: block;

  &:hover {
    background-color: $additionalColorContent;
  }
}

.bestProducts {
  @include container();

  margin-top: 81px;
}

.rowContent {
  width: 100%;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  margin-left: -17px;
}

.rowContent {
  width: 100%;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  margin-left: -17px;
}

.slider {
  width: 100%;
  margin-top: 33px;
  margin-left: -16px;
}

.sliderWrapper {
  padding-top: 1px;
  position: relative;
  overflow: visible;
}

.sliderBestProductsWrapper {
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.sliderList {
  width: 100%;
}

.cardSlider {
  width: 17.9%;
  padding-left: 30px;
}

.productCard {
  width: 100%;
  padding: 5%;
}

.dotList {
  margin-top: 40px;

  & li:nth-child(3) {
    display: none;
  }
}

.featuresCardWrapper {
  @include container();

  margin-top: 48px;
}

.newCollection {
  @include container();

  margin-top: 121px;
}

.collectionCards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.smallCards {
  width: 38.7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popularCategories {
  @include container();

  margin-top: 121px;
}

.popularCards {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
  width: 100%;
  flex-wrap: wrap;
}

.cardsGroup {
  &:first-child {
    width: 48.7%;

    & article:first-child div {
      height: 652px;
    }

    & article:last-child div {
      height: 412px;
    }
  }

  &:last-child {
    width: 48.7%;

    & article:first-child div {
      height: 412px;
    }

    & article:last-child div {
      height: 652px;
    }
  }
}

.popularSliderWrapper {
  width: 96.6%;
  padding-left: 29px;
  margin-top: 30px;
}

.popularSlider {
  padding-left: 0;
}

.popularCardSlider {
  width: 87%;
  margin-right: 12px;
  padding-left: 0;
}

.instagramData {
  @include container();

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 116px;
}

.instagramDataHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 309px;
}

.instagramLink {
  @include styleForText($fontSizeContent, $fontMain, $colorForLink);

  padding-top: 4px;
  padding-bottom: 2px;
  border-bottom: 1px solid white;

  &:hover {
    border-bottom: 1px solid $colorForLink;
  }
}

.instagramLinkMobile {
  @include styleForText(18px);

  margin-top: 55px;
  margin-left: 8%;
  position: relative;

  &::before {
    content: url("/svg/instagram2.svg");
    position: absolute;
    left: -24px;
    top: 1px;
  }
}

.images {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}

.instagramImageWrapper {
  width: 18%;
  height: 303px;
  position: relative;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }
}

.sliderInstagramWrapper {
  width: 103.8%;
  margin-top: 30px;
  margin-left: 3%;
}

.sliderInstagram {
  margin-left: 0;
}

.cardSliderInstagram {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  position: relative;
  padding-left: 0;

  &:last-child {
    margin-right: 0;
  }
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(-50%, -50%, 0);
  width: auto;
  height: 100%;
}

.sliderNav {
  top: 86%;
  left: 50%;
  margin-left: -95px;
}

.dotsWrapper {
  top: 86%;
}

.sliderButtonLeft {
  top: 40%;
  left: -8px;
  margin-top: -10px;
  box-shadow: 0 10px 30px #0000001A;
  background: white;
}

.sliderButtonRight {
  top: 40%;
  right: -8px;
  margin-top: -10px;
  box-shadow: 0 10px 30px #0000001A;
  background: white;
}

@media screen and (max-width: 1550px) {
  .infoBlock {
    width: 301px;
    padding: 35px;
    right: 34px;
  }

  .nav {
    margin-left: 94px;
  }
}

@media screen and (max-width: 1359px) {
  .cardSlider {
    width: 22.5%;
  }
}

@media screen and (max-width: 1321px) {
  .featuresCardWrapper {
    margin-top: 0;
  }
}

@media screen and (max-width: 1237px) {
  .featuresCardWrapper {
    margin-top: 0;
  }

  .image {
    height: 253px;
  }
}

@media screen and (max-width: 1200px) {
  .featuresCardWrapper {
    margin-top: 35px;
  }

  .image {
    height: 219px;
  }

  .slider {
    margin-left: -14px;
  }
}

@media screen and (max-width: 1189px) {
  .cardSlider {
    width: 32.5%;
  }
}

@media screen and (max-width: 1000px) {
  .infoBlock {
    display: none;
  }

  .collectionCards {
    flex-wrap: wrap;
  }

  .smallCards {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .smallCards {
    width: 100%;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .mainSlider {
    height: 356px;
  }

  .popularCategories {
    margin-top: 46px;
  }

  .slide {
    height: 375px;
  }

  .slider {
    margin-left: -1px;
  }

  .sliderButtonLeft,
  .sliderButtonRight {
    display: none;
  }

  .cardSlider {
    width: 22.5%;
    margin-right: -19px;
  }

  .productCard {
    padding: 0;
  }

  .imageWrapper {
    height: 375px;
  }

  .slideTitle {
    font-size: 24px;
  }

  .desc {
    padding-top: 10px;
  }

  .bestProducts {
    margin-top: 59px;
  }

  .bestTitle {
    width: 100%;
    text-align: center;
  }

  .newCollection {
    margin-top: 64px;
  }

  .collectionCards {
    flex-direction: column;
  }

  .smallCards {
    width: 100%;
    flex-direction: column;
  }

  .instagramData {
    margin-bottom: 100px;
  }

  .image {
    height: 100%;
  }

  .dotsWrapper {
    top: 97%;
  }

  .popularSlider li:last-child,
  .sliderInstagram li:last-child {
    width: 50px!important;
  }

  .popularSliderWrapper,
  .collectionCards {
    margin-top: 25px;
  }

  .slider {
    margin-top: 15px;
  }
}

@media screen and (max-width: 617px) {
  .cardSlider {
    width: 27.5%;
  }
}

@media screen and (max-width: 501px) {
  .cardSlider {
    width: 46.5%;
  }
}
