@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.homeSliderWrapper {
  @include containerFluid();
}

.bestProducts {
  @include container();
  margin-top: 81px;
}

.featuresWrapper {
  @include container();
  margin-top: 80px;
}

.newCollection {
  @include container();

  margin-top: 121px;
}

.collectionCards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.smallCards {
  width: 38.7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popularCategories {
  @include container();

  margin-top: 121px;
}

.popularCards {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
  width: 100%;
  flex-wrap: wrap;
}

.cardsGroup {
  &:first-child {
    width: 48.7%;

    & article:first-child div {
      height: 652px;
    }

    & article:last-child div {
      height: 412px;
    }
  }

  &:last-child {
    width: 48.7%;

    & article:first-child div {
      height: 412px;
    }

    & article:last-child div {
      height: 652px;
    }
  }
}

.instagramData {
  @include container();

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 116px;
}

.instagramDataHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 309px;
}

.instagramLink {
  @include styleForText($fontSizeContent, $fontMain, $colorForLink);

  padding-top: 4px;
  padding-bottom: 2px;
  border-bottom: 1px solid white;

  &:hover {
    border-bottom: 1px solid $colorForLink;
  }
}

.instagramLinkMobile {
  @include styleForText(18px);
  margin-left: 8%;
  position: relative;

  &::before {
    content: url('/svg/instagram2.svg');
    position: absolute;
    left: -24px;
    top: 1px;
  }
}

@media screen and (max-width: 1000px) {
  .collectionCards {
    flex-wrap: wrap;
  }

  .smallCards {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .smallCards {
    width: 100%;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .bestProducts {
    margin-top: 50px;
  }

  .bestTitle {
    width: 100%;
    text-align: center;
  }

  .newCollection {
    margin-top: 50px;
  }

  .collectionCards {
    flex-direction: column;
  }
  .popularSliderWrapper,
  .collectionCards {
    margin-top: 25px;
  }
  .smallCards {
    width: 100%;
    flex-direction: column;
  }
  .popularCategories {
    margin-top: 50px;
  }
  .instagramData {
    margin-top: 70px;
    margin-bottom: 100px;
  }
}
