@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.field {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.checkboxWrapper {
  position: relative;
}

.label {
  @include styleForText(15px);

  position: relative;
  padding-left: 29px;
  padding-top: 5px;

  &::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 4px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: 1px solid $colorInfo;
    background-image: url("../../assets/svg/Path 172.svg");
    background-repeat: no-repeat;
    background-position: 4px 5px;
    background-color: $colorInfo;
  }
}

.field:checked + .label::before {
  background-color: $colorContent;
  border: 1px solid $colorContent;
}
