@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.text {
  @include customContainer(85.5%);
}

.desc {
  @include styleForText($fontSizeContent, $fontAdditional);

  margin-top: 20px;
  line-height: 24px;
}

.productsWrapper {
  @include customContainer(85.5%);
}

.countProducts {
  display: flex;
  justify-content: flex-end;
}
