@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.wrapper {
  @include container();
}

.title {
  font-size: 28px;
}

.desc {
  @include styleForText($fontSizeContent, $fontAdditional);

  margin-top: 20px;
  line-height: 24px;

  & iframe,
  & img {
    width: auto;
    height: 540px;
    margin: 15px 0;
  }

  & iframe {
    width: 100%;
  }

  & p {
    margin-top: 20px;
    line-height: 20px;
  }
}

.productsWrapper {
  margin-bottom: 180px;
}

.productsWrapperWithoutPaginate {
  margin-bottom: 85px;
}

.productsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categoryName {
  margin-top: 28px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    @include containerFluid();
    display: flex;
    flex-direction: column;
  }

  .desc iframe {
    width: 100%;
    height: auto;
    min-height: 200px;
  }
  .title {
    padding: 0 20px;
  }

  .productsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .productsBlock {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .countProducts {
    margin-bottom: 0;
  }
  .productsWrapper {
    margin-top: 28px;
    margin-bottom: 163px;
  }

  .stockTextWrapper {
    padding: 0;
    p {
      padding: 0 20px;
      margin-top: 0;

      img {
        width: calc(100% + 40px);
        margin-left: -20px;
        height: auto;
      }
    }
  }
}
