@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.ThankPageComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 195px;
  padding-bottom: 192px;

  &__Title {
    @include styleForText(36px);
  }

  &__Order {
    @include styleForText();

    padding-top: 31px;
  }

  &__OrderNumber {
    color: $green;
  }

  &__Desc {
    @include styleForText();

    width: 296px;
    text-align: center;
    padding-top: 40px;
  }

  &__RouteWrapper {
    margin-top: 70px;
  }
}
