@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.main {
  margin-left: 9%;
  width: 57.5%;

  .text {
    margin-left: 19px;
  }

  .title {
    @include styleForText(36px);
  }

  .tagsBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .tags {
    display: flex;
  }

  .tagNews,
  .tagAdvice,
  .tagArticle {
    @include styleForText(16px, $fontMain, #fff);

    display: block;
    padding: 6px 14px;
    border-radius: 4px;
    margin-right: 15px;
  }

  .tagNews {
    background-color: #0381a2;
  }

  .tagAdvice {
    background-color: #4f69f8;
  }

  .tagArticle {
    background-color: #da0f47;
  }

  .date {
    @include styleForText(16px, $fontMain, $colorInfo);

    padding-top: 14px;
  }

  .titleHistory {
    @include styleForText(26px);

    margin-top: 77px;
  }

  .descHistory {
    @include styleForText(21px, $fontAdditional);

    margin-top: 29px;
    line-height: 29px;
  }

  .slider {
    margin-top: 128px;
    margin-bottom: 38px;
    position: relative;
  }

  .sliderImage {
    width: 100%;
    height: 100%;
  }

  .sliderNavButton {
    background-color: $colorIndicators;
    width: 59px;
    height: 54px;
    position: absolute;
    top: 44.3%;
  }

  .sliderArrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 17px;
    left: 20px;
  }

  .arrowLeft {
    transform: rotate(-180deg);
  }

  .sliderNavButtonLeft {
    left: -28px;
  }

  .sliderNavButtonRight {
    right: -28px;
  }

  .sliderIndexIndicator {
    @include styleForText(16px);

    position: absolute;
    bottom: -41px;
    left: 50%;
    margin-left: -12px;
  }

  .titleFounders {
    @include styleForText(26px);

    margin-top: 120px;
  }

  .descFounders {
    @include styleForText(20px, $fontAdditional);

    margin-top: 26px;
    line-height: 30px;

    &:last-child {
      margin-top: 30px;
    }
  }

  .player {
    margin-top: 97px;
    height: 519px;
  }

  .descSeo {
    @include styleForText(20px, $fontAdditional);

    margin-top: 99px;
    padding-left: 19px;
    line-height: 30px;
  }
}
