@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.footer {
  padding-bottom: 82px;
}

.line {
  height: 1px;
  border: none;
  background-color: $colorIndicators;
  width: 100%;
  margin-bottom: 100px;
}

.container {
  @include container();
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;

  .navigationBlock {
    width: 60%;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;

    .forBuyers,
    .about,
    .categories {
      width: 25%;
      margin-right: 20px;
      &_title {
        padding-bottom: 20px;
        border-bottom: 1px solid $colorBorder;
      }
      &_list {
        padding-top: 17px;
        display: flex;
        flex-direction: column;
      }
      &_item {
        font-size: 12px;
        font-family: 'InterMedium', sans-serif;
        color: #0e0e0e;
        line-height: 28px;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .subscribeBlock {
    width: 40%;
    .social_list {
      display: flex;
      flex-direction: row;
    }
    .social {
      width: 100%;
      margin-top: 20px;
    }
    .social_item {
      height: 25px;
      svg {
        height: 100%;
      }
    }
    .social_item:hover {
      opacity: 0.7;
    }
    .social_item + .social_item {
      margin-left: 20px;
    }
  }
}

.helper {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  .forOpt {
    &_title {
      padding-bottom: 20px;
      border-bottom: 1px solid $colorBorder;
    }
    &_list {
      padding-top: 17px;
    }
    &_item {
      font-size: 12px;
      font-family: 'InterMedium', sans-serif;
      color: #0e0e0e;
      line-height: 28px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
  .languageBlock {
    display: flex;
    align-items: flex-end;
  }
  .language {
    display: flex;
    position: relative;
    margin-right: 30px;

    .langButton {
      @include styleForText(12px, $fontAdditional, #202124);
      &:after {
        content: url('/svg/Path167.svg');
        position: absolute;
        transform: rotate(90deg);
        right: -10px;
        top: 1px;
      }
    }
    .langList {
      position: absolute;
      top: 20px;
    }

    .langItemButton {
      @include styleForText(12px, $fontAdditional, #202124);
    }
  }

  .formLink:hover {
    opacity: 0.7;
  }
}
.accordion {
  display: none;
  padding: 20px;
  .menuItems {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-left: 20px;
  }

  .menuText {
    font-size: 14px;
    font-family: 'InterMedium', sans-serif;
    color: #0e0e0e;
    display: inline-block;
    margin-top: 9px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    @include containerFluid();
  }
  .line {
    display: none;
  }
  .content {
    justify-content: center;
    .navigationBlock {
      display: none;
    }
    .subscribeBlock {
      width: 100%;
    }

    .social_list {
      justify-content: center;
    }
  }

  .accordion {
    display: block;
  }

  .helper {
    padding: 0 20px;
  }
  .forOpt {
    display: none;
  }
  .languageBlock {
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
