@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.ProfileWholesaleDocsLoad {
  padding: 16px 0 0 35px;
  margin-bottom: -13px;
  border-left: 1px solid #dadada;

  &__Title {
    @include styleForText(30px);

    margin-bottom: 21px;
  }

  &__Field {
    display: none;
  }

  &__ItemSelect {
    padding: 21px 0;
    border-bottom: 1px solid #dadada;
    position: relative;
    overflow: hidden;
    height: 22px;
    transition: 0.3s;
  }

  &__ItemSelectController {
    @include styleForText(20px);

    position: relative;

    &::after {
      content: url("../../../assets/svg/Path 239.svg");
      position: absolute;
      transform: rotate(-90deg);
      right: -39px;
      transition: transform 0.3s;
    }
  }

  &__ListProducts {
    margin-top: 9px;
    position: relative;
    top: -1000px;
    transition: 0.3s;
  }

  &__ItemProducts {
    padding: 20px 0 20px;
    display: flex;
    border-bottom: 1px solid $colorIndicators;
    margin-left: 20px;

    &:last-child {
      border-bottom: none;
    }
  }

  &__ItemProductsDesc {
    @include styleForText($fontSizeContent, $fontAdditional);
  }

  &__ItemProductsLoading,
  &__LicenseLoading,
  &__PatternsItemLoading {
    @include styleForText($fontSizeContent, $fontMain, $colorForLink);

    position: relative;
    margin-left: 42px;

    &::before {
      content: url("../../../assets/svg/down-arrow.svg");
      position: absolute;
      left: -17px;
      top: 2px;
    }
  }

  &__Field:checked + &__ItemSelect {
    background-color: $colorRedOpacity;
    padding-bottom: 8px;
    border-bottom: none;
    height: 100%;
  }

  &__Field:checked + &__ItemSelect &__ItemSelectController {
    padding-left: 20px;
  }

  &__Field:checked + &__ItemSelect &__ItemSelectController::after {
    transform: rotate(0);
    right: -44px;
    top: -4px;
  }

  &__Field:checked + &__ItemSelect &__ListProducts {
    top: 0;
  }

  &__License {
    margin-top: 48px;
    padding: 39px 0;
    display: flex;
    align-items: center;
    border-top: 1px solid $colorIndicators;
    border-bottom: 1px solid $colorIndicators;
  }

  &__LicenseDesc,
  &__PatternsItemDesc {
    @include styleForText(20px);
  }

  &__LicenseLoading {
    margin-left: 102px;
  }

  &__Patterns {
    padding-top: 50px;
  }

  &__PatternsItem {
    display: flex;
    justify-content: space-between;
    width: 520px;
    padding-top: 18px;
  }
}
