@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.contacts {
  padding-top: 15px;
  padding-left: 36px;
  border-left: 1px solid #dadada;
  margin-left: -1px;
}

.descContact {
  @include styleForText(16px);

  margin-top: 21px;
}

.contactInfo {
  display: flex;
  margin-top: 20px;
}

.contactInfoItem:last-child {
  margin-left: 55px;
}

.email {
 @include styleForText();
}

.numbers {
  margin-top: 15px;
}

.number {
  @include styleForText();

  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.timeSections {
  margin-top: 20px;
}

.timeSection {
  @include styleForText(12px, $fontAdditional);

  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.links {
  margin-top: 30px;
  display: flex;
}

.link {
  @include styleForText(10px, $fontMain, #fff);

  border-radius: 5px;
  padding: 6px 14px 7px 31px;
  position: relative;

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
  }

  &::before {
    position: absolute;
    left: 16px;
  }

  &:first-child {
    background: #41b4e6;

    &::before {
      content: url("/svg/XMLID_496_.svg");
    }
  }

  &:last-child {
    background: #665cac;
    margin-left: 15px;

    &::before {
      content: url("/svg/XMLID_7_.svg");
    }
  }
}

.desc {
  @include styleForText(12px, $fontAdditional);

  margin-top: 25px;
  width: 71%;
}

.form {
  margin-top: 50px;
  width: 531px;
}

.inputsWrapper {
  padding-right: 11px;
}

.emailWrapper,
.inputsGroup {
  margin-bottom: 30px;
}

.inputsGroup {
  display: flex;
  justify-content: space-between;
}

.emailWrapper {

  p {
    margin-top: 5px;
    font-size: 12px;
  }
}

.inputWrapperSmall {
  width: 48%;

  p {
    margin-top: 5px;
    font-size: 12px;
  }
}

.formField,
.textField {
  @include styleForText(12px, $fontAdditional);

  padding: 0 0 12px 9px;
  border: none;
  margin-bottom: 30px;
  border-bottom: 1px solid $colorInfo;

  &::placeholder {
    color: $colorInfo;
  }
}

.orderField {
  @include styleForText(16px, $fontAdditional);

  border: none;
  border-bottom: 1px solid $colorInfo;
  padding-left: 10px;
  padding-bottom: 19px;
  width: 100%;

  &::placeholder {
    @include styleForText(16px, $fontAdditional, $colorInfo);
  }
}

.textField {
  width: 98.3%;
}

.formButton {
  width: 100%;
  margin-top: 25px;
}

.bgSuccess {
  padding: 30px 30px 20px 105px;
  background: $darkGreen;
  margin-top: 30px;
  border: 1px solid #dbedc6;
  border-radius: 5px;
  position: relative;
}

.successTitle {
  margin-bottom: 20px;
  font-size: 22px;

  &:before {
    content: '';
    width: 60px;
    height: 60px;
    background: url('/images/ok.gif');
    position: absolute;
    background-size: cover;
    top: 25px;
    left: 25px;
  }

  & + .successTitle {
    margin-bottom: 0;
    font-size: 14px;

    &:before {
      display: none;
    }
  }
}

@media screen and (max-width: 1185px) {
  .form {
    width: 64%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .inputsGroup {
    flex-wrap: wrap;
  }

  .form {
    margin-top: 20px;
  }

  .inputWrapperSmall {
    width:100%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .contacts {
    padding: 0 0 100px 0;
    border-left: none;
  }

  .contactInfoWrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .title {
    font-size: 28px;
  }

  .descContact {
    margin-top: 20px;
  }

  .links {
    margin-top: 10px;
  }

  .link {
    font-size: $fontSizeContent;
  }

  .desc {
    margin-top: 20px;
    font-size: $fontSizeContent;
    width: 100%;
  }

  .contactInfo {
    flex-direction: column;
  }

  .contactInfoItem {
    &:last-child {
      margin-left: 0;
      margin-top: 30px;
    }
  }

  .email {
    font-size: 15px;
  }

  .number {
    font-size: 15px;

    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .timeSections {
    margin-top: 15px;
  }

  .timeSection {
    font-size: $fontSizeContent;
  }

  .form {
    width: 100%;
  }
}

@media screen and (max-width: 463px) {
  .form {
    width: 107.7%;
    margin-left: -4%;
    padding: 30px 0;
    background-color: $colorRedOpacity;
  }

  .formWrapper {
    @include container();
  }

  .inputsGroup {
    flex-direction: column;
  }

  .inputWrapperSmall {
    width: 100%;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  .emailWrapper,
  .inputsGroup {
    margin-bottom: 20px;
  }

  .orderField {
    background-color: transparent;
  }
}

