@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.opt {
  @include container();
}

.content {
  width: 901px;
  margin: 0 auto;
  position: relative;
}

.title {
  padding-top: 80px;
  padding-bottom: 64px;
}

.card {
  margin-bottom: 60px;
}

.cardTitle {
  position: relative;
  padding-left: 76px;
}

.icon {
  position: absolute;
  left: 1px;
  top: -13px;
}

.cardDesc {
  @include styleForText(17px, $fontAdditional);

  padding-top: 41px;
  line-height: 30px;
}

.requestBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 97px;
  margin-bottom: 100px;
}

.form {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  width: 571px;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.inputGroupWrapper {
  width: 47%;
}

.inputChildWrapper {
  background-color: #f8f8f8;
  font-size: 16px;
}

.inputWrapper {
  margin-top: 30px;
}

.textField {
  @include styleForText(12px, $fontAdditional);

  margin-top: 30px;
  border: none;
  background-color: #f8f8f8;
  border-bottom: 1px solid $colorInfo;

  &::placeholder {
    color: $colorInfo;
  }
}

.formButton {
  width: 100%;
  margin-top: 30px;
}

.info {
  width: 204px;
}

.infoTitle {
  padding-top: 46px;
}

.infoEmail {
  @include styleForText();

  padding-top: 30px;
}

.numbers {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.number {
  @include styleForText();

  margin-bottom: 8px;
}

.buttonTelegram,
.buttonViber {
  @include styleForText(10px, $fontMain, #fff);

  border-radius: 5px;
  display: inline-block;
  position: relative;
  margin-top: 23px;

  &::before {
    position: absolute;
    left: 14px;
  }
}

.buttonTelegram {
  padding: 6px 14px 7px 31px;
  background: #41b4e6;

  &::before {
    content: url("/svg/XMLID_496_.svg");
  }
}

.buttonViber {
  padding: 6px 15px 7px 29px;
  background-color: #665cac;
  margin-left: 14px;

  &::before {
    content: url("/svg/XMLID_7_.svg");
  }
}

.itemLink {
  @include styleForText($fontSizeContent, $fontMain, $colorForLink);

  position: relative;
  margin-bottom: 30px;
  margin-left: 19px;

  &::before {
    content: url("/svg/down-arrow.svg");
    position: absolute;
    left: -17px;
    top: 2px;
  }
}

.optLinks {
  display: flex;
  flex-direction: column;
}
