@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.field {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.controllerWrapper {
  position: relative;
}

.controller {
  @include styleForText(20px, $fontAdditional);

  position: relative;
  padding-left: 28px;
  display: block;
  letter-spacing: -1.1px;
}

.controllerBlock {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: $colorInfo;
  border-radius: 50%;
  position: absolute;
  left: -1px;
  top: 2px;
}

.field:checked + .controller .controllerBlock {
  background-image: url("/svg/RUTA_120_gallery_1007926_19374.svg");
  background-repeat: no-repeat;
  background-position: 6px 6px;
}
