@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.main {
  @include container();

  margin-top: 60px;

  .link {
    @include styleForText(18px);

    padding-left: 3px;

    &:first-child {
      padding-left: 0;
    }
  }
}
