@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.BreadCrumbs {
  @include container();

  margin-top: 60px;

  &__Link {
    @include styleForText(18px);

    padding-left: 3px;
  }

  &__Link:first-child {
    padding-left: 0;
  }
}
