@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.ProfileWholesaleDocs {
  padding: 16px 0 166px 35px;
  margin-bottom: -13px;
  border-left: 1px solid #dadada;

  &__Title {
    @include styleForText(30px);
  }

  &__Items {
    margin-top: 40px;
  }

  &__Item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  &__ItemDesc {
    @include styleForText($fontSizeContent, $fontAdditional);

    width: 334px;
  }

  &__ItemButtonView {
    @include styleForText($fontSizeContent, $fontMain, $colorForLink);

    margin-left: 64px;
  }

  &__ItemButtonDelete {
    @include styleForText($fontSizeContent, $fontMain, $colorInfo);

    position: relative;
    margin-left: 50px;

    &::before {
      content: url("../../../assets/svg/Group 5032.svg");
      position: absolute;
      left: -21px;
    }
  }

  &__ButtonAdd {
    @include styleForButton(281px);

    border: 1px solid #ffa2aa;
    color: #ffa2aa;
    margin-top: 29px;
  }
}
