@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.SimilarProducts {
  width: 45.7%;
  margin-left: -16px;

  &__RowContent {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
  }

  &__Title {
    @include styleForText($fontSizeForTitle);

    margin-left: 14px;
  }

  &__Card {
    width: 46.6%;
    margin-bottom: 8px;
    height: 538px;
  }

  &__Card:nth-child(odd) {
    margin-right: 35px;
  }
}

@media screen and (max-width: 1640px) {
  .SimilarProducts {
    &__Card {
      height: 400px;
    }
  }
}
