@import "../../../scss/core/mixins";

.ProfileWholesaleDataEdit {
  padding-top: 16px;
  padding-left: 36px;
  margin-bottom: -13px;
  border-left: 1px solid #dadada;
  width: 777px;

  &__Title {
    @include styleForText(30px);
  }

  &__UserInfo {
    display: flex;
    margin-top: 40px;
  }

  &__UserInfoSecondGroup {
    margin-left: 198px;
  }

  &__UserInfoTextOne {
    @include styleForText($fontSizeContent, $fontAdditional);

    margin-bottom: 12px;
  }

  &__UserInfoTextTwo {
    @include styleForText();

    margin-bottom: 12px;
  }

  &__ButtonEdit {
    @include styleForButton(236px);

    background-color: #ffa2aa;
    color: white;
    margin-left: 346px;
    margin-top: 38px;
  }

  &__DataGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
  }

  &__WorkMatesTitle {
    @include styleForText($fontSizeContent, $fontAdditional);
  }

  &__WorkMatesInfo {
    width: 431px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $colorIndicators;
    padding-bottom: 30px;
  }

  &__WorkMatesEmail {
    padding-top: 5px;
  }

  &__WorkMatesButtonDelete {
    @include styleForText($fontSizeContent, $fontMain, $colorInfo);

    margin-top: -27px;
    position: relative;

    &::before {
      content: url("../../../assets/svg/Group 5032.svg");
      position: absolute;
      left: -21px;
    }
  }

  &__WorkMatesForm {
    width: 436px;
    display: flex;
    flex-direction: column;
    margin-top: -7px;
  }

  &__WorkMatesFormButton {
    @include styleForButton(294px);

    border: 1px solid #ffa2aa;
    color: #ffa2aa;
    margin-top: 36px;
    margin-left: 4px;
  }

  &__Line {
    height: 1px;
    width: 100%;
    background-color: $colorIndicators;
    border: none;
    margin-top: 49px;
    margin-bottom: 50px;
  }

  &__PasswordTitle {
    @include styleForText(20px);
  }

  &__Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 11px;
  }

  &__FormField,
  &__WorkMatesFormField {
    @include styleForText();

    border: none;
    border-bottom: 1px solid $colorInfo;
    width: 400px;
    padding: 9px 25px 13px 7px;
    margin-bottom: 12px;

    &::placeholder {
      @include styleForText($fontSizeContent, $fontAdditional, $colorInfo);
    }
  }

  &__FormButton {
    @include styleForButton(255px);

    border: 1px solid #ffa2aa;
    color: #ffa2aa;
    margin-right: 176px;
    margin-top: 37px;
  }
}
