@import "../../../../scss/core/mixins";
@import "../../../../scss/core/vars";

.Slide {
  width: 100%;
  height: 680px;
  background-image: url("/images/AMALIA_RETE_40_image_1006837.png");
  display: inline-block;
  position: relative;

  &__InfoBlock {
    width: 431px;
    height: 221px;
    padding: 50px;
    background: white;
    position: absolute;
    bottom: 0;
    right: 140px;
  }

  &__Title {
    @include styleForText(36px);

    width: 289px;
  }

  &__Desc {
    @include styleForText(16px, "InterRegular");

    color: $colorInfo;
    padding-top: 24px;
  }

  &__Button {
    @include styleForButton(170px);
    @include styleForBackground();

    margin-top: 50px;
  }
}

