@import '../../scss/core/vars';
@import '../../scss/core/mixins';

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;

  &_title {
    margin-top: 20px;
    margin-bottom: 30px;
    @include styleForText(18px, $fontMain);
  }

  &_inputBlock {
    width: 100%;
    display: flex;
  }

  .desctopButtonWrapper {
    margin-left: auto;
    display: flex;
    width: 197px;
    justify-content: flex-end;
  }
  .mobileButtonWrapper {
    display: none;
    justify-content: flex-end;
  }

  .messageBlock {
    height: 40px;
    display: flex;
    align-items: center;
  }

  .errorInputText {
    @include styleForText(12px, $fontMain, $additionalColorContent);
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    padding: 0 20px;
    background-color: #f8f8f8;
    &_title {
      margin-top: 40px;
    }

    .desctopButtonWrapper {
      display: none;
    }
    .mobileButtonWrapper {
      display: flex;
    }
  }
}
