@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.ComponentDropdowns {
  margin-left: 80px;
  margin-top: -41px;
  width: 51%;

  &__Item {
    height: 107px;
    border-bottom: 1px solid #dadada;
    overflow: hidden;
    transition: 0.3s;
  }

  &__IconArrow {
    position: absolute;
    transition: transform 0.3s;
  }

  &__IconArrowOne {
    left: 157px;
    top: 51px;
  }

  &__IconArrowTwo {
    left: 235px;
    top: 49px;
  }

  &__IconArrowThree {
    left: 173px;
    top: 53px;
  }

  &__IconArrowFour {
    left: 248px;
    top: 55px;
  }

  &__Input:checked + &__Item {
    height: 482px;
    background-color: $colorRedOpacity;
  }

  &__Input:checked + &__Item &__IconArrow {
    transform: rotate(-90deg);
  }

  &__DropdownBlock {
    padding-left: 39px;
    padding-top: 38px;
    width: 91%;
  }

  &__DropdownItem {
    margin-bottom: 22px;
    border-bottom: 1px solid #dadada;
  }

  &__DropdownItem:last-child {
    margin-bottom: 0;
  }

  &__Input {
    display: none;
  }

  &__Label {
    @include styleForText(20px);

    padding-left: 40px;
    padding-top: 45px;
    display: block;
    position: relative;
  }

  &__Count {
    color: $colorInfo;
    padding-left: 6px;
  }

  &__IconStar {
    fill: #fdbe42;
    margin-right: 4px;
  }

  &__DropdownFeedback {
    display: flex;
  }

  &__DropdownMessage {
    @include styleForText(16px, "InterRegular");

    padding-left: 63px;
    padding-top: 2px;
  }

  &__DropdownName {
    @include styleForText(16px, "InterRegular", $colorInfo);

    padding-top: 6px;
    padding-left: 2px;
    padding-bottom: 26px;
  }

  &__DropdownButton {
    padding: 16px 61px 17px;
    background-color: #0e0e0e;
    font-family: "InterMedium", sans-serif;
    font-size: 18px;
    color: white;
    float: right;
    margin-top: -16px;
  }

  &__DropdownButton::after {
    content: "";
    display: block;
    clear: both;
  }
}
