@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 370px;

  &:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.32);
  }
}

.wrapper {
  padding: 0 6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-wrap: break-word;
  background: transparent linear-gradient(180deg, #0E0E0E00 0%, #0E0E0E 100%) 0 0 no-repeat padding-box;
}

.title {
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
}

.desc {
  @include styleForText(12px, $fontAdditional, #fff);

  opacity: 0.5;
  margin-top: 12px;
  overflow: hidden;
  max-height: 32px;
}

.footer {
  margin-top: 15px;
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
}

.tag {
  @include styleForText(12px, $fontAdditional, #fff);

  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  @include styleForText(12px, $fontMain, #fff);
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .footer {
    flex-wrap: wrap;
  }

  .tags {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .tag {
    font-size: $fontSizeContent;
  }

  .desc {
    font-size: $fontSizeContent;
  }

  .title {
    font-size: 18px;
  }
}
