@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.catalog {
  @include container();
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.title {
  margin: 28px 0 0;
}

.productsWrapper {
  margin-top: 28px;
  margin-bottom: 163px;
}

.titleCategory {
  font-size: $fontSizeForTitle;
  margin-top: 40px;
}

.filterIndicatorsWrapper {
  width: 64% !important;
  top: 140px;
}

.productsWrapperMobile {
  margin-bottom: 80px;
}

.marginTop > div + div {
  padding-top: 60px;
}

@media screen and (max-width: 1380px) {
  .filterIndicatorsWrapper {
    left: 31% !important;
  }
}

@media screen and (max-width: 991px) {
  .filterIndicatorsWrapper {
    left: 2% !important;
  }
}

@media screen and (max-width: 768px) {
  .productsWrapper {
    margin-top: 0;
  }

  .titleCategory {
    margin-top: 15px;
  }
}
