@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.catalog {
  @include container();

  overflow: hidden;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.title {
  margin: 28px 0 0;
}

.productsWrapper {
  margin-top: 28px;
  margin-bottom: 163px;
}

.titleCategory {
  font-size: $fontSizeForTitle;
  margin-top: 40px;
}

.productsWrapperMobile {
  margin-bottom: 80px;
}

.goodsNumber {
  position: absolute;
  right: 0;
  top: 240px;
  right: 260px;
}

.marginTop>div+div {
  @media screen and (min-width: 1500px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 85px;
  }
}

@media screen and (max-width: 768px) {
  .productsWrapper {
    margin-top: 0;
  }

  .titleCategory {
    margin-top: 15px;
  }
}