@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.careers {
  padding-left: 36px;
  padding-top: 16px;
  border-left: 1px solid #ececec;
  margin-left: -1px;
}

.title {
  margin-bottom: 39px;
}

.featuresWrapper {
  margin-top: 30px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.accordion {
  margin-top: 40px;
}

.item {
  width: 97%;
  padding: 23px 0 20px 3%;
}

.itemOpen {
  width: 93%;
  background: $colorRedOpacity;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardText {
  margin-top: 15px;
  text-align: center;
}

.info {
  padding-bottom: 40px;
}

.infoDesc {
  @include styleForText(15px, $fontAdditional);

  line-height: 21px;
  margin-top: 20px;
}

.form {
  border-radius: 10px;
  background-color: #fff;
  width: 528px;
  padding: 39px 40px;
  margin-top: 30px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 31px;
}

.loadController {
  @include styleForText(15px, $fontMain, $colorForLink);

  width: 222px;
  padding: 10px 0;
  text-align: center;
  display: block;
  border-radius: 4px;
  border: 1px solid $colorForLink;
}

.indexText {
  margin-top: 10px;
  position: relative;
  max-width: 274px;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $green;
  position: absolute;
  top: 15px;
  left: 5px;
  padding: 5px;
}

.bgSuccess {
  padding: 30px 30px 20px 105px;
  background: $darkGreen;
  margin-top: 30px;
  border: 1px solid #dbedc6;
  border-radius: 5px;
}

.successTitle {
  margin-bottom: 20px;
  font-size: 22px;

  &:before {
    content: '';
    width: 60px;
    height: 60px;
    background: url('/images/ok.gif');
    position: absolute;
    background-size: cover;
    top: 25px;
    left: 25px;
  }

  &+.successTitle {
    margin-bottom: 0;
    font-size: 14px;

    &:before {
      display: none;
    }
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.textFieldWrapper {
  width: 259px;
  margin-bottom: 31px;

  @media screen and (min-width: 991px) {
    input {
      width: 95%;
    }
  }
}

.formButton {
  width: 100%;
  margin-top: 17px;
}

@media screen and (max-width: 1200px) {
  .form {
    width: 79%;
  }

  .textFieldWrapper {
    width: 244px;
  }

  .formButton {
    width: 100%;
  }
}

@media screen and (max-width: 1088px) {
  .inputWrapper {
    flex-direction: column-reverse;
  }

  .formButton {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .careers {
    padding: 0 0 100px 0;
    border-left: none;
  }

  .item {
    width: 99.6%;
    padding-left: 0;
  }

  .info {
    padding-bottom: 15px;
  }

  .successTitle {
    font-size: 18px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 7px;
  }

  .accordion {
    margin-top: 0;
  }

  .itemOpen {
    background-color: white !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .form {
    padding: 25px 3.9% 30px 3.9%;
    margin-left: -4%;
    width: 100%;
    background-color: $colorRedOpacity;
    margin-top: 56px;
    border-radius: 0;
  }

  .inputWrapper {
    margin-top: 20px;
    overflow: hidden;
  }

  .inputGroup {
    width: 100%;
  }

  .icon {
    top: 0;
  }

  .textFieldWrapper {
    margin-bottom: 15px;
    width: 97.7%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .infoDesc {
    font-size: $fontSizeMobile;

  }

  .formTitle {
    font-size: 18px;
  }

  .loadController {
    font-size: 18px;
    margin-top: 25px;
  }

  .formButton {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  .cards {
    flex-direction: column;
  }

  .cardWrapper {
    &:first-child {
      margin-top: 0;
    }

    margin-top: 20px;
  }
}

.infoDesc>ul+p>img {
  width: 97%;
}