@import '../../scss/core/vars';
@import '../../scss/core/mixins';

.filter {
  flex-grow: 1;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  min-width: 100px;
  max-width: 200px;
  padding: 18px 10px;
  position: relative;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    .dropDownBlock {
      display: block;
    }
    .paramController::after {
      transform: rotate(90deg);
    }
  }
}
.filter + .filter {
  border-left: none;
}

.dropDownBlock {
  display: none;
  transition: 0.3s;
  z-index: 1000;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  width: calc(100% + 2px);
  left: -1px;
  top: 52px;
  border: 1px solid #dadada;
  border-top: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
}
.dropDownBlockMobile {
  display: block;
  border: none;
  position: relative;
  top: 0;
  left: 0;
}

.dropDownWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dadada;
}
.dropDownWrapperMobile {
  border-top: none;
}

.dropDownFilter {
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #dadada;
  padding: 4px 6px;
}

.dropDownList {
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  background-color: #fff;
}

.filterGift {
  padding: 19px 2% 17px;
}

.accordion {
  width: 96%;
}

.giftBacketsFilter {
  border: none;
  padding: 15px 3%;
  background-color: $colorIndicators;
}

.field {
  display: none;
}

.paramController {
  @include styleForText();

  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 1;

  &::after {
    content: url('/svg/Path167.svg');
    position: absolute;
    right: 0;
    top: -1px;
    transition: transform 0.3s;
  }
}

.paramControllerAfterGift::after {
  content: url('/svg/Path239.svg');
  transform: rotate(-90deg);
}

.field:checked + .paramControllerAfterGift::after {
  transform: rotate(0) !important;
}

.field:checked + .paramController::after,
.field:checked + .controller::after,
.field:checked + .leftSideController::after {
  transform: rotate(90deg);
}

.dropDownListMobile {
  background-color: $colorIndicators;
}

.dropDownItem {
  margin-bottom: 11px;
}

.dropDownController {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  height: 20px;
  line-height: 22px;
  padding-left: 30px;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $colorIndicators;
    background-image: url('/svg/Path1732.svg');
    background-repeat: no-repeat;
    border-radius: 6px;
    background-position: center;
    left: 5px;
    top: 0;
  }
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.dropDownController:hover {
  background-color: rgba(220, 220, 220, 0.6);
}

.dropDownControllerForGift::after {
  background-color: white;
}

.colorBlock {
  display: inline-block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 6px;
}

.withBorder {
  border: 1px solid $colorBorder;
}

.field:checked + .dropDownController::after {
  background-image: url('/svg/Path1722.svg');
  background-color: $colorContent;
}

// .field:checked ~ .dropDownListWrapper .dropDownList {
//   top: -1px;
// }

// @media screen and (max-width: 991px) and (min-width: 768px) {
//   .dropDownList {
//     padding: 0 5.2% 18px;
//   }
// }

@media screen and (max-width: 768px) {
  .dropDownList {
    position: static;
    border: none;
    width: 100%;
    padding: 0;

    & .dropDownItem:first-child {
      border-top: none;
    }
  }

  .field:checked + .dropDownController::after {
    width: 18px;
    height: 18px;
  }

  .dropDownController {
    font-size: $fontSizeMobile;
    display: flex;
    align-items: center;
  }

  .colorBlock {
    border-radius: 0;
  }
}
