@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.container {
  @include container();
}

.row {
  display: flex;
  align-items: flex-start;
  margin-top: 21px;
}

.leftBlock {
  max-width: 313px;
  width: 100%;
  border-right: 1px solid $colorIndicators;
}

.rightBlock {
  width: 100%;
  margin-left: 37px;
}

.title {
  border-bottom: 1px solid $colorIndicators;
  padding-bottom: 22px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 67px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  width: 700px;
}

.paginationButton {
  width: 246px;
}

.notFoundText {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.navPanelMobile {
  margin-top: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid $colorIndicators;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .pagination {
    width: 100%;
    flex-direction: column;
  }

  .paginationButton {
    margin-top: 20px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .pagination {
    flex-wrap: wrap;
    width: auto;
    align-items: baseline;
  }

  .paginationButton {
    margin-top: 20px;
  }

  .leftBlock {
    max-width: 236px;
  }
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    margin-top: 0;
  }

  .rightBlock {
    margin-left: 0;
  }

  .cards {
    margin-bottom: 25px;
  }

  .title {
    padding-bottom: 0;
    border-bottom: none;
  }

  .pagination {
    margin-bottom: 100px;
  }

  .paginationButton {
    width: 100%;
    margin-top: 44px;
  }
}
