@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.wrapper {
  width: 100%;
}

.inputsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.inputGroup {
  position: relative;
  width: 50%;

  &:last-child {
    display: flex;
    justify-content: flex-end;
  }

  button {
    position: absolute;
    right: 15px;
    top: 13px;
    width: 10px;
    height: 10px;

    @media screen and (max-width: 1380px) {
      right: 13px;
    }
  }

  & + .inputGroup {
    button {
      right: 5px;

      @media screen and (max-width: 1380px) {
        right: 5px;
      }
    }
  }
}

.boundaryTextFrom,
.boundaryTextTo {
  font-size: 16px;
  top: 9.5px;
  position: absolute;
}

.boundaryTextFrom {
  left: 11%;
}

.boundaryTextTo {
  left: 19%;
}

.input {
  @include styleForText(15px);

  width: 60%;
  border: 1px solid $colorInfo;
  padding: 10px 20px 9px 5px;

  &:focus::placeholder {
    opacity: 0;
  }

  @media screen and (max-width: 1380px) {
    width: 74%;
  }
}

.button {
  @include styleForText(15px, $fontMain, $additionalColorContent);

  margin-top: 20px;
  width: 100%;
  text-align: center;

  &:hover {
    opacity: .5;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .button {
    display: none;
  }
}
