@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.aboutStore {
  padding: 9px 0 0 36px;
  border-left: 1px solid #ececec;
  margin-bottom: 37px;
  margin-left: -1px;
}

.title {
  margin-top: 70px;
  margin-bottom: 41px;
}

.signature {
  @include styleForText(10px, 'InterItalic', $colorInfo);

  margin-top: 30px;
}

.slider {
  margin-top: 25px;
  margin-bottom: 38px;
  position: relative;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 79px;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  width: 32%;
  background-position: center;
  height: 349px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;

  @media screen and (max-width: 768px) {
    overflow: hidden;
  }
}

.cardWrapper {
  background: transparent linear-gradient(180deg, #0E0E0E00 0%, #0E0E0E 100%) 0 0 no-repeat padding-box;
  border-radius: 15px;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media screen and (max-width: 768px) {
    border-radius: 8px;
  }
}

.cardContent {
  display: flex;
}

.cardTitle {
  @include styleForText($fontSizeForTitle, $fontMain, #fff);

  margin-bottom: 11px;
  margin-left: 30px;
}

.cardAmount {
  @include styleForText(12px, $fontAdditional, #fff);

  opacity: 0.8;
}

.cardLink {
  @include styleForText(12px, $fontMain, #fff);

  padding-right: 30px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 30px;
}

.description,
.descriptionHistory,
.descriptionCatalog {
  @include styleForText(16px, $fontAdditional);

  width: 88%;
  line-height: 25px;
}

@media screen and (max-width: 1804px) {
  .cards {
    justify-content: space-around;
  }

  .card {
    margin-bottom: 39px;
    height: 388px;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .aboutStore {
    padding: 0 0 100px 0;
    border-left: none;
    margin-bottom: 0;
  }

  .title {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .description,
  .descriptionCatalog,
  .descriptionHistory {
    font-size: 14px;
    width: 100%;
    margin-top: 0;
  }

  .descriptionCatalog {
    margin-top: 20px;
  }

  .signature {
    margin-top: 20px;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }

  .cards {
    margin-top: 50px;
  }

  .card {
    margin-bottom: 15px;
    height: 164px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cardAmount {
    font-size: 14px;
  }

  .cardLink {
    display: none;
  }
}
