@import "../../../scss/core/mixins";

.ProfileMailing {
  padding-top: 16px;
  padding-left: 36px;
  margin-bottom: -13px;
  border-left: 1px solid #dadada;

  &__Title {
    @include styleForText(30px);
  }

  &__Desc {
    @include styleForText(20px);

    padding-top: 41px;
    padding-bottom: 29px;
  }

  &__Text,
  &__TextTwo {
    @include styleForText(16px, $fontAdditional, $colorInfo);

    padding-top: 11px;
    padding-bottom: 20px;
  }

  &__TextTwo {
    width: 53%;
    padding-top: 15px;
    line-height: 20px;
  }

  &__Field {
    display: none;
  }

  &__Controller {
    @include styleForText();

    position: relative;
    display: block;
    padding-left: 30px;

    &::before {
      content: "";
      background-image: url("../../../assets/svg/Path 172.svg");
      width: 20px;
      height: 20px;
      background-color: $colorIndicators;
      border-radius: 6px;
      position: absolute;
      left: 0;
      background-position: 5px 6px;
      background-repeat: no-repeat;
    }
  }

  &__Field:checked + &__Controller::before {
    background-color: #ffa2aa;
  }

  &__Line {
    height: 1px;
    width: 100%;
    border: none;
    background-color: $colorIndicators;
    margin-bottom: 19px;
  }

  &__Select {
    @include styleForText(20px);

    padding-top: 20px;
    padding-bottom: 30px;
  }

  &__ControllerSelect {
    margin-bottom: 15px;
  }

  &__Button {
    @include styleForButton(196px);
    color: white;
    background-color: #ffa2aa;
    margin-top: 35px;
  }
}
