@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.siteMap {
  padding-top: 15px;
  padding-left: 36px;
  width: 101%;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #dadada;
}

.item {
  margin-bottom: 52px;
}

.itemBorder,
.itemBorderAbout {
  border-left: 1px solid $colorIndicators;
  padding-left: 58px;
  height: max-content;
}

.title {
  @include styleForText(30px);
}

.lists {
  display: flex;
  flex-wrap: wrap;
}

.listsItem {
  padding-right: 57px;
  margin-right: 53px;
  margin-top: 41px;
  border-right: 1px solid $colorIndicators;

  &:last-child {
    border-right: none;
    margin-right: 0;
  }

  &:first-child {
    padding-left: 0;
  }
}

.listsItemLinks {
  margin-top: 18px;
}

.listsItemLinkWrapper {
  margin-bottom: 7px;
}

.listsItemTitle {
  @include styleForText(20px);
}

.listsItemLink {
  @include styleForText(16px, $fontAdditional);

  &:hover {
    color: $colorForLink;
  }
}

.itemLinksGroup {
  display: flex;
}

@media screen and (max-width: 1847px) {
  .itemForChildren {
    border-left: none;
    padding-left: 0;
  }
}
