@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.content {
  @include container();
}

.productData {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
}

.colors h6 span {
  margin-left: 10px;
}

.colors,
.buttonsSize {
  p {
    display: none;

    &.show {
      display: block;
      color: $additionalColorContent;
      margin: auto 0 auto 10px;
    }
  }
}

.sliderTitle {
  width: 221px;
  margin-bottom: 15px;
}

.productSlider {
  height: 663px;
  display: flex;
  width: 100%;
  position: relative;
}

.productSliderWrapper {
  width: 45.2%;
}

.list {
  height: 100%;
}

.addPhotos {
  display: flex;
  flex-direction: column;
  margin-right: 22px;
  position: relative;
  width: 100px;
}

.linkAddImages {
  width: 80px;
  height: 112px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.button {
  margin-bottom: 18px;
}

.slider {
  position: relative;
  width: 84%;

  &.fullWidth {
    width: 100%;

    .image {
      object-fit: cover;

      @media (max-width: 768px) {
        object-fit: contain;
      }
    }
  }
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;

  @media (max-width: 768px) {
    object-fit: contain;
  }
}

.sliderNav {
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.productDetails {
  margin-left: 80px;
  margin-top: 15px;
  width: 50.7%;
}

.productDetailsHeader {
  display: flex;
  justify-content: space-between;
}

.productTitleBlock {
  width: 89%;
}

.productTitle {
  width: 100%;
  font-family: $fontAdditional;
}

.addInfo {
  @include styleForText(12px, $fontAdditional, $colorInfo);
  position: relative;
  top: 5px;
}

.descModel {
  @include styleForText(12px, $fontAdditional, $colorInfo);

  padding-top: 11px;
}

.buttonLike {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  margin-top: -5px;
  transition: opacity .3s;

  &:hover {
    opacity: .5;
  }
}

.buttonLikeSelected {
  svg path {
    fill: #f04950;
  }
}

.buttonHidden {
  display: none !important;
}

.icon {
  width: 27px;
  height: 27px;
}

.addInfoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.salePrice {
  @include styleForText($fontSizeForTitle, $fontMain, $additionalColorContent);

  position: relative;
}

.oldPrice {
  @include styleForText();

  position: absolute;
  text-decoration: line-through;
  display: inherit;
  right: -57px;
  top: 2px;
}

.price {
  display: flex;
  @include styleForText($fontSizeForTitle);
}

.ratingWrapper {
  position: relative;
}

.addFeedback {
  @include styleForText();

  margin-top: 6px;
  margin-right: 9px;
  border-bottom: 1px solid $colorContent;
  display: block;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    text-decoration: none;
    opacity: .5;
    border-bottom-color: transparent;
  }
}

.countAssessment {
  margin-top: -3px;
  margin-left: -14px;
  display: inline-block;
}

.countFeedbacks {
  @include styleForText(14px, $fontAdditional, $colorInfo);

  display: inline-block;
  margin-left: 0;
  position: absolute;
  top: 2px;
}

.icon {
  fill: #fdbe42;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.iconNoFill {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: #fdbe42;
}

.priceForThree {
  display: inline;
  position: relative;
  padding-left: 5px;
  color: $additionalColorContent;
  width: 130px;

  &:hover .prompt {
    display: flex;
  }
}

.iconBlock {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 15px;

  &:hover .prompt {
    display: flex;
  }
}

.iconQuestion {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.prompt {
  display: none;
  position: absolute;
  bottom: 28px;
  right: -200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 13px;

  @media screen and (max-width: 768px) {
    width: 220px;
    right: 0;
    z-index: 99;
  }
}

.iconLike {
  width: 34px;
  height: 23px;
  fill: #ffddde;
}

.line {
  width: 100%;
  height: 1px;
  background-color: $colorIndicators;
  border: none;
}

.checkCount {
  margin-top: 20px;
}

.lineOne {
  margin-top: 30px;
}

.colors {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  flex-direction: column;
}

.buttonsColor {
  display: flex;
  margin-top: 10px;
  align-items: center;
  width: 100%;

  span {
    margin-right: 10px;
  }
}

.buttonColor {
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 3px;
  margin-right: 8px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: url("/svg/Path1722.svg");
    position: absolute;
    top: 8px;
    left: 11px;
    visibility: hidden;
  }
}

.withBorder {
  border: 1px solid $colorBorder;

  &::before {
    content: url("/svg/Path1732.svg");
    position: absolute;
    top: 6px;
    left: 8px;
    visibility: hidden;
  }
}

.buttonColorActive::before {
  visibility: visible;
}

.sizes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  position: relative;
}

.sizesFirstBlock {
  display: flex;
  align-items: center;
}

.buttonsSize {
  display: flex;
  margin: 10px 0 0;
}

.buttonSize {
  @include styleForText(12px, $fontAdditional);

  padding: 6px 10px;
  background-color: $colorIndicators;
  border-radius: 3px;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.buttonSizeActive {
  background-color: $colorContent;
  color: white;
}

.counterBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.counter {
  margin-top: 10px;
}

.lineTwo {
  margin-top: 38px;
}

.controlButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}

.buttonAddToCart {
  width: 51%;

  &:disabled {
    cursor: no-drop;
  }
}

.buttonBuyOneClick {
  width: 46%;
}

.form {
  display: grid;
  width: 100%;
  margin-top: 10px;
}

.subscribeButton {
  @include styleForText();

  margin-top: 29px;
  border-bottom: 1px solid $colorContent;

  &:hover {
    border-bottom-color: transparent;
  }
}

.featuresBlock {
  width: 100%;
  display: flex;
  background-color: $colorRedOpacity;
  margin-top: 40px;
  padding: 30px 0;
}

.featuresItem {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:last-child .featuresDesc {
    border: none;
  }
}

.featuresIcon {
  width: 32px;
  height: 32px;
}

.featuresDesc {
  @include styleForText(12px);

  width: 100%;
  text-align: center;
  margin-top: 16px;
  border-right: 1px solid $colorInfo;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 77px;
}

.similarProducts {
  width: 47.1%;
  margin-left: -16px;
}

.similarProductsContent {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin-left: 14px;
}

.similarProductsCard {
  width: 43.6% !important;
  margin-bottom: 8px;
  padding: 2%;

  &>div+ul {
    left: 4.2%;
  }

  &:nth-child(odd) {
    margin-right: 4%;

    &>div+ul {
      left: 4%;
    }
  }
}

.seenProducts {
  margin-top: 100px;
}

.titleSeenProduct {
  margin-left: 0;
}

.seenProductsContent {
  width: 101%;
  display: flex;
  margin-top: 50px;
  margin-left: -13px;
}

.seenProductsCard {
  width: 18% !important;
  padding: 1% !important;
}

.featuresCardsWrapper {
  margin-top: 100px;
  margin-bottom: 200px;
}

.dropdowns {
  margin-top: -216px;
  width: 49%;
  margin-right: 9px;
}

.margin {
  margin-top: -130px;
}

.accordionWrapper {
  padding: 35px 0 30px 36px;

  &>a span {
    @media screen and (min-width: 1100px) {
      font-size: 17px !important;
    }
  }
}

.description {
  margin-top: 30px;
  margin-right: 46px;

  &>* {
    font-family: $fontAdditional;
    font-size: 12px;
  }

  & img,
  & iframe {
    width: 100%;
    margin: 20px 0;
    height: 300px;
  }
}

.productVideo {
  margin: 20px 0;
}

.attributesList {
  margin-top: 30px;
}

.attributesItem {
  display: flex;
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }
}

.attributesName,
.attributesValue {
  width: 200px;

  @include styleForText(12px, $fontAdditional)
}

.attributesName {
  color: $colorInfo;
}

.dropdownBlock {
  padding-top: 38px;
  width: 95%;
}

.dropdownItem {
  margin-bottom: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid #ececec;
  display: flex;
  position: relative;

  &:last-child {
    border-bottom: none;
  }
}

.brandContainer {
  width: 95%;
  margin-top: 21px;
}

.brandDesc {
  margin-top: 20px;

  &>* {
    font-family: $fontAdditional;
    font-size: 12px;
  }

  & img,
  & iframe {
    margin: 20px 0;
    width: 100%;
  }

  & iframe {
    height: 300px;
  }
}

.linkToBrand {
  width: 300px;
  margin: 20px auto 0;
  display: block;
}

.iconStar {
  fill: #fdbe42;
  margin-right: 4px;
}

.dropdownFeedback {
  display: flex;
  flex-direction: column;
  width: 128px;
  min-width: 128px;
}

.startWrapper {
  margin-bottom: 10px;
}

.dropdownMessage {
  @include styleForText(12px, $fontAdditional);

  max-width: 400px;
  padding-left: 63px;
}

.dropdownName {
  @include styleForText(12px, $fontAdditional, $colorInfo);
}

.userNameEdit {
  color: $colorContent;
}

.linkAddImageWrapper {
  position: absolute;
  top: 0;
  left: 100px;
  border-bottom: 1px solid;
  transition: all .3s;

  &:hover {
    border-bottom-color: transparent;
    opacity: .5;
  }
}

.dropdownButtons {
  display: flex;
  position: absolute;
  right: 0;
  top: 35px;
}

.buttonControlComment {
  @include styleForText(12px);

  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }
}

.textNoComments {
  width: 100%;
  text-align: center;
  margin-bottom: 54px;
}

.showMore {
  margin-bottom: 40px;
}

.dropdownButton {
  width: 311px;
  float: right;
  margin-top: -16px;
  margin-right: 39px;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.editButton {
  width: 597px;
  float: right;
  margin-top: -16px;
  margin-right: 39px;
}

.sendFeedbackButton {
  margin-top: 35px;
  width: 95.5%;
}

.feedbackForm {
  margin-top: 30px;
}

.formInfo {
  @include styleForText($fontSizeContent, $fontAdditional, $colorInfo);
}

.userNameValue {
  color: $colorContent;
  padding-left: 5px;
}

.fieldFeedbackWrapper {
  position: relative;
}

.fieldInput {
  @include styleForText($fontSizeContent, $fontAdditional);

  margin: 5px 0 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid $colorInfo;
  background: transparent;

  &::placeholder {
    color: $colorInfo;
  }
}

.fieldFeedback {
  @include styleForText($fontSizeContent, $fontAdditional);

  margin-top: 25px;
  padding: 20px;
  width: 89.5%;
  height: 100px;
  border: 1px solid $colorInfo;
  background: transparent;

  &::placeholder {
    color: $colorInfo;
  }
}

.chooseRating {
  @include styleForText($fontSizeContent, $fontAdditional);

  display: flex;
  margin-top: 30px;
}

.ratingWrapperForFeedbacks {
  margin-left: 10px;
}

.paymentsWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.linkDrop {
  @include styleForText(16px);
}

.notAuthBlockComment {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $colorBorder;
  padding-top: 50px;
  position: relative;
}

.notAuthBlockTitle {
  width: 302px;
  text-align: center;
  margin-bottom: 40px;
}

.buttonAuthViaFacebook {
  width: 100%;
  margin-bottom: 15px;
}

.noAuthBlockButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.facebookButton {
  @include styleForText(12px, $fontMain, white);

  width: 100%;
  padding: 14px 0 15px;
  text-align: center;
  background-color: $colorForLink;
  margin-bottom: 15px;
  position: absolute;
  left: 0;

  &:hover {
    background-color: #004786;
  }
}

.linkForLogin {
  @include styleForText(12px, $fontMain, white);

  padding: 14px 0 15px;
  background-color: $additionalColorContent;

  &:hover {
    background-color: #b6353b;
  }
}

.linkForRegistration {
  @include styleForText(12px, $fontMain, $additionalColorContent);

  padding: 14px 0 15px;
  border: 1px solid $additionalColorContent;

  &:hover {
    background-color: $additionalColorContent;
    color: white
  }
}

.linkForLogin,
.linkForRegistration {
  width: 48%;
  text-align: center;
}

@media screen and (max-width: 1640px) {
  .descModel {
    width: 400px;
  }
}

@media screen and (max-width: 1640px) {
  .productSlider {
    height: 684px;
  }
}

@media screen and (max-width: 1474px) {
  .editButton {
    width: 95%;
    margin-right: 29px;
  }
}

@media screen and (max-width: 1381px) {
  .productDetails {
    margin-left: 30px;
    width: 47.7%;
  }

  .productSliderWrapper {
    width: 47%;
  }

  .productInfo {
    margin-top: 40px;
  }

  .dropdowns {
    width: 47.3%;
    margin-right: 6px;
    margin-top: -178px;
  }

  .margin {
    margin-top: -110px;
  }

  .similarProducts {
    width: 49.8%;
  }
}

@media screen and (max-width: 1044px) {
  .descModel {
    width: 269px;
  }

}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .featuresDesc {
    @include styleForText(11px);
  }

  .dropdownButton,
  .editButton {
    margin: 0;
    width: 100%;
  }

  .paymentsWrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .productData {
    margin-top: 20px;
  }

  .productTitle {
    display: none;
  }

  .productDetails {
    margin-left: 3%;
    margin-top: 0;
    width: 43.7%;
  }

  .productSliderWrapper {
    width: 54%;
  }

  .slider {
    width: 100%;
    height: 346px;
  }

  .productSlider {
    flex-direction: column;
  }

  .addPhotos {
    margin-right: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .linkAddImages {
    width: 60px;
    height: 70px;
    margin: 0 10px 5px 0;
  }

  .addInfo {
    color: $colorContent;
    padding-left: 0;
  }

  .productTitleBlock {
    width: 74%;
  }

  .descModel {
    display: none;
  }

  .addInfoBlock {
    margin-top: 12px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .ratingWrapper {
    margin-bottom: 10px;
  }

  .countAssessment {
    margin-top: 0;
    margin-left: 0;

    & svg {
      width: 16px;
      height: 16px;
    }
  }

  .countFeedbacks {
    color: $colorContent;
    top: 0;
  }

  .price {
    font-size: 24px;
  }

  .addFeedback {
    display: none;
  }

  .line {
    display: none;
  }

  .colors {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .buttonsColor {
    margin-left: 0;
    flex-wrap: wrap;
    margin-top: 13px;
  }

  .buttonColor {
    width: 35px;
    height: 35px;
    margin-bottom: 7px;

    &::before {
      top: 10px;
      left: 12px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .linkAddImage {
    width: 100%;
  }

  .sizes {
    margin-top: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .buttonsSize {
    width: 100%;
    top: 1px;
    order: 1;
    margin-top: 13px;
  }

  .buttonSize {
    width: auto;
    height: 39px;
    background: white;
    border: 1px solid $colorInfo;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 18px;
    margin-bottom: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  .buttonSizeActive {
    background: $colorContent;
  }

  .counterBlock {
    margin-top: 0;
    flex-direction: column;
  }

  .counter {
    margin-left: 0;
    margin-top: 13px;

    button {
      width: 33px;
      height: 33px;
      padding: 0 0 4px 0;
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 23px;
    }

    p {
      font-size: 23px;
      font-family: "InterRegular", sans-serif;
    }
  }

  .controlButtons {
    margin-top: 20px;
    flex-direction: column;
  }

  .seenProducts {
    display: none;
  }

  .buttonAddToCart,
  .buttonBuyOneClick {
    width: 100%;
  }

  .buttonBuyOneClick {
    margin-top: 10px;
  }

  .subscribeButton {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    color: $colorInfo;
  }

  .featuresBlock {
    display: none;
  }

  .productInfo {
    flex-direction: column-reverse;
  }

  .dropdowns {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    border: 1px solid #dadada;
  }

  .dropdownItem {
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .dropdownBlock {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #dadada;
    margin-top: 18px;
  }

  .description {
    margin-right: 0;
  }

  .brandContainer,
  .linkToBrand {
    width: 100%;
  }

  .dropdownFeedback {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .dropdownName {
    padding-left: 10px;
    font-size: $fontSizeMobile;
  }

  .dropdownButtons {
    position: static;
    margin-top: 10px;
  }

  .buttonControlComment {
    font-size: $fontSizeMobile;
  }

  .startWrapper {
    margin-bottom: 0;

    & svg {
      width: 16px;
      height: 16px;
    }
  }

  .dropdownMessage {
    padding-left: 0;
    font-size: $fontSizeMobile;
    margin-top: 4px;
  }

  .paymentsWrapper {
    flex-direction: column;
  }

  .dropdownButton {
    width: 100%;
    margin-right: 0;
  }

  .sendFeedbackButton {
    width: 100%;
  }

  .editButton {
    width: 100%;
    margin-right: 0;
  }

  .similarProducts {
    margin-top: 40px;
    width: 100%;
  }

  .similarProductsContent {
    margin-right: 0;
    margin-left: 16px;
    width: 100%;
  }

  .similarProductsCard {
    padding: 0;
    width: 24.2% !important;
    margin-right: 1% !important;
    margin-bottom: 20px;

    &:nth-child(4n) {
      margin-right: 0 !important;
    }
  }

  .featuresCardsWrapper {
    margin-bottom: 90px;
    margin-top: 50px !important;
  }

  .seenProductsContent {
    justify-content: space-between;
  }

  .notAuthBlockComment {
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  .similarProductsCard {
    width: 32% !important;
    margin-right: 2% !important;

    &:nth-child(4n) {
      margin-right: 2% !important;
    }

    &:nth-child(3n) {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 521px) {
  .productData {
    flex-direction: column;
    position: relative;
  }

  .productSliderWrapper {
    width: 100%;
  }

  .productSlider {
    flex-direction: row-reverse;
    height: 466px;
  }

  .slider {
    height: 100%;
  }

  .addPhotos {
    flex-direction: column;
    width: auto;
    flex-wrap: nowrap;
    margin-left: 5px;
    margin-right: 0;
  }

  .productDetails {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }

  .productTitleBlock {
    width: 100%;
  }

  .buttonLike {
    position: absolute;
    top: 5%;
    right: 80px;
    opacity: 0.7;
  }

  .subscribeButton {
    padding-bottom: 40px;
    border-bottom: 1px solid $colorBorder;
  }
}

@media screen and (max-width: 510px) {
  .similarProductsCard {
    width: 48% !important;
    margin-right: 4% !important;

    &:nth-child(3n) {
      margin-right: 4% !important;
    }

    &:nth-child(even) {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 404px) {
  .productSlider {
    flex-direction: row-reverse;
    height: 350px;
  }

  .buttonLike {
    top: 6%;
    right: 85px;
  }
}

.privateStyle {
  width: 100%;
}

.label {
  display: inline-flex;
  background: #b6353b;
  position: absolute;
  align-items: center;
  color: #fff;
  padding: 6px 5px 6px 5px;
  right: 0;
  top: 10px;
  z-index: 2;
}