@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.content {
  @include container();
}

.productData {
  margin-top: 69px;
  display: flex;
  justify-content: space-between;
}

.sliderTitle {
  width: 221px;
  margin-bottom: 15px;
}

.productSlider {
  height: 663px;
  display: flex;
  width: 100%;
}

.productSliderWrapper {
  width: 45.2%;
}

.list {
  height: 100%;
}

.addPhotos {
  display: flex;
  flex-direction: column;
  margin-right: 22px;
  position: relative;
  width: 100px;
}

.linkAddImages {
  width: 80px;
  height: 112px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.button {
  margin-bottom: 18px;
}

.slider {
  position: relative;
  width: 84%;
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.sliderNav {
  top: 90%;
  left: 50%;
  margin-left: -95px;
}

.productDetails {
  margin-left: 85px;
  margin-top: 15px;
  width: 50.7%;
}

.productDetailsHeader {
  display: flex;
  justify-content: space-between;
}

.addInfo {
  @include styleForText(12px, $fontAdditional, $colorInfo);

  padding-left: 25px;
}

.descModel {
  @include styleForText(12px, $fontAdditional, $colorInfo);

  padding-top: 11px;
}

.buttonLike {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $colorRedOpacity;
  margin-top: -5px;
}

.buttonLikeSelected {
  background-color: #b93843;
}

.icon {
  width: 27px;
  height: 27px;
}

.addInfoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
}

.salePrice {
  @include styleForText($fontSizeForTitle, $fontMain, $additionalColorContent);

  position: relative;
}

.oldPrice {
  @include styleForText();

  position: absolute;
  text-decoration: line-through;
  display: inherit;
  right: -50px;
  top: 2px;
}

.price {
  @include styleForText($fontSizeForTitle);
}

.ratingWrapper {
  position: relative;
}

.addFeedback {
  @include styleForText();

  margin-top: 6px;
  margin-right: 9px;
  display: block;
}

.countAssessment {
  margin-top: -3px;
  margin-left: -14px;
  display: inline-block;
}

.countFeedbacks {
  @include styleForText(12px, $fontAdditional, $colorInfo);

  display: inline-block;
  margin-left: 6px;
  position: absolute;
  top: -2px;
}

.icon {
  fill: #fdbe42;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.iconNoFill {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: #fdbe42;
}

.iconLike {
  width: 34px;
  height: 23px;
  fill: #ffddde;
}

.line {
  width: 100%;
  height: 1px;
  background-color: $colorIndicators;
  border: none;
}

.lineOne {
  margin-top: 30px;
}

.colors {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.buttonsColor {
  display: flex;
  margin-left: 52px;
}

.buttonColor {
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 6px;
  margin-right: 15px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: url("/svg/Path1722.svg");
    position: absolute;
    top: 6px;
    left: 9px;
    visibility: hidden;
  }
}

.buttonColorActive::before {
  visibility: visible;
}

.sizes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  position: relative;
}

.sizesFirstBlock {
  display: flex;
  align-items: center;
}

.buttonsSize {
  display: flex;

  @media screen and (min-width: 769px) {
    position: absolute;
    left: 92px;
  }
}

.buttonSize {
  @include styleForText(12px, $fontAdditional);

  padding: 4px 8px;
  background-color: $colorIndicators;
  border-radius: 3px;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.buttonSizeActive {
  background-color: $colorContent;
  color: white;
}

.counterBlock {
  display: flex;
  margin-top: 39px;
}

.counter {
  margin-left: 44px;
}

.lineTwo {
  margin-top: 38px;
}

.controlButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}

.buttonAddToCart {
  width: 51%;

  &:disabled {
    opacity: 0.7;
    cursor: no-drop;
  }
}

.buttonBuyOneClick {
  width: 46%;
}

.subscribeButton {
  @include styleForText();

  margin-top: 29px;
}

.featuresBlock {
  width: 99%;
  display: flex;
  background-color: $colorRedOpacity;
  margin-top: 40px;
  padding: 30px 0;
}

.featuresItem {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:last-child .featuresDesc {
    border: none;
  }
}

.featuresIcon {
  width: 32px;
  height: 32px;
}

.featuresDesc {
  @include styleForText(12px);

  width: 100%;
  text-align: center;
  margin-top: 16px;
  border-right: 1px solid $colorInfo;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 97px;
}

.similarProducts {
  width: 45.7%;
  margin-left: -16px;
}

.similarProductsContent {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin-left: 14px;
}

.similarProductsCard {
  width: 43.6% !important;
  margin-bottom: 8px;
  height: 493px !important;
  padding: 2%;

  &:nth-child(odd) {
    margin-right: 4%;
  }
}

.seenProducts {
  margin-top: 100px;
}

.titleSeenProduct {
  margin-left: 0;
}

.seenProductsContent {
  width: 101%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: -13px;
}

.seenProductsCard {
  width: 18% !important;
  height: 492px !important;
  padding: 1% !important;
}

.featuresCardsWrapper {
  margin-top: 100px;
  margin-bottom: 200px;
}

.dropdowns {
  margin-top: -41px;
  width: 49%;
  margin-right: 9px;
}

.accordionWrapper {
  padding: 35px 0 30px 36px;
}

.description {
  margin-top: 30px;
  margin-right: 46px;
}

.attributesList {
  margin-top: 30px;
}

.attributesItem {
  display: flex;
}

.attributesName,
.attributesValue {
  width: 200px;

  @include styleForText(12px, $fontAdditional)
}

.attributesName {
  color: $colorInfo;
}

.dropdownBlock {
  padding-top: 38px;
  width: 95%;
}

.dropdownItem {
  margin-bottom: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  display: flex;
  position: relative;

  &:last-child {
    border-bottom: none;
  }
}

.iconStar {
  fill: #fdbe42;
  margin-right: 4px;
}

.dropdownFeedback {
  display: flex;
  flex-direction: column;
  width: 128px;
}

.startWrapper {
  margin-bottom: 10px;
}

.dropdownMessage {
  @include styleForText(12px, $fontAdditional);

  padding-left: 63px;
}

.dropdownName {
  @include styleForText(12px, $fontAdditional, $colorInfo);
}

.userNameEdit {
  color: $colorContent;
}

.dropdownButtons {
  display: flex;
  position: absolute;
  right: 0;
  top: 35px;
}

.buttonControlComment {
  @include styleForText(12px);

  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }
}

.textNoComments {
  width: 100%;
  text-align: center;
  margin-bottom: 54px;
}

.dropdownButton {
  width: 311px;
  float: right;
  margin-top: -16px;
  margin-right: 39px;
  background-color: transparent !important;
}

.editButton {
  width: 597px;
  float: right;
  margin-top: -16px;
  margin-right: 39px;
}

.dropdownButton::after {
  content: "";
  display: block;
  clear: both;
}

.sendFeedbackButton {
  margin-top: 35px;
  width: 95.5%;
}

.feedbackForm {
  margin-top: 30px;
}

.formInfo {
  @include styleForText($fontSizeContent, $fontAdditional, $colorInfo);
}

.userNameValue {
  color: $colorContent;
  padding-left: 5px;
}

.fieldFeedbackWrapper {
  position: relative;
}

.fieldFeedback {
  @include styleForText($fontSizeContent, $fontAdditional);

  margin-top: 25px;
  padding: 20px;
  width: 89.5%;
  height: 100px;
  border: 1px solid $colorInfo;
  background: transparent;

  &::placeholder {
    color: $colorInfo;
  }
}

.chooseRating {
  @include styleForText($fontSizeContent, $fontAdditional);

  display: flex;
  margin-top: 30px;
}

.ratingWrapperForFeedbacks {
  margin-left: 10px;
}

.paymentsWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.linkDrop {
  @include styleForText(16px);
}

.notAuthBlockComment {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $colorBorder;
  padding-top: 50px;
  position: relative;
}

.notAuthBlockTitle {
  width: 302px;
  text-align: center;
  margin-bottom: 40px;
}

.buttonAuthViaFacebook {
  width: 100%;
  margin-bottom: 15px;
}

.noAuthBlockButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 76px;
}

.facebookButton {
  @include styleForText(12px, $fontMain, white);

  width: 100%;
  padding: 14px 0 15px;
  text-align: center;
  background-color: $colorForLink;
  margin-bottom: 15px;
  position: absolute;
  left: 0;
}

.linkForLogin {
  @include styleForText(12px, $fontMain, white);

  padding: 14px 0 15px;
  background-color: $additionalColorContent;
}

.linkForRegistration {
  @include styleForText(12px, $fontMain, $additionalColorContent);

  padding: 14px 0 15px;
  border: 1px solid $additionalColorContent;
}

.linkForLogin,
.linkForRegistration {
  width: 48%;
  text-align: center;
}

@media screen and (max-width: 1640px) {
  .productSlider {
    height: 684px;
  }
}

@media screen and (max-width: 1474px) {
  .editButton {
    width: 95%;
    margin-right: 29px;
  }
}

@media screen and (max-width: 1381px) {
  .productDetails {
    margin-left: 30px;
    width: 47.7%;
  }

  .productSliderWrapper {
    width: 50.2%;
  }

  .dropdowns {
    width: 46.8%;
    margin-right: 6px;
    margin-top: -8px;
    border: 1px solid #dadada;
  }

  .similarProducts {
    width: 52.8%;
  }
}

@media screen and (max-width: 1200px) {
  .seenProductsCard {
    height: 325px !important;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .featuresDesc {
    @include styleForText(11px);
  }

  .dropdownButton,
  .editButton {
    margin: 0;
    width: 100%;
  }

  .paymentsWrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .productData {
    margin-top: 20px;
  }

  .productDetails {
    margin-left: 3%;
    margin-top: 0;
    width: 43.7%;
  }

  .productSliderWrapper {
    width: 54%;
  }

  .slider {
    width: 100%;
    height: 346px;
  }

  .productSlider {
    flex-direction: column;
  }

  .addPhotos {
    margin-right: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .linkAddImages {
    width: 60px;
    height: 70px;
    margin: 0 10px 5px 0;
  }

  .addInfo {
    color: $colorContent;
    padding-left: 0;
  }

  .descModel {
    display: none;
  }

  .addInfoBlock {
    margin-top: 12px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .ratingWrapper {
    margin-bottom: 20px;
  }

  .countAssessment {
    margin-top: 0;
    margin-left: 0;

    & svg {
      width: 16px;
      height: 16px;
    }
  }

  .countFeedbacks {
    margin-left: 0;
    color: $colorContent;
    top: 0;
  }

  .price {
    font-size: 24px;
    margin-top: 15px;
  }

  .addFeedback {
    display: none;
  }

  .line {
    display: none;
  }

  .colors {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .buttonsColor {
    margin-left: 0;
    flex-wrap: wrap;
    margin-top: 13px;
  }

  .buttonColor {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    margin-bottom: 7px;

    &::before {
      top: 10px;
      left: 12px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .linkAddImageWrapper {
    margin-left: 20px;
    width: 75%;
  }

  .linkAddImage {
    text-decoration: underline;
    width: 100%;
  }

  .sizes {
    margin-top: 21px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .buttonsSize {
    top: 1px;
    order: 1;
    margin-top: 13px;
  }

  .buttonSize {
    width: 51px;
    height: 39px;
    background: white;
    border: 1px solid $colorInfo;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 18px;
    margin-bottom: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  .buttonSizeActive {
    background: $colorContent;
  }

  .counterBlock {
    margin-top: 20px;
    flex-direction: column;
  }

  .counter {
    margin-left: 0;
    margin-top: 13px;

    button {
      padding: 0;
      width: 33px;
      height: 33px;
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 23px;
    }

    p {
      font-size: 23px;
      font-family: "InterRegular", sans-serif;
    }
  }

  .controlButtons {
    margin-top: 20px;
    flex-direction: column;
  }

  .seenProducts {
    display: none;
  }

  .buttonAddToCart,
  .buttonBuyOneClick {
    width: 100%;
  }

  .buttonBuyOneClick {
    margin-top: 10px;
  }

  .subscribeButton {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    color: $colorInfo;
  }

  .featuresBlock {
    display: none;
  }

  .productInfo {
    margin-top: 40px;
    flex-direction: column-reverse;
  }

  .dropdowns {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
  }

  .dropdownItem {
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .dropdownBlock {
    width: 100%;
  }

  .dropdownFeedback {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .dropdownName {
    padding-left: 10px;
    font-size: $fontSizeMobile;
  }

  .dropdownButtons {
    position: static;
    margin-top: 10px;
  }

  .buttonControlComment {
    font-size: $fontSizeMobile;
  }

  .startWrapper {
    margin-bottom: 0;

    & svg {
      width: 16px;
      height: 16px;
    }
  }

  .dropdownMessage {
    padding-left: 0;
    font-size: $fontSizeMobile;
    margin-top: 4px;
  }

  .paymentsWrapper {
    flex-direction: column;
  }

  .dropdownButton {
    width: 100%;
    margin-right: 0;
  }

  .sendFeedbackButton {
    width: 100%;
  }

  .editButton {
    width: 100%;
    margin-right: 0;
  }

  .similarProducts {
    margin-top: 40px;
    width: 100%;
  }

  .similarProductsContent {
    margin-right: 0;
    margin-left: 16px;
    width: 100%;
  }

  .similarProductsCard {
    padding: 0;
    width: 24.2% !important;
    height: 265px !important;
    margin-right: 1% !important;
    margin-bottom: 90px;

    &:nth-child(4n) {
      margin-right: 0 !important;
    }
  }

  .featuresCardsWrapper {
    margin-bottom: 60px;
    margin-top: -14px !important;
  }
}

@media screen and (max-width: 610px) {
  .similarProductsCard {
    width: 32% !important;
    height: 290px !important;
    margin-right: 2% !important;

    &:nth-child(4n) {
      margin-right: 2% !important;
    }

    &:nth-child(3n) {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 521px) {
  .productData {
    flex-direction: column;
    position: relative;
  }

  .productSliderWrapper {
    width: 100%;
  }

  .productSlider {
    flex-direction: row-reverse;
    height: 466px;
  }

  .slider {
    height: 100%;
  }

  .addPhotos {
    flex-direction: column;
    width: auto;
    flex-wrap: nowrap;
    margin-left: 5px;
    margin-right: 0;
  }

  .productDetails {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }

  .buttonLike {
    position: absolute;
    top: 5%;
    right: 80px;
    opacity: 0.7;
  }

  .subscribeButton {
    padding-bottom: 40px;
    border-bottom: 1px solid $colorBorder;
  }
}

@media screen and (max-width: 510px) {
  .similarProductsCard {
    width: 48% !important;
    height: 344px !important;
    margin-right: 4% !important;

    &:nth-child(3n) {
      margin-right: 4% !important;
    }

    &:nth-child(even) {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 404px) {
  .productSlider {
    flex-direction: row-reverse;
    height: 350px;
  }

  .buttonLike {
    top: 6%;
    right: 85px;
  }
}

@media screen and (max-width: 400px) {
  .similarProductsCard {
    height: 279px !important;
  }
}
