@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.blogs {
  @include customContainer(85.4%);
}

.headerBLogs {
  padding-top: 45px;
  padding-bottom: 32px;
  border-bottom: 1px solid $colorBorder;
  display: flex;
  align-items: center;
}

.tagsWrapper {
  margin-left: 40px;
}

.mainInfo {
  display: flex;
  margin-top: 49px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.cardWrapper {
  width: 29%;
  margin-bottom: 40px;
  margin-right: 46px;
}

.recommendationsWrapper {
  width: 25%;
}

.addElements {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 66px;
  margin-bottom: 200px;
}

.addElementsWrapper {
  width: 768px;
  display: flex;
}

.showMoreButton {
  @include styleForButton(246px);
  @include styleForBackground();

  margin-left: 194px;
  letter-spacing: -1px;
}
