@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.card {
  margin-bottom: 81px;
}

.cardTitle {
  @include styleForText(30px);

  text-align: center;
  padding-top: 36px;
}

.price {
  @include styleForText($fontSizeContent, $fontMain, $colorInfo);

  text-align: center;
  padding-top: 4px;
}

.image {
  width: 100%;
}
