.button {
  width: 59px;
  height: 54px;
  display: block;
  position: absolute;
}

.icon {
  position: absolute;
  width: 19px;
  top: 23px;
  left: 19px;
}

.iconRotate {
  transform: rotate(-180deg);
}
