@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.delivery {
  padding-left: 35px;
  padding-top: 16px;
  border-left: 1px solid #dadada;
}

.desc {
  @include styleForText(16px, $fontAdditional);

  width: 702px;
  margin-top: 40px;
  margin-left: 36px;
  line-height: 22px;
}

.deliveries {
  display: flex;
  margin-top: 48px;
  margin-bottom: 58px;
}

.cardWrapper {
  border-right: 1px solid #dadada;
  padding-right: 53px;
  margin-right: 62px;
}

.payment {
  margin-top: 50px;
  margin-bottom: 59px;
}

.accordion {
  margin-top: 27px;
}

.item {
  width: 97%;
  transition: 0.3s;
  padding-top: 27px;
  padding-bottom: 25px;
}

.itemOpen {
  padding-left: 40px;
  width: 92.5%;
}

.info {
  padding-bottom: 40px;
}

.infoDesc {
  @include styleForText(16px, $fontAdditional);

  width: 596px;
  padding-top: 30px;
}

.button {
  width: 310px;
  margin-top: 40px;
}
