@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.giftBaskets {
  @include container();

  position: relative;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  opacity: 0.7;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.filterWrapper {
  display: flex;
  flex-direction: column;
}

.products {
  margin-top: 28px;
  margin-bottom: 67px;
  display: flex;
}

.leftSide {
  width: 314px;
}
.sortWrapperMobile {
  display: flex;
  justify-content: space-between;
}
.goodsNumber {
  align-self: flex-end;
  margin-left: auto;
}

.setFilterButton {
  @include styleForButton();
  @include styleForBackground();
  width: 49%;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  margin-bottom: 10px;
  align-self: flex-end;
  font-size: 15px;

  &:hover {
    background-color: $additionalColorContent;
  }
}

.controllersWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.filterWrapper {
  width: 100%;
}

.rightSide {
  width: 78.6%;
  padding-left: 35px;
  margin-top: -1px;
}
.products {
  &_header {
    display: flex;
    flex-direction: column;
  }
  &_filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    @media screen and (max-width: 1375px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.marginTop {
  margin-top: 80px;
}
.cardsWrapper {
  width: 100%;
  position: relative;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  @media screen and (max-width: 1375px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  @media screen and (max-width: 768px) {
    margin-right: 0;
    margin-left: 0;
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  width: 100%;
}

.notFoundText {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.addElements {
  display: flex;
  margin-top: 44px;
  flex-wrap: wrap;
  align-items: baseline;
}

.showMoreButton {
  width: 246px;
  margin-left: 15%;
  letter-spacing: -1px;
}

.descBlock {
  margin-top: 150px;

  h4 {
    font-size: 16px;
  }
}

.descBlockWithoutPaginate {
  margin-top: 10px;
}

.descText {
  @include styleForText(12px, $fontAdditional);

  width: 702px;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .filterWrapper {
    width: 100%;
    max-width: 768px;
    border: 1px solid #ececec;
    background-color: #f8f8f8;
    padding: 0 20px;
    box-sizing: border-box;
    div,
    li,
    ul {
      background-color: #f8f8f8;
    }
  }
  .header {
    margin-top: 30px;
  }
  .products {
    &_header {
      display: flex;
      flex-direction: column-reverse;
    }
    &_filters {
    }
    &_filter {
      margin-bottom: 24px;
    }
  }
  .sortWrapper {
    display: none;
  }
  .filterWrapper {
    flex-direction: column-reverse;
  }
  .giftCheckedFilters {
    margin: 25px 0 50px 0;
  }
  .addElements {
    width: 100%;
    flex-direction: column;
  }

  .showMoreButton {
    margin-top: 20px;
    margin-left: 0;
  }

  .descBlock {
    display: none;
  }
}

@media screen and (max-width: 955px) {
  .addElements {
    justify-content: space-between;
  }

  .showMoreButton {
    margin: 20px 0;
  }
}

@media screen and (max-width: 1200px) {
  .cards {
    margin-top: 50px;
  }
  .leftSide {
    display: none;
  }
  .rightSide {
    padding-left: 0;
    width: 100%;
    margin-top: 10px;
  }

  .controllersWrapper {
    border-bottom: none;
    margin-bottom: 45px;
  }

  .filterWrapper {
    width: 100%;
    li {
      border: none !important;
    }
  }

  .products {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .cardsWithFilters {
    margin-top: 126px;
  }

  .addElements {
    margin-top: 46px;
  }

  .showMoreButton {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
  }

  .descBlock {
    display: none;
  }
}
