@import "../../scss/core/mixins";
@import "../../scss/core/vars";

.message {
  @include styleForText();

  padding: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid $colorInfo;
}
