@import '../../scss/core/vars';
@import '../../scss/core/mixins';

.button {
  @include styleForText(15px);
  width: 49%;
  margin-bottom: 10px;
  padding: 15px 20px 15px 35px;
  background-color: $colorIndicators;
  position: relative;
  text-align: left;

  &:before {
    content: url('/svg/filter-tool-black-shape.svg');
    position: absolute;
    left: 21px;
  }
}

.filtersCounter {
  @include styleForText(10px, $fontAdditional, white);

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 21px;
  top: 17px;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background-color: $additionalColorContent;
}

.filterMobileWrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterMobile {
  width: 70%;
}

.filterMobileWrapperText {
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  .filterMobile {
    width: 78%;
  }
}
