.questionsWrapper {
  padding-left: 35px;
  padding-top: 16px;
  border-left: 1px solid #ececec;
  margin-left: -1px;
}

@media screen and (max-width: 768px) {
  .questionsWrapper {
    padding: 0 0 100px 0;
    border-left: none;
  }
}
