@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.BestProducts {
  @include container();

  &__RowContent {
    margin-top: 36px;
    display: flex;
    margin-left: -15px;
  }

  &__Title {
    @include styleForText($fontSizeForTitle);

    padding-top: 81px;
  }

  &__Card {
    width: 18.1%;
    margin-right: 2.13%;
    height: 534px;
  }

  &__Card:last-child {
    margin-right: 0;
  }
}
