.ProductSlider {
  height: 760px;
  display: flex;
  width: 44.2%;

  &__AddPhotos {
    display: flex;
    flex-direction: column;
    margin-right: 22px;
  }

  &__Button {
    margin-bottom: 18px;
  }

  &__Slider {
    position: relative;
    width: 84%;
  }

  &__Image {
    width: 100%;
    height: 760px;
  }
}
