@import "../../../scss/core/mixins";

.ProductSlider {
  height: 760px;
  display: flex;
  width: 44.2%;

  &__List {
    height: 100%;
  }

  &__AddPhotos {
    display: flex;
    flex-direction: column;
    margin-right: 22px;
  }

  &__Button {
    margin-bottom: 18px;
  }

  &__Slider {
    position: relative;
    width: 84%;
  }

  &__Image {
    width: 100%;
    height: 100%;
  }

  &__NavBar {
    display: flex;
    position: absolute;
    top: 86%;
    left: 50%;
    margin-left: -95px;
    background: white;
  }

  &__NavButton {
    padding: 17px 24px 18px 20px;
    background: white;
  }

  &__ArrowLeft {
    transform: rotate(-180deg);
  }

  &__IndexIndicator {
    @include styleForText(16px);

    padding: 19px 24px;
    background: white;
  }
}

@media screen and (max-width: 1640px) {
  .ProductSlider {
    height: 521px;
  }
}
