@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.PopularCategories {
  @include container();

  &__Title {
    @include styleForText($fontSizeForTitle);

    margin-top: 121px;
  }

  &__Cards {
    display: flex;
    margin-top: 49px;
    width: 100%;
  }

  &__CardsGroup {
    width: 48.7%;
  }

  &__CardsGroup:last-child {
    margin-left: 56px;
  }

  &__Card {
    margin-bottom: 81px;
  }

  &__CardTitle {
    @include styleForText(30px);

    text-align: center;
    padding-top: 36px;
  }

  &__Price {
    @include styleForText($fontSizeContent, $fontMain, $colorInfo);

    text-align: center;
    padding-top: 4px;
  }

  &__Image {
    width: 100%;
  }
}
