@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.block {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  margin-bottom: 15px;

  // align-items: center;
  // height: 20px;
}
.categoriesBlock {
  display: flex;
  svg {
    color: rgb(255, 167, 177);
    cursor: pointer;
    font-size: 1.2em;
    margin-left: auto;
  }
}

.block + .block {
  border-top: 1px solid #dad2d2;
  padding-top: 15px;
}

.category {
  cursor: pointer;
  font-size: 18px;
  font-family: 'InterMedium', sans-serif;
  clear: #0e0e0e;
  padding-left: 8px;
  &:hover {
    color: $additionalColorContent;
  }
}
.active {
  position: relative;
  &::before {
    content: '';
    height: 100%;
    width: 5px;
    background-color: #b6b6b6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
.counter {
  font-size: 16px;
  color: #202124;
  opacity: 0.5;
  font-family: 'InterRegular', sans-serif;
  margin-left: 5px;
}
