@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.item {
  border-bottom: 1px solid $colorInfo;
  padding-bottom: 19px;
  margin-bottom: 20px;
  position: relative;
}

.itemMainInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 61%;
  margin-left: 19%;
}

.itemLinkId {
  @include styleForText($fontSizeContent, $fontMain, #0070c9);

  position: absolute;
  left: 0;
}

.itemDate {
  @include styleForText();
}

.itemEvent {
  text-align: center;
}

.itemTextStatus {
  @include styleForText();
}

.itemDone {
  color: #78c38b;
  padding-right: 48px;
}

.itemCanceled {
  color: $additionalColorContent;
}

.itemController {
  @include styleForText($fontSizeContent, $fontMain, #0070c9);

  position: absolute;
  right: 0;
  top: -1px;
  padding-right: 19px;
}

.itemController::after,
.idWithArrow::after {
  content: url("/svg/Path193.svg");
  position: absolute;
  transform: rotate(-90deg);
  transition: 0.3s;
}

.itemController::after {
  right: 9px;
  top: 0;
}

.idWithArrow::after {
  top: -1px;
  right: -9px;
}

.linkAfterRotateController::after {
  transform: rotate(0);
}

.linkAfterRotateController::after {
  top: -2px;
  right: 5px;
}

.itemAddInfo {
  padding-top: 40px;
  margin-top: 20px;;
  border-top: 1px solid $colorIndicators;
}

@media screen and (max-width: 1600px) {
  .itemDate,
  .itemEvent,
  .itemDone,
  .itemCanceled,
  .itemController {
    font-size: 14px;
  }

  .item {
    padding-bottom: 11px;
  }
}
