@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.item {
  border-bottom: 1px solid $colorInfo;
  padding-bottom: 19px;
  margin-bottom: 20px;
  position: relative;
}

.itemMainInfoWrapper {
  display: flex;
  flex-wrap: wrap;
}

.itemMainInfo {
  width: 31%;
}

.itemMainInfo,
.itemMainInfoSecond {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemMainInfoSecondCanceled  {
  width: 32% !important;
}

.itemMainInfoSecond {
  margin-left: 12%;
  width: 38%;
}

.itemLinkId {
  @include styleForText($fontSizeContent, $fontMain, #0070c9);

  position: relative;

  &:hover {
    text-decoration: underline;

    @media screen and (max-width: 991px) {
      text-decoration: none;
    }
  }
}

.itemDate {
  @include styleForText();
}

.itemEvent {
  text-align: center;
}

.itemTextStatus {
  @include styleForText();
}

.itemDone {
  color: #78c38b;
  padding-right: 48px;
}

.itemCanceled {
  color: $additionalColorContent;
}

.itemController {
  @include styleForText($fontSizeContent, $fontMain, #0070c9);

  position: absolute;
  right: 0;
  top: -1px;
  padding-right: 19px;

  &:hover {
    text-decoration: underline;
  }
}

.itemController::after,
.idWithArrow::after {
  content: url('/svg/Path200.svg');
  position: absolute;
  transform: rotate(-90deg);
  transition: 0.3s;
}

.itemController::after {
  right: 9px;
  top: 0;
}

.idWithArrow::after {
  top: -1px;
  right: -9px;
}

.linkAfterRotateController::after {
  transform: rotate(0);
  top: -2px;
  right: 5px;
}

.linkIdAfterRotate:after {
  transform: rotate(0deg);
  top: -2px !important;
  right: -12px !important;
}

.itemAddInfo {
  margin-top: 20px;
  transition: .3s;
  border-top: 1px solid $colorIndicators;
}

@media screen and (max-width: 1600px) {
  .itemDate,
  .itemEvent,
  .itemDone,
  .itemCanceled,
  .itemController {
    font-size: 14px;
  }

  .item {
    padding-bottom: 11px;
  }
}

@media screen and (max-width: 1106px) {
  .itemMainInfoSecond {
    margin-left: 7%;
    width: 43%;
  }
}

@media screen and (max-width: 1156px) {
  .itemDone {
    padding-right: 25px;
  }

  .itemMainInfoSecond {
    margin-left: 7%;
  }

  .itemMainInfoSecondCanceled {
    width: 36% !important;
  }
}

@media screen and (max-width: 1060px) {
  .itemMainInfoWrapper {
    margin-bottom: 10px;
  }

  .itemController {
    position: relative;
    width: initial;
    display: initial;
  }

  .itemMainInfo {
    width: 38%;
  }

  .itemMainInfoSecond {
    width: 55%;
  }

  .itemMainInfoSecondCanceled {
    width: 47% !important;
    margin-left: 15% !important;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .itemMainInfo,
  .itemMainInfoSecond,
  .itemMainInfoSecondCanceled {
    width: 100% !important;
    margin: 0 0 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .item {
    padding-bottom: 20px;
  }

  .itemMainInfoWrapper {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .itemMainInfo {
    align-items: flex-start;
    flex-direction: column;
    margin-top: 19px;
    width: 180px;
  }

  .itemMainInfoSecond,
  .itemMainInfoSecondCanceled {
    align-items: flex-end;
    flex-direction: column-reverse;
    margin-left: 0 !important;
  }

  .itemDone {
    padding-right: 0;
  }

  .itemLinkId,
  .itemDate,
  .itemEvent,
  .itemTextStatus {
    font-size: 16px;
  }

  .itemDate,
  .itemEvent {
    padding-top: 10px;
  }

  .itemEvent {
    text-align: right;
  }

  .itemLinkId {
    position: absolute;
    overflow: visible;

    &:after {
      content: url('/svg/Path200.svg');
      position: absolute;
      top: -2px;
      right: -14px;
      transition: 0.3s;
    }
  }

  .itemAddInfo {
    padding-top: 10px;
  }
}
