@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.FeaturesCard {
  &__Container {
    display: flex;

    @include container();
  }

  &__Icon {
    margin-top: 77px;
  }

  &__Card {
    width: 33.3333%;
    height: 423px;
    border: 10px solid $colorRedOpacity;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__CardTitle {
    @include styleForText($fontSizeForTitle);

    text-align: center;
    padding-top: 29px;
  }

  &__Line {
    width: 80px;
    height: 1px;
    background-color: #707070;
    margin-top: 30px;
  }

  &__ButtonOne,
  &__ButtonTwo,
  &__ButtonThree {
    @include styleForBackground();

    margin-top: 31px;
  }

  &__ButtonOne {
    @include styleForButton(244px);
  }

  &__ButtonTwo {
    @include styleForButton(161px);
  }

  &__ButtonThree {
    @include styleForButton(204px);
  }
}
