@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.wrapper {
  position: relative;
}

.inputWrapper {
  width: 100%;
}

.error {
  border: 1px solid $additionalColorContent;
}

.errorText {
  @include styleForText(12px, $fontMain, $additionalColorContent);

  margin-top: 6px;

  &:first-letter {
    text-transform: uppercase;
  }
}
