@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.button {
  @include styleForText();

  padding: 12px 0 14px;
  text-align: center;
  transition: 1s;
}

.blackButton {
  color: white;
  background-color: $colorContent;

  &:hover {
    background-color: $additionalColorContent;
  }
}

.whiteButton {
  background-color: white;
  color: $colorContent;
  border: 1px solid $colorContent;

  &:hover {
    color: white;
    background-color: $colorContent;
  }
}

.redButton {
  width: 100%;
  @include styleForText(14px, $fontMain, white);

  padding: 15px;
  background-color: $additionalColorContent;

  &:hover {
    background-color: #b6353b;
  }

  @media screen and (max-width: 770px) {
    width: 379px;
  }
}

.buttonAuth {
  @include styleForText(14px, $fontMain, $additionalColorContent);

  padding: 13px;
  border: 1px solid $additionalColorContent;

  &:hover {
    background-color: $additionalColorContent;
    color: white;
  }
}

.facebookButton {
  @include styleForText(12px, $fontMain, white);

  padding: 14px 0 15px;
  text-align: center;
  background-color: $colorForLink;
  margin-bottom: 15px;

  &:hover {
    background-color: #004786;
  }
}

.paginationButton {
  @include styleForText(12px, $fontMain, #fff);

  background-color: $colorContent;
  padding: 13px 0 13px;
  position: relative;
  z-index: 1;

  &:hover {
    background-color: $additionalColorContent;
  }
}

.footerButton {
  @include styleForText($fontSizeContent, $fontMain, $colorInfo);
  text-align: center;
  padding: 15px;
  background-color: #ececec;

  &:hover {
    color: white;
    background-color: $additionalColorContent;
  }
}

.addToFavouriteButton {
  @include styleForText(12px, $fontMain, $colorInfo);

  padding-left: 24px;
  position: relative;

  &::before {
    content: url('/svg/like(1).svg');
    position: absolute;
    left: 0;
    top: 51px;
  }

  &:hover {
    color: $additionalColorContent;

    &::before {
      content: url('/svg/like2.svg');
    }
  }
}

.buttonClick {
  background-color: white;
  color: $colorContent;
  border: 1px solid $colorContent;
  margin-left: 10px;

  &:hover {
    color: white;
    background-color: $colorContent;
  }

  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}

.centerButton {
  margin-right: 200px;

  @media screen and (max-width: 1700px) {
    margin-right: 220px;
  }

  @media screen and (max-width: 1400px) {
    margin-right: 130px;
  }

  @media screen and (max-width: 1250px) {
    margin-right: 110px;
  }

  @media screen and (max-width: 1150px) {
    margin-right: 100px;
  }

  @media screen and (max-width: 950px) {
    margin-right: 15px;
  }

  @media screen and (max-width: 780px) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .buttonAuth {
    font-size: $fontSizeMobile;
    padding: 18px 0;
  }

  .redButton,
  .blackButton,
  .whiteButton {
    font-size: $fontSizeMobile;
  }

  .redButton {
    width: 100%;
    padding: 18px 0 19px;
  }

  .whiteButton {
    padding: 18px 0 18px;
  }

  .blackButton {
    padding: 20px 0 21px;
  }

  .paginationButton {
    font-size: 16px;
    padding: 17px 0;
  }

  .footerButton {
    padding: 21px 21px 18px 16px;
  }
}
