@import "../../../scss/core/mixins";

.Cart {
  @include container();

  margin-top: 50px;

  &__Title {
    @include styleForText(24px);
  }

  &__Table {
    margin-top: 31px;
  }

  &__TableHeader {
    display: flex;
  }

  &__TableTitleOne,
  &__TableTitleTwo,
  &__TableTitleThree,
  &__TotalPrice {
    @include styleForText(16px, $fontAdditional, $colorInfo);
  }

  &__TableTitleOne {
    width: 69%;
  }

  &__TableTitleTwo {
    width: 27.5%;
  }

  &__Line {
    height: 1px;
    width: 100%;
    border: none;
    background: $colorInfo;
    margin-top: 19px;
  }

  &__Card {
    border-bottom: 1px solid $colorIndicators;

    &:last-child {
      border-bottom: none;
    }
  }

  &__LineSecond {
    margin-top: 38px;
  }

  &__TotalPriceWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__TotalPrice {
    padding-right: 19px;
    padding-top: 41px;
  }

  &__Price {
    @include styleForText(24px, "InterSemiBold");

    padding-left: 15px;
  }

  &__ButtonContinue,
  &__ButtonOrder {
    @include styleForButton(336px);
  }

  &__Buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-bottom: 134px;
  }

  &__ButtonContinue {
    @include styleForBorderButton();
  }

  &__ButtonOrder {
    @include styleForBackground();
  }
}
