@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.confirmEmailWrapper {
  width: 399px;
  padding: 75px 35px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.closeButton {
  position: absolute;
  right: 30px;
  top: 30px;
}

.routeWrapper {
  margin-top: 50px;
}

.title {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .closeButton {
    top: 22px;
  }

  .routeWrapper {
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .confirmEmailWrapper {
    width: 85%;
    padding: 40px 4%;
  }

  .routeWrapper {
    font-size: $fontSizeContent !important;
    width: 89% !important;
  }
}
