@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";


.list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  @include styleForText($fontSizeContent, $fontAdditional);

  margin-bottom: 20px;
  text-align: center;

  &:first-child {
    width: 470px;
  }

  &:nth-child(2) {
    width: 406px;
  }

  &:last-child {
    margin-bottom: 0;
    width: 294px;
  }
}

.itemBlue {
  color: $colorForLink;
  padding-left: 3px;
}

.routeWrapper {
  margin-top: 50px;
}
