@import "../../../scss/core/mixins";

.SalePayment {
  margin-top: 24px;
  position: relative;
  overflow: hidden;
  height: 100%;
  transition: 0.3s;


  &__Field {
    display: none;
  }

  &__Field:checked + & {
    height: 76px;
  }

  &__Field:checked + & &__Content {
    top: -535px;
    height: 0;
  }

  &__Content {
    padding-left: 41px;
    display: flex;
    position: relative;
    top: 0;
    z-index: 1;
    height: 100%;
    transition: 0.3s;
    padding-bottom: 55px;
  }

  &__RadioButtons {
    padding-top: 49px;
  }

  &__Selectors {
    padding-left: 81px;
    padding-top: 48px;
  }

  &__Controller {
    @include styleForText(22px, $fontAdditional);

    position: relative;
    padding-left: 28px;
    display: block;
    letter-spacing: -1.1px;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__ControllerBlock {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: $colorInfo;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: 2px;
  }

  &__Field:checked + &__Controller &__ControllerBlock {
    background-image: url("../../../assets/svg/RUTA_120_gallery_1007926_19374.svg");
    background-repeat: no-repeat;
    background-position: 6px 6px;
  }

  &__Discont {
    padding-left: 81px;
    padding-top: 49px;
  }

  &__DiscontItem {
    display: flex;
    margin-left: 10px;
    margin-top: 40px;

    &:last-child {
      margin-top: 30px
    }
  }

  &__DiscontTitle {
    @include styleForText(20px);
  }

  &__DiscontCount {
    @include styleForText(20px, "InterSemiBold", #78c38b)
  }

  &__DiscontField {
    @include styleForText(20px, $fontAdditional);

    border: none;
    border-bottom: 1px solid $colorInfo;
    margin-left: 25px;
    width: 245px;
    padding-left: 20px;
    padding-bottom: 20px;

    &::placeholder {
      @include styleForText(20px, $fontAdditional, $colorInfo);
    }
  }

  &__DiscontFieldCode {
    width: 295px;
    margin-left: 19px;
  }

  &__DiscontButton {
    @include styleForText(18px, $fontMain, $colorInfo);

    margin-top: -16px;
    margin-left: 21px;
  }
}
