@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.siteMap {
  padding-top: 15px;
  padding-left: 36px;
  width: 101%;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #dadada;
}

.item {
  margin-bottom: 52px;
  padding-left: 58px;

  &:last-child {
    border-right: none;
  }
}

.itemBorderLeft {
  border-left: 1px solid $colorIndicators;
}

.itemNoMargin {
  padding-left: 0;
}

.itemHeader {
  height: 76px;
}

.title {
  @include styleForText(26px);
}

.lists {
  padding-right: 58px;
  border-right: 1px solid $colorIndicators;
}

.listNoBorder {
  border-right: none;
}

.titleItem {
  @include styleForText(16px);
}

.listsItemLinks {
  margin-top: 18px;
}

.listsItemLinkWrapper {
  margin-bottom: 7px;
}

.listsItemLink {
  @include styleForText(12px, $fontAdditional);

  &:hover {
    color: $colorForLink;
  }
}
