@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.InstagramBlock {
  @include container();

  display: flex;
  flex-direction: column;
  align-items: center;

  &__Header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 392px;
  }

  &__Title {
    @include styleForText($fontSizeForTitle);
  }

  &__Link {
    @include styleForText($fontSizeContent, $fontMain, $colorForLink);

    padding-top: 4px;
  }

  &__Images {
    display: flex;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 227px;
  }

  &__Image {
    width: 20%;
    height: 303px;
    background-image: url("/images/GLOSS_UP_60_image_1007254.png");
    background-size: cover;
    margin-right: 31px;
  }

  &__Image:last-child {
    margin-right: 0;
  }
}
