@import '../../scss/core/vars';
@import '../../scss/core/mixins';

.title {
  @include styleForText(28px $fontMain);
}

.info {
  padding: 0 40px 30px 40px;
  box-sizing: border-box;
  background-color: #fff3f4;
}
.infoDesc {
  max-width: 570px;
  p,
  span {
    font-size: 14px;
    font-family: $fontAdditional;
  }
  img {
    width: 100%;
  }
}
.button {
  width: 310px;
  margin-top: 40px;
  display: block;
}

.accordion {
  margin-top: 27px;
  width: 100%;
  max-width: 1290px;
  &_item {
    position: relative;
    &:first-child {
      .accordion_button {
        border-top: none;
      }
    }
    &:last-child {
      .accordion_button {
        border-bottom: 1px solid #dadada;
      }
    }
  }
  &_header {
    @include styleForText(18px $fontMain);
  }
  &_button {
    display: flex !important;
    align-self: center;
    padding: 25px 40px;
    border-top: 1px solid #dadada;

    &::after {
      margin-left: 20px;
      margin-top: 3px;
    }
  }

  &_button[aria-expanded='true'] {
    background-color: #fff3f4;
    border-top: none;
    border-bottom: none !important;
  }
}

@media screen and (max-width: 768px) {
  .title {
    padding-left: 20px;
  }
  .info {
    padding: 0 20px 30px 20px;
  }
  .button {
    margin-top: 30px;
    width: 100%;
  }
  .accordion {
    margin-top: 10px;
    &_item {
      &:first-child {
        .headerWrapper {
          border-top: none;
        }
      }
      &:last-child {
        .accordion_button {
          border-bottom: none;
        }
        .headerWrapper {
          border-bottom: 1px solid #dadada;
        }
      }
    }

    .headerWrapper {
      padding: 20px 0;
      width: 100%;
      padding-right: 10%;
      box-sizing: border-box;
      border-top: 1px solid #dadada;
    }
    &_button {
      padding: 0px 20px;
      border: none;
      position: relative;

      &::after {
        position: absolute;
        right: 30px;
        top: calc(50% - 7px);
      }
    }
    &_button[aria-expanded='true'] {
      .headerWrapper {
        border-top: none;
        border-bottom: none;
      }
    }
  }
}
