@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.accordion {
  margin-top: 27px;
}

.item {
  width: 97%;
  padding: 27px 15px 25px 27px;
}

.itemOpen {
  width: 92.5%;
  background-color: $colorRedOpacity;
  border-bottom: 0 !important;
}

.itemOpen+.item {
  border-top: none;
}

.info {
  margin-top: 17px;
}

.infoDesc {
  @include styleForText(15px, $fontAdditional);

  width: 596px;
  padding-top: 30px;
}

.button {
  width: 310px;
  margin-top: 40px;
  display: block;
}

@media screen and (max-width: 768px) {
  .accordion {
    margin-top: 15px;
  }

  .item {
    width: 100%;
    padding-left: 0;
  }

  .title {
    font-size: 28px;
  }

  .itemOpen {
    padding: 4% !important;
    margin-left: -4% !important;
    width: 99.4% !important;
  }

  .info {
    margin-top: 20px;
    padding-bottom: 15px;
  }

  .infoDesc {
    font-size: $fontSizeContent;
  }

  .button {
    margin-top: 30px;
    width: 100%;
  }
}

.infoDesc>p:nth-child(n+1)>img {
  width: 90%;

  @media screen and (max-width: 900px) {
    width: 300px;
  }
}

.infoDesc>p:nth-child(n+1) {
  width: 100vw;
}