@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.categories {
  position: relative;
  z-index: 10;
}

.categories .categories {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.select {
  width: 100%;

  &:last-child .selectLink {
    border-bottom: none;
  }
}

.select .select {
  width: 91%;

  &:last-child .selectLink,
  & .selectLink {
    border-bottom: 1px solid $colorIndicators;
  }
}

.selectLink {
  @include styleForText();

  position: relative;
  overflow: visible;
  border-bottom: 1px solid $colorIndicators;
  padding: 18px 0;

  &::after {
    content: url("../../assets/svg/Path 167.svg");
    position: absolute;
    right: 31px;
    top: 20px;
    transition: transform 0.3s;
  }

  &:hover {
    color: $additionalColorContent;
  }
}

.select .select .selectLink {
  font-size: 16px;
}

.count {
  @include styleForText(16px, $fontAdditional, $colorInfo);

  pointer-events: none;
  padding-left: 8px;
}

.selectLinkClick {
  border-bottom: none !important;
  padding-bottom: 10px;

  &::after {
    transform: rotate(90deg);
  }
}

.selectLinkWithoutChildren {
  font-family: $fontAdditional, sans-serif;
  display: flex;
  justify-content: space-between;
  border-bottom: none !important;
  padding: 7px 25px 0 0;

  &::after {
    content: '';
  }

  & .selectLink {
    border-bottom: none;
  }
}

.selectWithoutChildren:last-child .selectLink {
  margin-bottom: 30px;
}
