@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.categories {
  position: relative;
  z-index: 1;
}

.categories .categories {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.select {
  width: 100%;

  &:last-child .selectLink {
    border-bottom: none;
  }

  &:last-child > .dropButton{
    border-bottom: none!important;
  }
}
.ukOpen .dropButton{
  border-bottom: none;
}

.uk {
  & > button + ul {
    display: none;
  }
}

.ukOpen {
  & > button + ul {
    display: block!important;
  }

  & .dropButton a:after {
    content: '-'!important;
  }
}

.select .select {
  width: 91%;

  &:last-child .dropButton,
  & .dropButton {
    border-bottom: none;
  }
}

.dropButtonCategory {
  color: $additionalColorContent !important;
}

.select .select .dropButton a:after,
.select .select .dropButton:after {
  display: none;
}

.dropButton {
  position: relative;
  overflow: visible;
  border-bottom: 1px solid $colorIndicators;
  padding: 10px 39px 14px 0;
  width: 100%;
  text-align: left;

  & a::after {
    //content: url("/svg/Path167.svg");
    content: '+';
    color: #ffa2aa;
    position: absolute;
    right: 31px;
    top: 15px;
    transition: transform 0.3s;
    font-size: 17px;
  }
}

.selectLink {
  @include styleForText($fontSizeContent, $fontSemiBold);

  &:hover {
    color: $additionalColorContent;
  }
}

.select .select .selectLink {
  font-size: 12px;
}

.selectWithStock .select .dropButton {
  border-bottom: 1px solid $colorIndicators !important;
  padding: 18px 39px 18px 0;
}

.count {
  @include styleForText(12px, $fontAdditional, $colorInfo);

  pointer-events: none;
  padding-left: 8px;
}

.selectLinkClick {
  border-bottom: none !important;
  padding-bottom: 0;

  & a::after {
    content: '-';
  }
}

.dropButtonWithoutChildren {
  font-family: $fontAdditional, sans-serif;
  display: flex;
  border-bottom: none !important;
  padding: 7px 25px 0 0;

  &::after {
    content: '';
  }

  & .selectLink {
    font-family: $fontAdditional;
    font-weight: normal;
    border-bottom: none;
    display: flex;
    width: 96%;
    color: #202124;
    justify-content: space-between;
  }
}

.selectWithoutChildren:last-child .dropButton {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .selectLink {
    font-size: $fontSizeMobile;
  }

  .dropButton {
    &::after {
      content: '';
    }
  }

  .select .select {
    width: 97%;
  }

  .select .select .selectLink {
    font-size: $fontSizeContent;
  }

  .count {
    display: none;
  }
}
