@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.navBar {
  display: flex;
  background: white;
  position: absolute;
  padding: 14px 0;
}

.navButton {
  padding: 2px 20px 3px 16px;
  background: transparent;
  display: block !important;
}

.arrowLeft {
  transform: rotate(-180deg);
}

.indexIndicator {
  @include styleForText(12px);

  padding: 3px 20px;
  background: white;
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
}

@media screen and (max-width: 768px) {
  .navBar {
    background: $colorIndicators;
    padding: 8px 0;
  }

  .indexIndicator {
    font-size: 14px;
    background: $colorIndicators;
    padding: 5px 14px;
    border-left: 1px solid $colorInfo;
    border-right: 1px solid $colorInfo;
  }

  .navButton {
    padding: 4px 14px 5px 15px;
  }
}
