@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.bestProducts {
  @include container();
}

.rowContent {
  width: 100%;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  margin-left: -17px;
}

.title {
  @include styleForText($fontSizeForTitle);

  padding-top: 81px;
}

.slider {
  margin-left: -16px;
  width: 101.6%;
  margin-top: 33px;
}

.sliderWrapper {
  padding-top: 1px;
}

.buttonSlider {
  width: 59px;
  height: 54px;
  background: white;
  box-shadow: 1px 2px 10px black;
  margin-left: 10px;
  top: 192px;
}

.buttonSliderRight {
  margin-left: 0;
  margin-right: 11px;
  box-shadow: -2px 2px 10px black;
}

.card {
  width: 19.6%;
  height: 534px;
}

.iconLeft,
.iconRight {
  position: absolute;
  width: 19px;
  top: 23px;
  left: 19px;
}

.iconLeft {
  transform: rotate(-180deg);
}

.dotList {
  margin-top: 40px;
}

@media screen and (max-width: 1640px) {
  .card {
    height: 400px;
  }
}
