@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.title {
  @include styleForText(18px);
  overflow: revert;
}

.cards {
  margin-top: 29px;
}

.card {
  width: 100%;
  padding-bottom: 19px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 19px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.titleCard {
  margin-top: 10px;
  display: block;

  &:hover {
    text-decoration: underline;
  }
}

.tag {
  @include styleForText(12px, $fontAdditional);

  margin-top: 12px;
  display: inline-block;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: $fontSizeForTitle;
  }

  .cards {
    margin-top: 0;
  }

  .card {
    padding-bottom: 15px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .tag {
    font-size: 14px;
    margin-top: 20px;
  }

  .titleCard {
    font-size: $fontSizeMobile;
    margin-top: 5px;
  }
}