@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.recommendations {
  width: 100%;
}

.title {
  @include styleForText(22px);
}

.cards {
  margin-top: 29px;
}

.card {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 19px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.titleCard {
  margin-top: 10px;
}

.tag {
  @include styleForText(16px, $fontAdditional);

  margin-top: 12px;
  display: inline-block;
}
