@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.ProductDetails {
  margin-left: 85px;
  margin-top: 15px;
  width: 50.7%;

  &__Header {
    display: flex;
    justify-content: space-between;
  }

  &__Model {
    @include styleForText($fontSizeForTitle);
  }

  &__AddInfo {
    @include styleForText(16px, $fontAdditional, $colorInfo);

    padding-left: 25px;
  }

  &__DescModel {
    @include styleForText(16px, $fontAdditional, $colorInfo);

    padding-top: 11px;
  }

  &__ButtonLike {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $colorRedOpacity;
    margin-top: -5px;
  }

  &__Icon {
    width: 33px;
    height: 33px;
  }

  &__AddInfoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
  }

  &__Price {
    @include styleForText($fontSizeForTitle);
  }

  &__AddFeedback {
    @include styleForText();

    margin-top: 6px;
    margin-right: 9px;
  }

  &__CountAssessment {
    @include styleForText(16px, $fontAdditional, $colorInfo);

    margin-top: -3px;
    margin-left: -14px;
    position: relative;
  }

  &__CountFeedbacks {
    position: absolute;
    right: 9px;
    top: 2px;
  }

  &__Icon {
    fill: #fdbe42;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  &__IconNoFill {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: #fdbe42;
  }

  &__IconLike {
    width: 42px;
    height: 28px;
    fill: #ffddde;
  }

  &__Line {
    width: 100%;
    height: 1px;
    background-color: $colorIndicators;
    border: none;
  }

  &__LineOne {
    margin-top: 30px;
  }

  &__Colors {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  &__Color {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-color: #735e5f;
    border-radius: 6px;
    margin-left: 52px;
  }

  &__Sizes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__SizesTitle {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  &__Size {
    @include styleForText(16px, $fontAdditional);

    display: inline-block;
    margin-left: 40px;
    padding: 4px 8px;
    background-color: $colorIndicators;
    border-radius: 3px;

    &:active {
      background-color: $colorContent;
      color: white;
    }
  }

  &__SizeDesc {
    padding-top: 27px;
    padding-right: 9px;
  }

  &__CounterBlock {
    display: flex;
    margin-top: 39px;
  }

  &__CounterProducts {
    display: flex;
    margin-left: 44px;
  }

  &__ButtonChangeCount {
    @include styleForText(16px, $fontAdditional);

    background-color: $colorIndicators;
    border-radius: 3px;
    padding: 1px 0 3px;
    width: 24px;
    text-align: center;
  }

  &__CouuntProductIndicator {
    @include styleForText(16px);

    border-bottom: 1px solid $colorInfo;
    padding: 0 0 4px;
    text-align: center;
    width: 32px;
    margin: 0 10px 0;
  }

  &__LineTwo {
    margin-top: 38px;
  }

  &__ControllButtons {
    display: flex;
    margin-top: 39px;
  }

  &__ControllButton {
    @include styleForText();
  }

  &__ControllButtonAddToCard {
    @include styleForButton(418px);
    @include styleForBackground();
  }

  &__ControllButtonBuyNow {
    margin-left: 20px;
    @include styleForButton(389px);
    @include styleForBorderButton();
  }

  &__SubscribeButton {
    @include styleForText();

    margin-top: 29px;
  }

  &__FeaturesBlock {
    width: 99%;
    display: flex;
    background-color: $colorRedOpacity;
    margin-top: 40px;
    padding: 30px 0;
  }

  &__FeaturesItem {
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__FeaturesIcon {
    width: 40px;
    height: 40px;
  }

  &__FeaturesDesc {
    @include styleForText(16px);

    width: 100%;
    text-align: center;
    margin-top: 16px;
    border-right: 1px solid $colorInfo;
  }

  &__FeaturesDescNoBorder {
    border: none;
  }
}
