@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.content {
  @include container();
}

.price {
  margin-left: 20px;
}

.loaderWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  margin-top: 50px;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countText,
.countTextFirst {
  @include styleForText($fontSizeContent, $fontAdditional);
}

.countText {
  margin-right: 10px;
}

.table {
  margin-top: 31px;
}

.noProductsBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 200px 0;
}

.noProductsTitle {
  text-align: center;
}

.linkShowNews {
  display: block;
  margin-top: 30px;
}

.tableHeader {
  display: flex;
}

.tableTitleOne,
.tableTitleTwo,
.tableTitleThree,
.totalPrice {
  @include styleForText(12px, $fontAdditional, $colorInfo);
}

.tableTitleOne {
  width: 69%;
}

.tableTitleTwo {
  width: 27.5%;
}

.line {
  height: 1px;
  width: 100%;
  border: none;
  background: $colorInfo;
  margin-top: 19px;
}

.lineSecond {
  margin-top: 38px;
}

.totalPriceWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.totalPrice {
  padding-top: 41px;
}

.buttonContinue,
.buttonOrder {
  @include styleForButton(336px);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 134px;
}

.linkWrapperNews {
  margin-top: 30px;
}

.linkWrapper,
.linkWrapperNews {
  width: 298px;
  font-size: 14px !important;
}

.cartItem {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $colorIndicators;

  &:last-child {
    border-bottom: none;
  }
}

.cartItemChooseProduct {
  display: flex;
  align-items: center;
  position: relative;
  width: 69%;
}

.cartItemImage {
  width: 60px;
  height: 70px;
}

.cartItemMainInfo {
  padding-left: 2.5%;
  padding-top: 8px;
  width: 42%;
}

.cartItemModel {
  @include styleForText(16px);
}

.cartItemSeries {
  @include styleForText(12px, $fontAdditional, $colorInfo);

  padding-top: 4px;
}

.cartItemMainInfoDetails {
  display: flex;
  align-items: center;
  padding-top: 21px;
}

.cartItemSize {
  @include styleForText(12px, $fontAdditional);
}

.cartItemSizeValue {
  font-family: $fontMain, sans-serif;
}

.colorBock {
  width: 20px;
  height: 20px;
  //border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 19px;
}

.withBorder {
  border: 1px solid $colorBorder;
}

.colorInfoWrapper {
  display: flex;
  align-items: center;
}

.colorText {
  margin-right: 10px;
}

.cartItemColorName {
  @include styleForText(12px, $fontAdditional);
  display: inline-block;
}

.cartItemButtonDelete {
  @include styleForText(12px, $fontMain, $additionalColorContent);

  margin-left: 30px;

  &:hover {
    opacity: 0.4;
  }
}

.iconDelete {
  width: 17px;
}

.addToFavourite {
  @include styleForText(12px, $fontMain, #9f9f9f);

  display: flex;
  align-items: center;

  & svg {
    width: 13px;
    height: 14px;
    margin-right: 4px;

    & path {
      stroke: #9f9f9f;
    }
  }
}

.addedToFavourite {
  color: $additionalColorContent;

  & svg {
    & path {
      stroke: $additionalColorContent;
      fill: $additionalColorContent;
    }
  }
}

.buttonShare {
  margin-left: 22px;
  margin-top: 3px;
  font-size: 12px!important;
}

.counterWrapper {
  margin-left: 0.8%;
  width: 10%;
  display: flex;
  align-items: center;
}

.cartItemPrice {
  @include styleForText(16px, "InterSemiBold");

  width: 22.2%;
  text-align: right;
}

.oldPrice {
  font-size: 14px;
  color: $colorInfo;
  left: 37px;
  top: 2px;
  padding-right: 6px;
  text-decoration: line-through;
}

.stockPrice {
  color: $additionalColorContent;
}

.price {
  @include styleForText(20px, "InterSemiBold");

  display: inline-block;
}

@media screen and (max-width: 1600px) {
  .cartItemPrice {
    font-size: 17px;
  }

  .oldPrice {
    font-size: 12px;
  }
}

@media screen and (max-width: 1380px) {
  .cartItemPrice {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .cart {
    margin-top: 30px;
  }

  .oldPrice {
    color: $colorContent;
    font-size: 18px;
  }

  .cartItemPrice {
    margin-top: 15px;
  }

  .cartItemImage {
    width: 60px;
    height: 70px;
  }

  .cartItemChooseProduct {
    align-items: flex-start;
    width: 100%;
  }

  .countText,
  .countTextFirst {
    font-size: 15px;
  }

  .cartTitle {
    font-size: 24px;
  }

  .table {
    margin-top: 15px;
  }

  .tableHeader {
    display: none;
  }

  .cartItem {
    padding-top: 20px;
    padding-bottom: 146px;
    position: relative;

    &:last-child {
      padding-bottom: 154px;
    }
  }

  .cartItemSeries {
    font-size: 14px;
  }

  .lineSecond {
    margin-top: 0;
  }

  .totalPrice {
    width: 100%;
    font-size: $fontSizeForTitle;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 6px;
    padding-top: 27px;
  }

  .price {
    font-size: 22px;
  }

  .cartItemTitle {
    font-size: 17px;
    width: 203px;
    margin-top: -3px;
  }

  .noProductsBlock {
    margin: 145px 0 180px 0;
  }

  .noProductsTitle {
    font-size: 24px;
  }

  .linkWrapperNews {
    width: 93%;
    margin-top: 30px;
    font-size: $fontSizeMobile !important;
  }
}

@media screen and (max-width: 768px) {

  .cartItemPrice {
    width: 36.2%;
  }

  .cartItemMainInfo {
    width: 33%;
    padding-left: 15px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cartItemButtonDelete {
    margin-left: 0;
  }

  .counterWrapper {
    margin-left: 0;
  }

  .buttons {
    flex-direction: column-reverse;
    margin-top: 40px;
    margin-bottom: 55px;
  }

  .linkWrapper {
    width: 100%;
    font-size: 16px !important;

    &:first-child {
      margin-top: 10px;
      width: 99.6%;
    }
  }

  .cartItemMainInfoDetails {
    position: absolute;
    top: 86px;
    left: 0;
  }
}

@media screen and (max-width: 1011px) {
  .cartItemMainInfo {
    width: 34%;
  }
}

@media screen and (max-width: 876px) {
  .cartItemMainInfo {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .cartItemButtonDelete,
  .counterWrapper,
  .cartItemPrice {
    position: absolute;
  }

  .colorText {
    font-family: $fontAdditional;
  }

  .addToFavourite {
    position: absolute;
    right: 41px;
    top: -4px;

    & svg {
      width: 22px!important;
      height: 22px!important;
      margin-top: 2px;
      margin-right: 0!important;
    }
  }

  .cartItemButtonDelete {
    right: 8px;
  }

  .buttonShare {
    position: absolute;
    margin-top: 0;
    right: 81px;
    top: -3px;
  }

  .counterWrapper {
    top: 147px;
    left: 75px;
    width: auto;
  }

  .cartItemColorName,
  .cartItemSize,
  .colorText {
    font-size: 15px;
  }

  .cartItemMainInfoDetails {
    left: 75px;
    top: 46px;
    flex-direction: column;
    align-items: flex-start;
  }

  .colorBock {
    margin-left: 0;
  }

  .colorInfoWrapper {
    margin-top: 10px;
  }

  .cartItemPrice {
    font-size: 18px;
    width: auto;
    top: 181px;
    left: 75px;
  }
}
