@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.content {
  @include container();
}

.loaderWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  margin-top: 50px;
}


.title {
  @include styleForText(24px);
}

.table {
  margin-top: 31px;
}

.noProductsBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 200px 0;
}

.linkShowNews {
  display: block;
  margin-top: 30px;
}

.tableHeader {
  display: flex;
}

.tableTitleOne,
.tableTitleTwo,
.tableTitleThree,
.totalPrice {
  @include styleForText(16px, $fontAdditional, $colorInfo);
}

.tableTitleOne {
  width: 69%;
}

.tableTitleTwo {
  width: 27.5%;
}

.line {
  height: 1px;
  width: 100%;
  border: none;
  background: $colorInfo;
  margin-top: 19px;
}

.lineSecond {
  margin-top: 38px;
}

.totalPriceWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.totalPrice {
  padding-top: 41px;
}

.buttonContinue,
.buttonOrder {
  @include styleForButton(336px);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 134px;
}

.linkWrapperNews {
  margin-top: 30px;
}

.linkWrapper,
.linkWrapperNews {
  width: 336px;
}

.cartItem {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $colorIndicators;

  &:last-child {
    border-bottom: none;
  }
}

.cartItemChooseProduct {
  display: flex;
  width: 68%;
}

.cartItemImage {
  width: 100px;
  height: 120px;
}

.cartItemMainInfo {
  padding-left: 2.5%;
  padding-top: 8px;
  width: 42%;
}

.cartItemModel {
  @include styleForText(20px);
}

.cartItemSeries {
  @include styleForText(16px, $fontAdditional, $colorInfo);

  padding-top: 4px;
}

.cartItemMainInfoDetails {
  display: flex;
  padding-top: 21px;
}

.cartItemSize {
  @include styleForText(16px, $fontAdditional);
}

.cartItemSizeValue {
  font-family: $fontMain, sans-serif;
}

.cartItemColorName {
  @include styleForText(16px, $fontAdditional);
  display: inline-block;
}

.cartItemButtonDelete {
  @include styleForText(16px, $fontMain, $additionalColorContent);

  margin-left: 30px;

  &:hover {
    opacity: 0.4;
  }
}

.cartItemCounterWrapper {
  margin-left: 0.8%;
  width: 21%;
}

.cartItemPrice {
  @include styleForText(20px, "InterSemiBold");

  width: 10.2%;
  text-align: right;
}

.price {
  @include styleForText(24px, "InterSemiBold");

  display: inline-block;
  width: 179px;
}

@media screen and (max-width: 1600px) {
  .cartItemPrice {
    font-size: 17px;
  }
}

@media screen and (max-width: 1380px) {
  .cartItemPrice {
    font-size: 14px;
  }
}
