@import '../../scss/core/vars';
@import '../../scss/core/mixins';

.indicatorsButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}
.indicatorsDeleteButton {
  @include styleForText($fontSizeContent, $fontMain, $additionalColorContent);
  position: relative;

  &::before {
    content: url('/svg/Group503.svg');
    margin: 0 5px;
  }
}

.setFilterButton {
  @include styleForButton();
  @include styleForBackground();
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  align-self: flex-end;

  &:hover {
    background-color: $additionalColorContent;
  }
}
