@import "../../../scss/core/mixins";

.BrandsFilters {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;

  &__FiltersItems {
    display: flex;
    margin-right: 49px;
    margin-top: 6px;
  }

  &__Title {
    @include styleForText(24px);
  }

  &__Item {
    @include styleForText();
    padding: 1px 13px 2px;
    border-right: 1px solid $colorIndicators;
  }

  &__ItemLetters {
    padding: 0 9px;
    border-right: 1px solid $colorIndicators;

    &:last-child {
      border-right: none;
    }
  }

  &__ItemLetter {
    padding: 1px 4px 2px;
  }

  &__Item:hover,
  &__ItemLetter:hover {
    background-color: $colorForLink;
    border-radius: 3px;
    color: white;
  }
}

@media screen and (max-width: 1770px) {
  .BrandsFilters {
    &__Title  {
      font-size: 20px;
    }

    &__FiltersItems {
      margin-top: 2px;
    }

    &__Item {
      font-size: 14px;
      padding: 4px 13px 2px;
    }

    &__ItemLetter {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1548px) {
  .BrandsFilters {
    &__FiltersItems {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1489px) {
  .BrandsFilters {
    flex-direction: column;

    &__FiltersItems {
      margin-top: 20px;
    }
  }
}
