.mobileMenu {
  position: fixed;
  background-color: #fff;
  display: none;
  width: 300px;
  top: 0;
  bottom: 0;
  left: -300px;
  transition: 0.3s;
  z-index: 999;
  font-size: 14px;
  &_wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 30px 20px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  &_burger {
    display: block;
  }
  &_nav {
    width: 100%;
    flex-grow: 1;
  }
  &_list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &_item {
    width: 100%;
    padding: 15px;
    font-family: 'InterSemiBold', sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
  }
  &_phone {
    width: 100%;
    display: flex;
  }
  &_social {
    margin-top: 10px;
  }
  &_icon {
    svg {
      height: 30px;
      margin-right: 10px;
    }
  }
}
.mobileMenu.open {
  left: 0;
}

.accordion {
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;

  span {
    display: block;
  }
}
.menuItems {
  padding-left: 20px;
  & li {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1080px) {
  .mobileMenu {
    display: block;
  }
}
