@import '../../../../../scss/core/vars';

.mobileMenu {
  position: fixed;
  background-color: #fff;
  display: none;
  width: 300px;
  top: 0;
  bottom: 0;
  left: -300px;
  transition: 0.3s;
  transition-delay: 0.2s;
  z-index: 999;
  font-size: 14px;
  &_wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    padding: 0px 20px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
  &_nav {
    width: 100%;
    flex-grow: 1;
  }
  &_list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &_item {
    width: 100%;
    padding: 15px;
    font-family: 'InterSemiBold', sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
  }
  &_phone {
    width: 100%;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
    svg {
      fill: #ffa2aa;
      margin-right: 10px;
    }
  }
  &_social {
    margin: 0 0 30px 0;
    padding: 15px;
    box-sizing: border-box;
  }
  &_icon {
    svg {
      height: 24px;
      margin-right: 10px;
    }
  }
}
.backdrop {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.backdrop.open {
  bottom: 0;
  opacity: 1;
}
.mobileMenu.open {
  left: 0;
}

.accordion {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 12px;

  span {
    display: block;
  }
}
.menuItems {
  padding-left: 20px;
  & li {
    margin: 10px 0;
  }
}
.pink {
  color: $additionalColorContent;
}

@media screen and (max-width: 1200px) {
  .mobileMenu {
    display: block;
  }
}
