@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.brandCard {
  border-right: 1px solid $colorIndicators;
  padding: 0 99px;
  margin-bottom: 46px;

  &:last-child {
    border-right: none;
  }
}

.imageWrapper {
  width: 150px;
  height: 100px;
  position: relative;
}

.image {
  max-width: none;
  min-width: auto;
  min-height: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  @include styleForText(22px);

  padding-top: 25px;
}

.list {
  padding-top: 14px;
}

.listItem {
  @include styleForText(16px);

  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.listLink {
  @include styleForText($fontSizeContent);
}

.link {
  @include styleForText(16px, $fontMain, $colorForLink);
  position: relative;
  display: inline-block;
  margin-top: 14px;

  &::after {
    content: url("/svg/Group688.svg");
    transform: rotate(180deg);
    position: absolute;
    right: -26px;
    top: 2px;
  }
}

@media screen and (max-width: 768px) {
  .imageWrapper {
    width: 83px;
    height: 55px;
    margin-bottom: 20px;
  }

  .image {
    width: 100%;
  }

  .brandCard {
    padding: 0 30px;
    border-right: none;
  }

  .name {
    padding-top: 0;
    font-size: 18px;
  }

  .list {
    padding-top: 19px;
  }

  .listLink {
    font-size: $fontSizeMobile;
  }

  .link {
    font-size: 14px;
    margin-top: 20px;
  }
}
