@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.bonuses {
  padding-left: 37px;
  padding-bottom: 111px;
  border-left: 1px solid #dadada;
  margin-left: -1px;
}

.title {
  @include styleForText(26px, $fontLight);

  padding-top: 16px;
}

.allBonuses {
  width: 190px;
  height: 73px;
  background-color: #fff3f4;
  border: 1px solid #eee;
  margin-top: 39px;
  padding-top: 20px;
  padding-left: 29px;
}

.allBonunesPrice {
  @include styleForText($fontSizeForTitle, "InterSemiBold");
}

.allBonunesText {
  @include styleForText(12px, $fontAdditional, $colorInfo);

  padding-top: 6px;
}

.historyTitle {
  @include styleForText(16px);

  margin-top: 40px;
  margin-bottom: 20px;
}

.headerTable {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.tableSumm,
.tableDate,
.tableEvent {
  @include styleForText(12px, $fontAdditional, $colorInfo);
}

.tableSumm {
  width: 23%;
}

.tableDate {
  width: 26.2%;
}

.tableItem {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid $colorIndicators;
}

.tableTextGroup {
  display: flex;
  align-items: center;

  &:first-child {
    width: 49%;
  }

  &:last-child {
    width: 51%;
  }
}

.tableItemPrice {
  width: 46%;
}

.tableItemEvent {
  width: 68%;
}

.tableItemPrice,
.tableItemDate,
.tableItemEvent {
  @include styleForText();
}

.tableLink {
  @include styleForText($fontSizeContent, $fontMain, #0070c9);

  position: relative;
  padding-bottom: 2px;
  border-bottom: 1px solid white;

  &:hover {
    border-bottom-color: $colorForLink;
  }
}

@media screen and (max-width: 1800px) {
  .tableItemPrice,
  .tableItemDate,
  .tableItemEvent,
  .tableLink {
    font-size: 10px;
  }

  .tableItem {
    padding: 13px 0;
  }
}

@media screen and (max-width: 768px) {
  .bonuses {
    padding-bottom: 100px;
    padding-left: 0;
    border-left: none;
  }

  .title {
    font-size: 28px;
  }

  .allBonuses {
    width: 174px;
    height: 64px;
    margin-top: 30px;
    padding-left: 30px;
  }

  .allBonunesText {
    font-size: 14px;
    padding-top: 0;
  }

  .historyTitle {
    margin-top: 50px;
    font-size: 20px;
  }

  .headerTable {
    margin-bottom: 10px;
  }

  .tableDate,
  .tableEvent {
    display: none;
  }

  .tableItem {
    padding: 15px 0;

    &:first-child {
      padding-top: 20px;
    }
  }

  .tableTextGroup {
    flex-direction: column;
    width: 50%;
    align-items: flex-start;

    &:last-child {
      align-items: flex-end;
    }
  }

  .tableItemPrice,
  .tableItemEvent, {
    width: auto;

    @include styleForText($fontSizeMobile);
  }

  .tableItemEvent {
    text-align: right;
  }

  .tableItemDate,
  .tableLink {
    font-size: $fontSizeMobile;
    padding-top: 10px;
  }

  .tableLink {
    padding-right: 27px;

    &::after {
      content: url("/svg/Group688.svg");
      position: absolute;
      transform: rotate(-180deg);
      right: 4px;
      top: 11px;
    }
  }

  .tableLinkText {
    display: none;
  }
}
