@import "../../scss/core/vars";
@import "../../scss/core/mixins";


.search {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.form {
  position: relative;
}

.textField {
  position: absolute;
  opacity: 0;
}

.active {
  opacity: 1;
  top: 26px;
  left: 0;

  button {
    display: block;
    margin: 5px 0;
  }
}

.field {
  border-radius: 5px;
  border: 1px solid $colorBorder;
  padding: 4px 6px;
}

.iconSearch {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 15px;
  height: 15px;
}