@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.search {
  width: 84.4%;
  position: absolute;
  top: -1000px;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $colorInfo;
  transition: 2s;
  z-index: 1;
  overflow: hidden;
}

.searchActive {
  top: 134px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.field {
  @include styleForText(56px);

  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border: none;
  z-index: 2;

  &:first-letter {
    text-transform: uppercase;
  }

  &::placeholder {
    color: $colorInfo;
  }
}

.textField {
  @include styleForText(56px, $fontMain, #c9c9c9);

  position: relative;
  z-index: 0;
  cursor: text;
  display: inline;
}

.textFieldBlack {
  color: $colorContent;
}

.iconSearch {
  margin-right: 30px;
}

.buttonClear {
  display: none;
  margin-left: 25px;
  position: relative;
  z-index: 4;
}

.block {
  display: block;
}

.noBlock {
  display: none;
}

.icon {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 1024px) {
  .searchActive {
    top: 153px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .searchActive,
  .search {
    padding: 40px 0;
  }

  .field,
  .textField {
    font-size: 30px;
    top: 0;
  }

  .iconSearch {
    width: 30px
  }
}

@media screen and (max-width: 768px) {
  .search {
    padding: 50px 0 0 0;
    border-bottom: none;
  }

  .searchActive {
    top: 40px;
  }

  .iconSearch {
    margin-right: 8px;
    width: 24px;
  }

  .field,
  .textField {
    font-size: 24px;
  }

  .field {
    width: 110%;
  }

  .textField {
    width: 100vw;
  }

  .buttonClear {
    margin-left: 10px;
  }

  .icon {
    width: 12px;
    height: 12px;
  }
}
