.children {
  transition: 2s;
  position: relative;
  top: 0;
}

.footer {
  transition: 2s;
  position: relative;
  bottom: 0;
}

.footerSearchActive {
  bottom: -268px;
  opacity: 0.5;
  pointer-events: none;
}

.childrenSearchActive {
  top: 268px;
  opacity: 0.5;
  pointer-events: none;
}

.childrenMenuActive {
  pointer-events: none;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .childrenSearchActive {
    top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .footerSearchActive {
    bottom: -75px;
  }

  .childrenSearchActive {
    top: 75px;
  }
}
