@import "../../../scss/core/vars";

.MainInfoMainComponent {
  &__Content {
    @include customContainer(85.4%);
  }

  &__Nav {
    position: relative;
    border-right: 1px solid $colorIndicators;
    height: 311px;
  }

  &__NavPanel {
    margin-top: 27px;
    margin-bottom: 162px;
    display: flex;
  }

  &__Switcher {
    @include styleForText();

    border-bottom: 1px solid $colorIndicators;
    display: block;
    padding: 22px 0;
    width: 313px;
    text-align: start;
    margin-bottom: -5px;
    position: relative;

    &::after {
      content: url("../../../assets/svg/Path 167.svg");
      position: absolute;
      right: 39px;
      opacity: 0;
    }

    &:last-child {
      border-bottom: none;
      width: 212px;
    }
  }

  &__Field {
    display: none;
  }

  &__Item {
    width: 81%;
    display: none;
  }
}
