@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.AboutPageBreadCrumbs {
  margin-top: 61px;

  &__Link {
    @include styleForText(18px);

    padding-left: 4px;
    padding-right: 1px;

    &:last-child {
      color: $colorInfo;
    }

    &:first-child {
      padding-left: 0;
    }
  }
}
