@import '../../scss/core/vars';
@import '../../scss/core/mixins';

.accordionItem {
  border-top: 1px solid #dadada;
  transition: 0.5s;
  position: relative;
  padding: 20px 0;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 1px solid #dadada;
  }

  &::after {
    position: absolute;
    right: -32px;
    top: -2px;
  }
}

.accordionButton {
  @include styleForText(14px);

  overflow: visible;
  display: inline-block;
  width: 100%;
  position: relative;

  + span {
    span {
      margin-right: 10px;
      color: $colorInfo;
      font-size: 12px;
    }
  }
}

.accordionButtonWithBorder {
  padding-bottom: 15px;

  & + span {
    display: none;
  }
}

.textButton {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: 100%;

  &::after {
    content: url('/svg/Path239.svg');
    transform: rotate(-90deg);
    position: absolute;
    right: 10px;
    transition: 0.3s;
  }
}

.accordionCount {
  color: $colorInfo;
  padding-left: 6px;
}

.linkValue {
  color: $colorInfo;
  font-size: 12px;
}

.accordionCountSort {
  font-size: 12px;
  display: block;
  padding-left: 0;
}

.redBackground {
  background: $colorRedOpacity;

  .accordionButton {
    .textButton:after {
      display: inline-block;
    }
  }
}

.noBorder {
  border-top: none;
}

.accordionItemActiveMobileFilter {
  background-color: white;
  border-top: none;
  font-size: 14px;

  .accordionButton {
    margin-bottom: 10px;
  }

  .linkValue {
    display: none;
  }
}

.accordionItemForGifts {
  padding: 15px 4% !important;
  background: $colorIndicators;
}

.accordionItemForProduct {
  padding: 15px 4% !important;
  border: 1px solid $colorIndicators;
}

.accordionItemForProductActive {
  background-color: #fff3f4;
}

.textButton.iconArrowActive::after {
  display: inline-block;
  width: 20px;
  transform: rotate(0deg);
}

.iconArrowMobileFilter::after {
  top: 0;
}

@media screen and (max-width: 768px) {
  .accordionButton {
    font-size: 14px;
    display: block;
    width: 100%;
  }
  .accordionButtonWithBorder {
    padding-bottom: 5px;
  }

  .accordionCount {
    position: relative;
    left: 0;
    top: 1px;
  }

  .textButton {
    display: inline-block;
    font-size: 16px;
    font-family: 'InterSemiBold', sans-serif;
    color: #0e0e0e;

    .accordionItem {
      padding: 15px;
    }

    .redBackground {
      padding: 15px 3.9%;
    }
  }

  .accordionItemForProductActive {
    .accordionButton {
      .textButton::after {
        display: inline-block;
        width: 20px;
        height: 20px;
      }
    }
  }
}
