@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.accordionItem {
  border-top: 1px solid #dadada;
  transition: .5s;
  position: relative;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 1px solid #dadada;
  }
}

.accordionButton {
  @include styleForText(16px);

  overflow: visible;
  display: inline-block;
  width: 100%;
  position: relative;

  + span {
    span {
      margin-right: 10px;
      color: $colorInfo;
      font-size: 12px;
    }
  }
}

.accordionButtonWithBorder {
  padding-bottom: 15px;

  & + span {
    display: none;
  }
}

.textButton {
  position: relative;
  display: inline-block;
  max-width: 82%;


  &::after {
    content: url("/svg/Path239.svg");
    position: absolute;
    top: 0;
    right: -30px;
    transition: .3s;
  }
}

.accordionCount {
  color: $colorInfo;
  padding-left: 6px;
}

.linkValue {
  color: $colorInfo;
  font-size: 12px;
}

.accordionCountSort {
  font-size: 12px;
  display: block;
  padding-left: 0;
}

.redBackground {
  background: $colorRedOpacity;
}

.noBorder {
  border-top: none;
}

.accordionItemActiveMobileFilter {
  background-color: white;
  border-top: none;

  .accordionButton {
    margin-bottom: 10px;
  }

  .linkValue {
    display: none;
  }
}

.accordionItemForGifts {
  padding: 15px 4% !important;
  background: $colorIndicators;
}

.accordionItemForProduct {
  padding: 15px 4% !important;
  border: 1px solid $colorIndicators;
}

.accordionItemForProductActive {
  background-color: #FFF3F4;
}

.iconArrowActive::after {
  transform: rotate(-90deg);
  right: -32px;
  top: -2px;
}

.iconArrowMobileFilter::after {
  top: 7px;
}

@media screen and (max-width: 768px) {
  .accordionButton {
    display: block;
    width: 100%;
  }

  .accordionCount {
    position: absolute;
    left: 64px;
    top: 1px;
  }

  .textButton {
    display: block;
    width: 91%;
    max-width: 100%;
    padding-right: 9%;

    &::after {
      right: 0;
      transform: rotate(-90deg);
    }
  }

  .iconArrowActive::after {
    transform: rotate(0deg);
  }

  .accordionItem {
    padding: 15px 0;
  }

  .redBackground {
    padding: 15px 3.9%;
    margin-left: -4%;
  }
}
