@import "../../../scss/core/mixins";

.SaleInfo {
  margin-top: 91px;
  width: 68%;
  padding: 28px 12px 39px 39px;
  border: 1px solid $colorIndicators;

  &__Field {
    display: none;
  }

  &__ControllerTitle {
    @include styleForText(20px);
  }

  &__Field:checked + & &__Content {
    top: -535px;
    height: 0;
  }

  &__Content {
    margin-top: 40px;
    position: relative;
    top: 0;
    z-index: 1;
    height: 100%;
    transition: 0.3s;
    padding-bottom: 55px;
  }

  &__FormGroup {
    display: flex;
    flex-wrap: wrap;
  }

  &__FormField {
    @include styleForText(20px, $fontAdditional);

    width: 241px;
    border: 1px solid #b6b6b6;
    padding: 13px 1px 12px 19px;
    margin-bottom: 13px;
    margin-right: 21px;

    &::placeholder {
      @include styleForText(20px, $fontAdditional, $colorInfo)
    }
  }

  &__Field:checked + &__CreateText &__CreateTextBlock {
    background-color: $colorContent;
  }

  &__CreateText {
    @include styleForText();

    position: relative;
    padding-left: 31px;
    padding-top: 5px;
    display: block;
    margin-top: 13px;
  }

  &__CreateTextBlock {
    position: absolute;
    left: 0;
    top: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid $colorInfo;
    background-image: url("../../../assets/svg/Path 172.svg");
    background-repeat: no-repeat;
    background-position: 4px 5px;
    background-color: $colorInfo;
  }
}
