@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.product {
  @include customContainer(86%);
}

.infoForUser {
  margin-top: 98px;
  display: flex;
  justify-content: space-between;
}

.featuresCards {
  margin-top: 93px;
  margin-bottom: 184px;
}

.mainInfoProduct {
  margin-top: 84px;
  display: flex;
}
