@import "../../../scss/core/mixins";

.SaleConfirm {
  margin-top: 24px;
  margin-bottom: 248px;
  position: relative;
  overflow: hidden;
  height: 100%;
  transition: 0.3s;

  &__Field {
    display: none;
  }

  &__Field:checked + & {
    height: 76px;
  }

  &__Field:checked + & &__Content {
    top: -535px;
    height: 0;
  }

  &__Content {
    padding-top: 49px;
    display: flex;
    position: relative;
    top: 0;
    z-index: 1;
    height: 100%;
    transition: 0.3s;
  }

  &__ChooseProducts {
    width: 790px;
  }

  &__ChooseProduct {
    display: flex;
    border-bottom: 1px solid $colorIndicators;
    padding-bottom: 31px;
    margin-bottom: 29px;

    &:last-child {}
    border-bottom: none;
  }

  &__MainInfo {
    padding-left: 30px;
    padding-top: 8px;
  }

  &__Model {
    @include styleForText(20px);
  }

  &__Series {
    @include styleForText(16px, $fontAdditional, $colorInfo);

    padding-top: 5px;
  }

  &__MainInfoDetails {
    display: flex;
    padding-top: 21px;
  }

  &__Size {
    @include styleForText(16px, $fontAdditional);
  }

  &__SizeValue {
    font-family: $fontMain, sans-serif;
  }

  &__ColorName {
    @include styleForText(16px, $fontAdditional);
    display: inline-block;
  }

  &__CountProductIndicator {
    @include styleForText(16px);

    padding: 0 0 4px;
    text-align: center;
    width: 32px;
    margin: 0 10px 0;
  }

  &__Price {
    @include styleForText(20px, "InterSemiBold");

    margin-left: 148px;
    margin-top: 48px;
  }

  &__Line {
    border: none;
    width: 100%;
    height: 1px;
    position: relative;
    top: -9px;
    background: $colorInfo;
  }

  &__OrderTitle {
    @include styleForText(20px);

    padding-top: 50px;
  }

  &__OrderField {
    @include styleForText(20px, $fontAdditional);

    border: none;
    border-bottom: 1px solid $colorInfo;
    width: 620px;
    padding-left: 10px;
    padding-bottom: 19px;
    margin-top: 30px;

    &::placeholder {
      @include styleForText(20px, $fontAdditional, $colorInfo);
    }
  }

  &__TotalPriceBlock {
    width: 419px;
    height: 403px;
    background: #f8f8f8;
    margin-left: 55px;
    padding: 47px 31px 12px;
  }

  &__TotalPriceItem {
    display: flex;
    justify-content: space-between;
    width: 421px;
    margin-bottom: 26px;
  }

  &__TotalPriceDesc {
    @include styleForText(20px, $fontAdditional, $colorInfo);
  }

  &__TotalPriceValue {
    @include styleForText($fontSizeForTitle, "InterSemiBold");

    margin-top: -6px;
  }

  &__TotalPriceButton {
    @include styleForButton(421px);
    @include styleForBackground();

    margin-top: 23px;
  }

  &__Field:checked + &__TotalPriceController &__TotalPriceCotrollerBlock {
    background-color: $colorContent;
  }

  &__TotalPriceController {
    @include styleForText(16px);

    position: relative;
    padding-left: 29px;
    padding-top: 5px;
    display: block;
    margin-top: 26px;
  }

  &__TotalPriceCotrollerBlock {
    position: absolute;
    left: -1px;
    top: 4px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: 1px solid $colorInfo;
    background-image: url("../../../assets/svg/Path 172.svg");
    background-repeat: no-repeat;
    background-position: 4px 5px;
    background-color: $colorInfo;
  }

  &__TotalPriceLine {
    width: 100%;
    height: 1px;
    background: $colorInfo;
    border: none;
    margin-bottom: 37px;
  }
}
