@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.Careers {
  padding-left: 36px;
  padding-top: 16px;
  border-left: 1px solid #dadada;

  &__Field {
    display: none;
  }

  &__Title {
    @include styleForText(30px);

    margin-bottom: 39px;
  }

  &__Item {
    width: 97%;
    height: 65px;
    padding-left: 40px;
    border-bottom: 1px solid $colorInfo;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
  }

  &__ControllerWrapper {
    padding-top: 23px;
    padding-bottom: 20px;
    position: relative;
    transition: 0.3s;
    background-color: #fff;
    z-index: 2;
  }

  &__Controller {
    @include styleForText(20px);

    position: relative;

    &::after {
      content: url("../../../assets/svg/Path 239.svg");
      position: absolute;
      transform: rotate(0);
      right: -30px;
      transition: 0.3s;
    }
  }

  &__Field:checked + &__Item {
    background-color: $colorRedOpacity;
    border-bottom: none;
    height: 100%;
  }

  &__Field:checked + &__Item &__ControllerWrapper {
    padding-top: 31px;
    padding-bottom: 0;
    background-color: $colorRedOpacity;
  }

  &__Field:checked + &__Item &__Controller::after {
    transform: rotate(-90deg);
  }

  &__Info {
    position: relative;
    top: -1000px;
    transition: 0.3s;
    padding-bottom: 40px;
    z-index: 1;
  }

  &__Field:checked + &__Item &__Info {
    top: 0;
  }

  &__InfoTitle {
    @include styleForText();

    margin-top: 40px;
  }

  &__InfoDesc {
    @include styleForText(16px, $fontAdditional);

    margin-top: 22px;
    line-height: 21px;
  }

  &__FeaturesList {
    margin-top: 30px;
    margin-left: 38px;
  }

  &__FeaturesItem {
    @include styleForText(16px, $fontAdditional);

    position: relative;
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 52px;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: $colorContent;
      border-radius: 50%;
      position: absolute;
      left: -18px;
      top: 5px;
    }
  }

  &__Form {
    border-radius: 10px;
    background-color: #fff;
    width: 528px;
    padding: 39px 40px;
  }

  &__FormTitle {
    @include styleForText();
  }

  &__InputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 31px;
  }

  &__LoadController {
    @include styleForText($fontSizeContent, $fontMain, $colorForLink);

    width: 222px;
    padding: 10px 0;
    text-align: center;
    display: block;
    border-radius: 4px;
    border: 1px solid $colorForLink;
  }

  &__InputGroup {
    display: flex;
    flex-direction: column;
  }

  &__TextField {
    @include styleForText(16px, $fontAdditional);

    border: none;
    border-bottom: 1px solid $colorInfo;
    padding-left: 5px;
    padding-bottom: 12px;
    width: 259px;
    margin-bottom: 31px;

    &::placeholder {
      color: $colorInfo;
    }
  }

  &__FormButton {
    @include styleForButton(529px);
    @include styleForBackground();

    padding-top: 18px;
    font-size: 16px;
    margin-top: 17px;
  }
}
