.advantages {
  padding: 16px 0 34px 39px;
  border-left: 1px solid #ececec;
  margin-left: -1px;
}

.featuresList {
  margin-top: 40px;
}

.featuresItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.featuresItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.featuresIcon {
  width: 61px;
  padding-right: 13px;
}

.featuresTitle {
  width: 312px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 33px 0;
  background-color: #fff3f4;
  position: relative;
  font-size: 17px;
}

.featuresTitleText {
  width: 174px;
}

.featuresTitleTextRed {
  color: #f04950;
}

.featuresContent {
  width: 55%;
  padding-left: 26px;
}

.featuresContentText {
  font-size: 15px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  line-height: 24px;
}

.featuresLink {
  font-size: 15px;
  font-family: "InterMedium", sans-serif;
  color: #0070c9;
  padding-bottom: 5px;
  padding-right: 25px;
  position: relative;
  display: inline-block;
  margin-top: 6px;
  border-bottom: 1px solid transparent;
}

.featuresLink::after {
  content: url("/svg/Group688.svg");
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
  top: 1px;
  display: none;
}

.featuresLink:hover::after {
  display: block;
}

.featuresLink:hover {
  border-color: #0070c9;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .featuresItem {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .featuresContent {
    width: 100%;
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .advantages {
    padding: 0 0 100px 0;
    border-left: none;
  }
  .featuresContent {
    width: 46%;
  }
}

@media screen and (max-width: 560px) {
  .featuresItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .featuresLink {
    margin-top: 30px;
    width: 100%;
    padding: 18px 0 17px;
    color: #0e0e0e;
    border: 1px solid #0e0e0e;
    text-align: center;
  }
  .featuresLink:hover {
    border-color: #0e0e0e;
    background: #0e0e0e;
    color: #fff;
  }
  .featuresLink:hover::after {
    display: none;
  }
  .featuresTitle,
  .featuresContent {
    width: 100%;
  }
  .featuresTitle {
    padding: 20px 0;
  }
  .featuresTitleText {
    font-size: 20px;
    width: 227px;
  }
  .featuresIcon {
    width: 55px;
    padding-right: 20px;
  }
  .featuresContent {
    padding-left: 0;
    font-size: 14px;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=Advantages.css.map */