.bonuses {
  padding-left: 37px;
  padding-bottom: 111px;
  border-left: 1px solid #ececec;
  margin-left: -1px;
}

.title {
  font-size: 26px;
  font-family: 'InterMedium', sans-serif;
  color: #0e0e0e;
  padding-top: 16px;
}

.allBonuses {
  width: 190px;
  height: 73px;
  background-color: #fff3f4;
  border: 1px solid #eee;
  margin-top: 39px;
  padding-top: 20px;
  padding-left: 29px;
}

.allBonunesPrice {
  font-size: 20px;
  font-family: 'InterSemiBold';
  color: #0e0e0e;
}

.allBonunesText {
  font-size: 12px;
  font-family: 'InterRegular', sans-serif;
  color: #b6b6b6;
  padding-top: 6px;
}

.historyTitle {
  font-size: 16px;
  font-family: 'InterMedium', sans-serif;
  color: #0e0e0e;
  margin-top: 40px;
  margin-bottom: 20px;
}

.headerTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.tableSumm,
.tableDate,
.tableEvent {
  font-size: 12px;
  font-family: 'InterRegular', sans-serif;
  color: #b6b6b6;
}

.tableSumm {
  width: 23%;
}

.tableDate {
  width: 26.2%;
}

.tableItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #ececec;
}

.tableTextGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tableTextGroup:first-child {
  width: 49%;
}

.tableTextGroup:last-child {
  width: 51%;
}

.tableItemPrice {
  width: 46%;
}

.tableItemEvent {
  width: 68%;
}

.tableItemPrice,
.tableItemDate,
.tableItemEvent {
  font-size: 14px;
  font-family: 'InterMedium', sans-serif;
  color: #0e0e0e;
}

.tableLink {
  font-size: 14px;
  font-family: 'InterMedium', sans-serif;
  color: #0070c9;
  position: relative;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

.tableLink:hover {
  border-bottom-color: #0070c9;
}

@media screen and (max-width: 1800px) {
  .tableItemPrice,
  .tableItemDate,
  .tableItemEvent,
  .tableLink {
    font-size: 10px;
  }
  .tableItem {
    padding: 13px 0;
  }
}

@media screen and (max-width: 768px) {
  .bonuses {
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: none;
  }
  .title {
    font-size: 28px;
  }
  .allBonuses {
    width: 174px;
    height: 64px;
    margin-top: 30px;
    padding-left: 30px;
  }
  .allBonunesText {
    font-size: 14px;
    padding-top: 0;
  }
  .historyTitle {
    margin-top: 50px;
    font-size: 20px;
  }
  .headerTable {
    margin-bottom: 10px;
  }
  .tableDate,
  .tableEvent {
    display: none;
  }
  .tableItem {
    padding: 15px 0;
  }
  .tableItem:first-child {
    padding-top: 20px;
  }
  .tableTextGroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .tableTextGroup:last-child {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .tableItemPrice,
  .tableItemEvent {
    width: auto;
    font-size: 16px;
    font-family: 'InterMedium', sans-serif;
    color: #0e0e0e;
  }
  .tableItemEvent {
    text-align: right;
  }
  .tableItemDate,
  .tableLink {
    font-size: 16px;
    padding-top: 10px;
  }
  .tableLink {
    padding-right: 27px;
  }
  .tableLink::after {
    content: url('/svg/Group688.svg');
    position: absolute;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    right: 4px;
    top: 11px;
  }
  .tableLinkText {
    display: none;
  }
}
/*# sourceMappingURL=Bonuses.css.map */
