.content {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1690px;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

@media screen and (max-width: 767px) {
  .content {
    padding: 0 20px;
  }
}

.brandsMainInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.brandsMainInfo .startMain .brandsFiltersTitle {
  display: none;
}

.brandsMainInfo .endMain .brandCount {
  font-size: 18px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
}

.brandsFilters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 56px;
}

.brandsFiltersTitle {
  font-size: 24px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  width: 200px;
}

.brandsFiltersItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
}

.brandsFiltersItems .filterGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brandsFiltersItems .filterGroup .brandsFiltersItemLetter:first-child {
  margin-left: 15px;
}

.brandsFiltersItems .brandsFiltersItemLetters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 9px;
  border-right: 1px solid #ececec;
}

.brandsFiltersItems .brandsFiltersItemLetters:last-child {
  border-right: none;
}

.brandsFiltersItem {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  padding: 1px 13px 2px;
  border-right: 1px solid #ececec;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ececec;
  border: none;
  margin-bottom: 16px;
}

.brandsFiltersItemLetter {
  padding: 1px 4px 2px;
}

.brandsFiltersItem:hover,
.brandsFiltersItemLetter:hover,
.brandsFiltersItemLetterActive {
  background-color: #0070c9;
  border-radius: 3px;
  color: white;
}

.brandsList {
  margin-top: 70px;
}

.brandsListContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  border-top: 1px solid #b6b6b6;
}

.brandsListLetter {
  padding-top: 70px;
  font-size: 40px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
}

.brandsListCards {
  display: -ms-grid;
  display: grid;
  padding-top: 70px;
  -ms-grid-columns: 250px (350px)[3];
      grid-template-columns: 250px repeat(3, 350px);
}

.notFoundText {
  text-align: center;
  margin-top: 20px;
}

.link {
  font-size: 16px;
  font-family: "InterMedium", sans-serif;
  color: #0070c9;
  position: relative;
  display: inline-block;
  margin-top: 14px;
}

.link::after {
  content: url("/svg/Group688.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  right: -26px;
  top: 2px;
}

.textWrapper {
  width: 74%;
  margin: 0 auto;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 198px;
}

.text {
  font-size: 16px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  padding-top: 31px;
  line-height: 21px;
}

@media screen and (max-width: 1549px) {
  .brandsListCards {
    -ms-grid-columns: 250px (350px)[2];
        grid-template-columns: 250px repeat(2, 350px);
  }
  .filterGroup {
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
  }
  .brandsFiltersItems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brandsFiltersItems .brandsFiltersItemLetters {
    padding: 0;
    margin-top: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .brandsListCards {
    -ms-grid-columns: 250px 350px;
        grid-template-columns: 250px 350px;
  }
}

@media screen and (max-width: 799px) {
  .brandsListContent {
    -ms-grid-columns: 50px 1fr;
        grid-template-columns: 50px 1fr;
  }
  .brandsListCards {
    -ms-grid-columns: 125px 125px;
        grid-template-columns: 125px 125px;
  }
}

@media screen and (max-width: 768px) {
  .brandsMainInfo {
    margin-top: 50px;
  }
  .brandsMainInfo .startMain .brandsFiltersTitle {
    font-size: 28px;
    font-family: "InterMedium", sans-serif;
    color: #0e0e0e;
    display: block;
    width: auto;
  }
  .brandsFiltersTitle {
    display: none;
  }
  .brandsList {
    margin-top: 20px;
  }
  .brandsListCards,
  .brandsListLetter {
    padding-top: 40px;
  }
  .textWrapper {
    width: 100%;
    padding-bottom: 120px;
  }
}
/*# sourceMappingURL=Brands.css.map */