.content {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1690px;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 767px) {
  .content {
    padding: 0 20px;
  }
}

.cart {
  margin-top: 50px;
}

.cartHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countText,
.countTextFirst {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
}

.table {
  margin-top: 31px;
}

.tableHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tableTitleOne,
.tableTitleTwo,
.tableTitleThree,
.totalPrice {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #b6b6b6;
}

.tableTitleOne {
  width: 69%;
}

.tableTitleTwo {
  width: 27.5%;
}

.line {
  height: 1px;
  width: 100%;
  border: none;
  background: #b6b6b6;
  margin-top: 19px;
}

.lineSecond {
  margin-top: 38px;
}

.totalPriceWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.totalPrice {
  padding-top: 41px;
}

.price {
  margin-left: 20px;
}

.buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 134px;
}

.linkWrapperNews {
  margin-top: 30px;
}

.linkWrapper {
  display: block;
}

.linkWrapper,
.linkWrapperNews {
  width: 298px;
  font-size: 14px !important;
}

.noProductsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px 0;
}

.noProductsTitle {
  text-align: center;
}

.price {
  font-size: 22px;
  font-family: "InterSemiBold", sans-serif;
  color: #0e0e0e;
  display: inline-block;
}

.cartItem {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid #ececec;
}

.cartItem:last-child {
  border-bottom: none;
}

.cartItem_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartItem_view {
  margin-right: 30px;
  height: 120px;
}

.cartItem_image {
  height: 100%;
}

.cartItem_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.cartItem_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  max-width: 330px;
  width: 100%;
}

.cartItem_title {
  font-size: 22px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  display: block;
  margin-top: 10px;
}

.cartItem_article {
  margin-top: 6px;
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #b6b6b6;
}

.cartItem_properties {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartItem_size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.cartItem_size__title {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  margin-right: 5px;
}

.cartItem_size__name {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
}

.cartItem_color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartItem_color__title {
  display: none;
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
}

.cartItem_color__name {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
}

.cartItem .colorBock {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 19px;
}

.cartItem_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartItem_favorites {
  margin-right: 30px;
}

.cartItem_delete__button {
  color: #f04950;
}

.cartItem_priceWrapper {
  margin-left: auto;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartItem_quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartItem_quantity__title {
  display: none;
}

.cartItem_price {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.cartItem_price__default {
  font-size: 18px;
  font-family: "InterSemiBold", sans-serif;
  color: #0e0e0e;
}

.cartItem_price__old {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #b6b6b6;
  text-decoration: line-through;
  margin-right: 10px;
}

.cartItem_price__new {
  font-size: 18px;
  font-family: "InterSemiBold", sans-serif;
  color: #f04950;
}

@media screen and (max-width: 768px) {
  .cart {
    margin-top: 30px;
  }
  .countTextFirst {
    font-size: 15px;
  }
  .cartTitle {
    font-size: 24px;
  }
  .table {
    margin-top: 15px;
  }
  .tableHeader {
    display: none;
  }
  .lineSecond {
    margin-top: 0;
  }
  .noProductsBlock {
    margin: 145px 0 180px 0;
  }
  .noProductsTitle {
    font-size: 24px;
  }
  .linkWrapperNews {
    width: 93%;
    margin-top: 30px;
    font-size: 16px !important;
  }
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 40px;
    margin-bottom: 55px;
  }
  .linkWrapper {
    width: 100%;
    font-size: 16px !important;
  }
  .linkWrapper:first-child {
    margin-top: 10px;
    width: 99.6%;
  }
  .productLink {
    width: 200px;
  }
  .cartItem {
    padding: 20px 0;
    border-bottom: 1px solid #b6b6b6;
  }
  .cartItem:last-child {
    border-bottom: 0;
  }
  .cartItem_wrapper {
    height: auto;
  }
  .cartItem_view {
    width: 60px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 15px;
  }
  .cartItem_image {
    width: 100%;
    height: auto;
  }
  .cartItem_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cartItem_info {
    margin-right: 0;
  }
  .cartItem_title {
    font-size: 18px;
    font-family: "InterMedium", sans-serif;
    color: #0e0e0e;
    margin-top: 0;
    min-width: auto;
  }
  .cartItem_article {
    display: none;
  }
  .cartItem_size {
    margin-bottom: 10px;
  }
  .cartItem_size__title {
    font-size: 14px;
    font-family: "InterMedium", sans-serif;
    color: #0e0e0e;
  }
  .cartItem_size__name {
    font-size: 14px;
    font-family: "InterMedium", sans-serif;
    color: #0e0e0e;
  }
  .cartItem_properties {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cartItem_color {
    margin-bottom: 10px;
  }
  .cartItem_color__title {
    display: block;
    font-size: 14px;
    font-family: "InterMedium", sans-serif;
    color: #0e0e0e;
  }
  .cartItem_color__name {
    font-size: 14px;
    font-family: "InterMedium", sans-serif;
    color: #0e0e0e;
  }
  .cartItem_quantity {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px;
  }
  .cartItem_quantity__title {
    display: block;
    font-size: 14px;
    font-family: "InterMedium", sans-serif;
    color: #0e0e0e;
    margin-right: 10px;
  }
  .cartItem_buttons {
    position: absolute;
    top: 20px;
    right: 0;
  }
  .cartItem_buttons svg {
    width: 12px;
    height: 12px;
  }
  .cartItem_favorites {
    margin-right: 10px;
  }
  .cartItem_priceWrapper {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 100%;
  }
  .cartItem_price {
    margin-left: 0;
  }
  .cartItem .colorBock {
    width: 17px;
    height: 17px;
    margin-left: 10px;
  }
  .cartItem_price__default {
    font-size: 20px;
    font-family: "InterMedium", sans-serif;
    color: #0e0e0e;
  }
  .cartItem_price__old {
    font-size: 20px;
    font-family: "InterRegular", sans-serif;
    color: #0e0e0e;
  }
  .cartItem_price__new {
    font-size: 20px;
    font-family: "InterMedium", sans-serif;
    color: #f04950;
  }
  .totalPrice {
    padding-top: 20px;
    padding-left: 9px;
    width: 100%;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=Cart.css.map */