.cartEntry {
  margin-top: 50px;
}

.wrapper {
  width: 1260px;
  margin: 0 auto;
}

.content {
  margin-top: 123px;
  margin-bottom: 42px;
  padding-bottom: 58px;
  position: relative;
}

.form {
  width: 456px;
  padding-right: 174px;
  border-right: 1px solid #b6b6b6;
}

.links {
  position: absolute;
  top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #b6b6b6;
  width: 100%;
}

.routeLink {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #b6b6b6;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
}

.linkActive {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.addInfo {
  width: 456px;
  padding-left: 174px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formTitle,
.addInfoTitle {
  width: 100%;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 22px;
  border-bottom: 1px solid #ececec;
}

.inputWrapper {
  margin-bottom: 7px;
}

.inputWrapper:nth-child(2) {
  margin-top: 29px;
}

.rememberBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 26px;
}

.labelBefore::before {
  background-color: #f04950 !important;
  border: 1px solid #f04950 !important;
}

.forgotPasswordButton {
  font-size: 11px;
  font-family: "InterMedium", sans-serif;
  color: #b6b6b6;
  text-decoration: underline;
}

.forgotPasswordButton:hover {
  text-decoration: none;
  color: #0e0e0e;
}

.errorMessage {
  text-align: center;
  margin-bottom: -19px;
  margin-top: 23px;
}

.submit {
  width: 456px;
  margin-top: 41px;
  margin-bottom: 72px;
}

.addInfoDesc {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  width: 376px;
  padding: 35px 38px;
  text-align: center;
}

.addInfoFields {
  padding-top: 25px;
}

.radioButtonWrapper {
  margin-bottom: 13px;
}

.radioButtonWrapper:last-child {
  margin-bottom: 0;
}

.addInfoButton {
  width: 456px;
  margin-top: 42px;
  display: block;
}

@media screen and (max-width: 1371px) {
  .wrapper {
    width: 1016px;
  }
  .form {
    padding-right: 50px;
  }
  .addInfo {
    padding-left: 50px;
  }
}

@media screen and (max-width: 1108px) {
  .wrapper {
    width: 90%;
  }
  .addInfo,
  .form {
    width: 45%;
  }
  .submit,
  .addInfoButton {
    width: 100%;
  }
  .addInfoDesc {
    width: 81%;
  }
}

@media screen and (max-width: 1007px) {
  .submit {
    margin-top: 58px;
  }
}

@media screen and (max-width: 768px) {
  .cartEntry {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .wrapper {
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1690px;
    -webkit-overflow-scrolling: touch;
  }
}

@media screen and (max-width: 768px) and (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .form {
    border-right: none;
    padding-right: 0;
    width: 100%;
  }
  .formTitle,
  .addInfoTitle {
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 115px;
    border-bottom: none;
  }
  .inputWrapper:nth-child(2) {
    margin-top: 0;
  }
  .forgotPasswordButton {
    font-size: 14px;
  }
  .submit {
    margin-bottom: 0;
    width: 100%;
  }
  .addInfo {
    padding-left: 0;
    width: 100%;
  }
  .addInfoDesc {
    width: 100%;
    padding: 0 0 30px 0;
    font-size: 16px;
    text-align: left;
  }
  .addInfoFields {
    padding-top: 0;
  }
  .radioButtonWrapper label {
    font-size: 16px !important;
  }
  .radioButtonWrapper label span {
    top: 1px !important;
  }
  .addInfoButton {
    padding: 17px 0;
    width: 100%;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=CartEntry.css.map */