.footer {
  padding-bottom: 82px;
}

.line {
  height: 1px;
  border: none;
  background-color: #ececec;
  width: 100%;
  margin-bottom: 100px;
}

.container {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1690px;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .navigationBlock {
  width: 60%;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .navigationBlock .forBuyers,
.content .navigationBlock .about,
.content .navigationBlock .categories {
  width: 25%;
  margin-right: 20px;
}

.content .navigationBlock .forBuyers_title,
.content .navigationBlock .about_title,
.content .navigationBlock .categories_title {
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
}

.content .navigationBlock .forBuyers_list,
.content .navigationBlock .about_list,
.content .navigationBlock .categories_list {
  padding-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .navigationBlock .forBuyers_item,
.content .navigationBlock .about_item,
.content .navigationBlock .categories_item {
  font-size: 12px;
  font-family: 'InterMedium', sans-serif;
  color: #0e0e0e;
  line-height: 28px;
}

.content .navigationBlock .forBuyers_item:hover,
.content .navigationBlock .about_item:hover,
.content .navigationBlock .categories_item:hover {
  opacity: 0.7;
}

.content .subscribeBlock {
  width: 40%;
}

.content .subscribeBlock .social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .subscribeBlock .social {
  width: 100%;
  margin-top: 20px;
}

.content .subscribeBlock .social_item {
  height: 25px;
}

.content .subscribeBlock .social_item svg {
  height: 100%;
}

.content .subscribeBlock .social_item:hover {
  opacity: 0.7;
}

.content .subscribeBlock .social_item + .social_item {
  margin-left: 20px;
}

.helper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.helper .forOpt_title {
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
}

.helper .forOpt_list {
  padding-top: 17px;
}

.helper .forOpt_item {
  font-size: 12px;
  font-family: 'InterMedium', sans-serif;
  color: #0e0e0e;
  line-height: 28px;
}

.helper .forOpt_item:hover {
  opacity: 0.7;
}

.helper .languageBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.helper .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 30px;
}

.helper .language .langButton {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #202124;
}

.helper .language .langButton:after {
  content: url("/svg/Path167.svg");
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -10px;
  top: 1px;
}

.helper .language .langList {
  position: absolute;
  top: 20px;
}

.helper .language .langItemButton {
  font-size: 12px;
  font-family: "InterRegular", sans-serif;
  color: #202124;
}

.helper .formLink:hover {
  opacity: 0.7;
}

.accordion {
  display: none;
  padding: 20px;
}

.accordion .menuItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7px;
  padding-left: 20px;
}

.accordion .menuText {
  font-size: 14px;
  font-family: 'InterMedium', sans-serif;
  color: #0e0e0e;
  display: inline-block;
  margin-top: 9px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    width: 100%;
    padding: 0;
  }
  .line {
    display: none;
  }
  .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .navigationBlock {
    display: none;
  }
  .content .subscribeBlock {
    width: 100%;
  }
  .content .social_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .accordion {
    display: block;
  }
  .helper {
    padding: 0 20px;
  }
  .forOpt {
    display: none;
  }
  .languageBlock {
    margin-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=Footer.css.map */