.homeSliderWrapper {
  width: 100%;
  padding: 0;
}

.featuresWrapper {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1690px;
  -webkit-overflow-scrolling: touch;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .featuresWrapper {
    padding: 0 20px;
  }
}

.mainSlider {
  position: relative;
  width: 100%;
}

.sliderContainer {
  width: 100%;
}

.slide {
  width: 100%;
  height: 541px;
  display: inline-block;
  position: relative;
}

.imageWrapper {
  width: 100%;
  height: 541px;
}

.slideImage {
  max-width: none;
  min-width: auto;
  min-height: auto;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.infoBlock {
  width: 345px;
  padding: 50px;
  background: white;
  position: absolute;
  bottom: -1px;
  right: 140px;
  -webkit-box-shadow: 0 10px 99px #0000000d;
          box-shadow: 0 10px 99px #0000000d;
}

.slideTitle {
  width: 289px;
  font-size: 32px;
}

.desc {
  font-size: 12px;
  font-family: "InterRegular";
  color: #0e0e0e;
  color: #b6b6b6;
  padding-top: 24px;
}

.routeLink {
  width: 136px;
  padding-top: 12px;
  padding-bottom: 14px;
  font-family: 'InterMedium', sans-serif;
  font-size: 14px;
  text-align: center;
  background-color: #0e0e0e;
  color: white;
  margin-top: 50px;
  display: block;
}

.routeLink:hover {
  background-color: #f04950;
}

.bestProducts {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1690px;
  -webkit-overflow-scrolling: touch;
  margin-top: 81px;
}

@media screen and (max-width: 767px) {
  .bestProducts {
    padding: 0 20px;
  }
}

.rowContent {
  width: 100%;
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -17px;
}

.rowContent {
  width: 100%;
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -17px;
}

.slider {
  width: 100%;
  margin-top: 33px;
}

.sliderWrapper {
  padding-top: 1px;
  position: relative;
  overflow: visible;
}

.sliderBestProductsWrapper {
  overflow: hidden;
  padding-top: 10px;
  width: 100%;
}

.sliderList {
  width: 100%;
}

.cardSlider {
  width: 17.9%;
  padding-left: 30px;
}

.insta {
  height: 250px;
  padding: 0 20px;
}

.productCard {
  width: 100%;
  padding: 5%;
}

.productCard img {
  width: 100% !important;
}

.dotList {
  margin-top: 40px;
}

.dotList li:nth-child(3) {
  display: none;
}

.newCollection {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1690px;
  -webkit-overflow-scrolling: touch;
  margin-top: 121px;
}

@media screen and (max-width: 767px) {
  .newCollection {
    padding: 0 20px;
  }
}

.collectionCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.smallCards {
  width: 38.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popularCategories {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1690px;
  -webkit-overflow-scrolling: touch;
  margin-top: 121px;
}

@media screen and (max-width: 767px) {
  .popularCategories {
    padding: 0 20px;
  }
}

.popularCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 49px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardsGroup:first-child {
  width: 48.7%;
}

.cardsGroup:first-child article:first-child div {
  height: 652px;
}

.cardsGroup:first-child article:last-child div {
  height: 412px;
}

.cardsGroup:last-child {
  width: 48.7%;
}

.cardsGroup:last-child article:first-child div {
  height: 412px;
}

.cardsGroup:last-child article:last-child div {
  height: 652px;
}

.popularSliderWrapper {
  width: 96.6%;
  padding-left: 29px;
  margin-top: 30px;
}

.popularSlider {
  padding-left: 0;
}

.popularCardSlider {
  width: 87%;
  margin-right: 12px;
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .popularCardSlider {
    width: 80% !important;
  }
}

.instagramData {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1690px;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 116px;
}

@media screen and (max-width: 767px) {
  .instagramData {
    padding: 0 20px;
  }
}

.instagramDataHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 309px;
}

.instagramLink {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #0070c9;
  padding-top: 4px;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

.instagramLink:hover {
  border-bottom: 1px solid #0070c9;
}

.instagramLinkMobile {
  font-size: 18px;
  font-family: "InterMedium", sans-serif;
  color: #0e0e0e;
  margin-left: 8%;
  position: relative;
}

.instagramLinkMobile::before {
  content: url("/svg/instagram2.svg");
  position: absolute;
  left: -24px;
  top: 1px;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}

.instagramImageWrapper {
  width: 18%;
  height: 303px;
  position: relative;
  overflow: hidden;
}

.instagramImageWrapper:last-child {
  margin-right: 0;
}

.sliderInstagramWrapper {
  margin-top: 30px;
  width: 100%;
}

.sliderInstagram {
  margin-left: 0;
}

.cardSliderInstagram {
  max-width: 250px;
  width: 100%;
  height: 300px;
  margin-right: 10px;
  position: relative;
  padding-left: 0;
}

.cardSliderInstagram:last-child {
  margin-right: 0;
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: auto;
  height: 100%;
}

.sliderButtonLeft {
  top: 210px;
  left: -8px;
  margin-top: -10px;
  -webkit-box-shadow: 0 10px 30px #0000001a;
          box-shadow: 0 10px 30px #0000001a;
  background: white;
}

.sliderButtonRight {
  top: 210px;
  right: -8px;
  margin-top: -10px;
  -webkit-box-shadow: 0 10px 30px #0000001a;
          box-shadow: 0 10px 30px #0000001a;
  background: white;
}

.instaBtn {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1550px) {
  .infoBlock {
    width: 301px;
    padding: 35px;
    right: 34px;
  }
  .nav {
    margin-left: 94px;
  }
}

@media screen and (max-width: 1237px) {
  .image {
    height: 253px;
  }
}

@media screen and (max-width: 1200px) {
  .image {
    height: 219px;
  }
  .slider {
    margin-left: -14px;
  }
}

@media screen and (max-width: 1189px) {
  .cardSlider {
    width: 32.5%;
  }
}

@media screen and (max-width: 1000px) {
  .infoBlock {
    display: none;
  }
  .collectionCards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .smallCards {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .smallCards {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .popularCategories {
    margin-top: 50px;
  }
  .slide {
    height: 375px;
  }
  .slider {
    margin-left: -1px;
  }
  .sliderButtonLeft,
  .sliderButtonRight {
    display: none;
  }
  .productCard {
    padding: 0;
  }
  .imageWrapper {
    height: 375px;
  }
  .slideTitle {
    font-size: 24px;
  }
  .desc {
    padding-top: 10px;
  }
  .bestProducts {
    margin-top: 50px;
  }
  .bestTitle {
    width: 100%;
    text-align: center;
  }
  .newCollection {
    margin-top: 50px;
  }
  .collectionCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .smallCards {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instagramData {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  .image {
    height: 100%;
  }
  .popularSlider li:last-child,
  .sliderInstagram li:last-child {
    width: 50px !important;
  }
  .popularSliderWrapper,
  .collectionCards {
    margin-top: 25px;
  }
  .slider {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=Home.css.map */