.opt {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1690px;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 767px) {
  .opt {
    padding: 0 20px;
  }
}

.content {
  width: 901px;
  margin: 20px auto 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content + .content {
  display: block;
}

.title {
  padding-top: 80px;
  padding-bottom: 64px;
}

.card {
  margin-bottom: 60px;
}

.icon {
  padding-right: 22px;
  width: 88px;
  height: 55px;
  fill: #ffa2aa;
  stroke: #ffa2aa;
}

.cardTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardDesc {
  font-size: 15px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  padding-top: 26px;
  line-height: 24px;
}

.requestBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 97px;
  margin-bottom: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  width: 571px;
}

.inputGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  width: 98.8%;
}

.inputGroupWrapper {
  width: 47%;
}

.inputChildWrapper {
  background-color: #f8f8f8;
  font-size: 14px;
}

.inputWrapper {
  margin-top: 30px;
  width: 98.8%;
}

.textField {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  margin-top: 30px;
  border: none;
  background-color: #f8f8f8;
  border-bottom: 1px solid #b6b6b6;
  padding-left: 7px;
  border-radius: 0;
}

.textField::-webkit-input-placeholder {
  color: #b6b6b6;
}

.textField:-ms-input-placeholder {
  color: #b6b6b6;
}

.textField::-ms-input-placeholder {
  color: #b6b6b6;
}

.textField::placeholder {
  color: #b6b6b6;
}

.formButton {
  width: 100%;
  margin-top: 30px;
}

.bgSuccess {
  padding: 30px 30px 20px 105px;
  background: #e3f3d999;
  margin-top: 30px;
  border: 1px solid #dbedc6;
  border-radius: 5px;
  position: relative;
}

.successTitle {
  margin-bottom: 20px;
  font-size: 22px;
}

.successTitle:before {
  content: '';
  width: 60px;
  height: 60px;
  background: url("/images/ok.gif");
  position: absolute;
  background-size: cover;
  top: 25px;
  left: 25px;
}

.successTitle + .successTitle {
  margin-bottom: 0;
  font-size: 14px;
}

.successTitle + .successTitle:before {
  display: none;
}

.info {
  width: 204px;
}

.textInfoWrapper {
  padding-top: 30px;
}

.infoTitle {
  font-family: "InterRegular", sans-serif;
}

.infoEmail {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.number {
  font-size: 14px;
  font-family: "InterRegular", sans-serif;
  color: #0e0e0e;
  margin-bottom: 8px;
}

.buttonTelegram,
.buttonViber {
  font-size: 10px;
  font-family: "InterMedium", sans-serif;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  margin-top: 23px;
}

.buttonTelegram::before,
.buttonViber::before {
  position: absolute;
  left: 14px;
}

.buttonTelegram {
  padding: 6px 14px 7px 31px;
  background: #41b4e6;
}

.buttonTelegram::before {
  content: url("/svg/XMLID_496_.svg");
}

.buttonViber {
  padding: 6px 15px 7px 29px;
  background-color: #665cac;
  margin-left: 14px;
}

.buttonViber::before {
  content: url("/svg/XMLID_7_.svg");
}

.itemLink {
  font-size: 14px;
  font-family: "InterMedium", sans-serif;
  color: #0070c9;
  position: relative;
  margin-bottom: 30px;
  margin-left: 19px;
}

.itemLink::before {
  content: url("/svg/down-arrow.svg");
  position: absolute;
  left: -17px;
  top: 2px;
}

.optLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 991px) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 28px;
    padding-top: 34px;
    padding-bottom: 40px;
  }
  .content {
    display: block;
    margin: 0 auto;
  }
  .card {
    margin-bottom: 50px;
  }
  .card:nth-child(2) .icon {
    width: 96px;
  }
  .card:nth-child(3) .icon {
    width: 61px;
  }
  .card:nth-child(5) {
    margin-bottom: 0;
  }
  .icon {
    width: 75px;
    height: 52px;
    top: -1px;
    padding-right: 14px;
  }
  .cardTitle {
    font-size: 18px;
    width: 287px;
    color: #ffa2aa;
  }
  .cardDesc {
    font-size: 16px;
    margin-top: 20px;
    padding-top: 0;
  }
  .requestBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 79px;
    margin-bottom: 30px;
  }
  .info {
    width: 100%;
  }
  .textInfoWrapper {
    padding-top: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .infoTitle {
    font-size: 20px;
  }
  .infoEmail {
    font-size: 16px;
    margin-left: 36px;
    margin-top: -1px;
  }
  .numbers {
    margin-top: 0;
  }
  .number {
    font-size: 16px;
  }
  .buttonTelegram,
  .buttonViber {
    font-size: 14px;
  }
  .form {
    width: 92%;
    margin-top: 57px;
    padding: 4%;
  }
  .itemLink {
    margin-bottom: 15px;
  }
  .itemLink:last-child {
    margin-bottom: 0;
  }
  .optLinks {
    margin-bottom: 140px;
  }
  .textField {
    height: 58px;
  }
  .formButton {
    padding: 17px 0 18px;
  }
}

@media screen and (max-width: 546px) {
  .inputGroup {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inputGroupWrapper {
    width: 100%;
  }
  .inputGroupWrapper:first-child {
    margin-bottom: 15px;
  }
  .inputWrapper {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=Opt.css.map */