.productsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categoriesBlock {
  width: 313px;
}

.goodsNumber {
  display: none;
  margin: 23px 0 30px 0;
}

.productBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobileWrapper {
  display: none;
}

.controllersWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.leftSideControllerWrapper {
  padding-bottom: 37px;
  padding-right: 30px;
  border-bottom: 1px solid #dadada;
}

.filterBrandWrapper {
  padding: 18px 6% !important;
}

.categoriesWrapper {
  margin-top: 0;
}

.filtersWrapper {
  width: 25%;
}

.colors div label {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.filterPriceWrapper {
  width: 100%;
  padding-top: 19px;
  border-top: 2px solid #b6b6b6;
}

.sortWrapperMobile {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categoriesMobileWrapper,
.filtersMobileWrapper {
  width: 49%;
}

.productsCounter {
  margin: 22px 0;
}

.rightSide {
  width: 100%;
  padding-left: 35px;
  border-left: 1px solid #dadada;
  margin-bottom: 20px;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.card {
  width: 100%;
}

.notFoundText {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.addElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
  width: 768px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.noresultBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttonsBlock {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px;
}

.buttonsBlock button + button {
  margin-left: 10px;
}

@media screen and (max-width: 1380px) {
  .controllersWrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filtersWrapper {
    width: 19%;
  }
  .filterAddWrapper,
  .filterAddWrapperAdd {
    z-index: 8 !important;
  }
}

.colorsBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px 130px;
      grid-template-columns: 25px 130px;
}

@media screen and (max-width: 1300px) {
  .colorsBlock {
    -ms-grid-columns: 25px 95px;
        grid-template-columns: 25px 95px;
  }
}

@media screen and (max-width: 1200px) {
  .categoriesBlock {
    display: none;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .controllersWrapper {
    display: none;
  }
  .mobileWrapper {
    display: block;
  }
  .rightSide {
    width: 100%;
    border-left: none;
    padding-left: 0;
  }
  .goodsNumber {
    display: block;
  }
  .addElements {
    width: 100%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .addElements {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .filterAddWrapper {
    z-index: 7 !important;
  }
  .filtersWrapper {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .addElements {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards {
    margin-right: 0;
    margin-left: 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.itemMainInfoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .itemMainInfoWrapper {
    margin-bottom: 10px;
    position: relative;
  }
}

.mediaVendor {
  display: none;
}

@media screen and (max-width: 991px) {
  .mediaVendor {
    display: block;
    color: #b6b6b6;
  }
}

@media screen and (max-width: 768px) {
  .mediaVendor {
    display: none;
  }
}

.item {
  margin: 10px 0;
  position: relative;
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
}

.imageOpt {
  width: 70px;
  height: 80px;
  margin: 0 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.brandName,
.categoriesName {
  width: 200px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .brandName,
  .categoriesName {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .priceForOPT {
    margin-right: 35px;
  }
}

.infoHeader,
.infoBody {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .infoHeader,
  .infoBody {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .infoHeader,
  .infoBody {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.infoHeader p,
.infoBody p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media screen and (max-width: 991px) {
  .infoHeader p:nth-child(3),
  .infoBody p:nth-child(3) {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  .infoHeader p.colorsBlock,
  .infoBody p.colorsBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 38px;
  }
}

@media screen and (max-width: 768px) {
  .infoHeader p,
  .infoBody p {
    font-size: 16px;
  }
  .infoHeader p:nth-child(5),
  .infoBody p:nth-child(5) {
    display: none;
  }
}

.infoHeader .counter,
.infoBody .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colorBock {
  width: 20px;
  height: 18px;
  display: inline-block;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .colorBock + p {
    display: none;
  }
  .colorBock:hover + p {
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10;
    white-space: nowrap;
  }
}

.addToCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.addToCard button {
  padding: 13px;
}

.itemMainInfo {
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1200px) {
  .itemMainInfo {
    max-width: 200px;
  }
}

.itemLinkId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.itemLinkId svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: 5px;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .itemLinkId.linkIdAfterRotate {
    display: block;
    margin-right: 5px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.itemLinkId.linkIdAfterRotate svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.opened .itemLinkId.linkIdAfterRotate svg {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.relative {
  position: relative;
  width: 100%;
}

.withPhoto {
  padding-left: 25px;
}

@media screen and (min-width: 768px) {
  .withPhoto {
    position: absolute;
    top: -30px;
    right: 0;
    cursor: pointer;
  }
}

.withPhoto:before {
  content: '';
  width: 20px;
  margin-right: 2px;
  height: 20px;
  background-color: #ececec;
  background-image: url("/svg/Path1732.svg");
  background-repeat: no-repeat;
  border-radius: 6px;
  background-position: 5px 5px;
  position: absolute;
  left: 0;
  top: -2px;
}

.withPhoto.checked:before {
  background-image: url("/svg/Path1722.svg");
  background-color: #0e0e0e;
}

@media screen and (max-width: 768px) {
  .withPhoto {
    margin-top: 15px;
  }
  .withPhoto:before {
    top: 13px;
  }
}

.withBorder {
  border: 1px solid #dadada;
}
/*# sourceMappingURL=Products.css.map */