@import '../../scss/core/vars';
@import '../../scss/core/mixins';

.player {
  height: 540px;
  position: relative;
  margin-top: 64px;
}

.descBlock {
  width: 509px;
  height: 128px;
  padding: 30px 50px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 99px #0000000d;
  position: absolute;
  top: 450px;
}

.descTitle {
  font-size: 30px;
}

.descTime {
  @include styleForText(16px, $fontMain, $additionalColorContent);

  margin-top: 23px;
}

@media screen and (max-width: 768px) {
  .player {
    margin-top: 0;
    height: 293px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 125px;
  }

  .descTitle {
    @include styleForText(24px, $fontMain);
    line-height: 30px;
  }

  .descBlock {
    width: calc(100% - 20px);
    margin: 0 auto;
    height: auto;
    top: 263px;
    box-sizing: border-box;
    padding: 30px;
  }

  .descTime {
    font-size: $fontSizeContent;
    margin-top: 10px;
  }
}
