@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.ProfileBreadCrumbs {
  margin-top: 60px;

  &__Link {
    @include styleForText();

    padding-left: 7px;
    padding-right: 1px;

    &:last-child {
      @include styleForText($fontSizeContent, $fontMain, $colorInfo)
    }
  }

  &__Link:first-child {
    padding-left: 0;
  }
}
