@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.ProfileOrderAddInfo {
  &__ChooseProductsCards {
    padding-bottom: 3px;
    border-bottom: 1px solid $colorInfo;
  }

  &__ChooseProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 19px;
    margin-bottom: 19px;
    border-bottom: 1px solid $colorIndicators;

    &:last-child {
      border-bottom: none;
    }
  }

  &__MainInfo {
    padding-left: 30px;
    width: 262px;
  }

  &__Model {
    @include styleForText(20px, $fontMain, #0070c9);
  }

  &__Series {
    @include styleForText(16px, $fontAdditional, $colorInfo);

    padding-top: 4px;
  }

  &__MainInfoDetails {
    display: flex;
    padding-top: 21px;
  }

  &__ChooseProductGroup {
    display: flex;
    align-items: center;
  }

  &__Size {
    @include styleForText(16px, $fontAdditional);
  }

  &__SizeValue {
    font-family: $fontMain, sans-serif;
  }

  &__ColorName {
    @include styleForText(16px, $fontAdditional);
    display: inline-block;
  }

  &__CountProducts {
    @include styleForText();

    margin-left: 133px;
  }

  &__ButtonAdd {
    margin-left: 76px;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__ButtonAddText {
    @include styleForText(16px, $fontMain, $colorInfo);

    padding-left: 11px;
  }

  &__IconLike {
    position: absolute;
    left: -11px;
    top: 2px;
  }

  &__Price {
    @include styleForText();

    padding-right: 18px;
  }

  &__UserInfo {
    display: flex;
    padding-top: 38px;
    padding-bottom: 39px;
  }

  &__UserInfoDeliveryItems {
    padding-right: 6.2%;
    width: 187px;
    border-right: 1px solid $colorIndicators;
  }

  &__UserInfoDeliveryItem {
    margin-bottom: 18px;
  }

  &__UserInfoDeliveryTextOne {
    @include styleForText($fontSizeContent, $fontAdditional);
  }

  &__UserInfoDeliveryTextTwo {
    @include styleForText();

    padding-top: 6px;
  }

  &__UserInfoDetails {
    padding-left: 6.2%;
    padding-right: 6.5%;
    width: 31.5%;
  }

  &__UserInfoDetailsText {
    @include styleForText();

    margin-bottom: 10px;
  }

  &__UserInfoDetailsNumbers {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
  }

  &__UserInfoDetailsNumberText {
    @include styleForText($fontSizeContent, $fontAdditional);
  }

  &__UserInfoDetailsNumberId {
    @include styleForText();
  }

  &__UserInfoPrices {
    padding-left: 6.6%;
    width: 28%;
    border-left: 1px solid $colorInfo;
  }

  &__UserInfoPricesItem,
  &__UserInfoPricesItemTotal {
    display: flex;
    justify-content: space-between;
  }

  &__UserInfoPricesItem {
    margin-bottom: 12px;
    width: 96%;
  }

  &__UserInfoPricesText {
    @include styleForText($fontSizeContent, $fontAdditional);
  }

  &__UserInfoPricesPrice {
    @include styleForText();
  }

  &__UserInfoPricesItemTotal {
    width: 96%;
  }

  &__UserInfoPricesItemTotalText {
    @include styleForText();
  }

  &__Line {
    height: 1px;
    width: 100%;
    background-color: $colorIndicators;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
