@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.breadCrumbs {
  @include container();
  margin-top: 60px;
}

.link {
  @include styleForText();

  padding-left: 7px;
  padding-right: 1px;

  &:last-child {
    @include styleForText($fontSizeContent, $fontMain, $colorInfo)
  }
}

.link:first-child {
  padding-left: 0;
}
