@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.breadCrumbs {
  margin-top: 38px;
  display: flex;
}

.link {
  @include styleForText(14px);

  padding-left: 4px;
  padding-right: 1px;

  &:last-child {
    color: $colorInfo;
    cursor: not-allowed;

    &:after {
      content: '';
    }
  }

  &:after {
    content: ' / ';
  }

  &:first-child {
    padding-left: 0;
  }

  &:first-letter {
    text-transform: uppercase;
  }
}

.clicked {
  color: $colorInfo;
  cursor: not-allowed;

  &:after {
    content: '';
  }

  &~.link {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .breadCrumbs {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .breadCrumbs {
    display: none;
  }
}