@import "../../scss/core/vars";
@import "../../scss/core/mixins";


.sort {
  display: flex;
  margin: 30px 0;
}

.field {
  display: none;
}

.sortDesc {
  @include styleForText(16px, $fontMain, $colorInfo);
}

.sortController {
  @include styleForText(16px, $fontMain, $colorInfo);

  position: relative;
  padding-left: 11px;
  text-decoration: underline;

  &:after {
    content: url("../../assets/svg/Path 193.svg");
    transform: rotate(-90deg);
    position: absolute;
    transition: transform 0.3s;
  }
}

.field:checked + .SortController::after {
  transform: rotate(0);
}
