@import "../../../scss/core/mixins";
@import "../../../scss/core/vars";

.HeaderInfo {
  width: 100%;
  height: 54px;
  background-color: $colorRedOpacity;

  &__Container {
    @include container();

    display: flex;
    height: 100%;
    align-items: center;
  }

  &__Item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__Icon {
    fill: #ffa2aa !important;
  }

  &__IconBlockPhone {
    position: absolute;
    left: 113px;
    top: 2px;
  }

  &__IconBlockClother {
    margin-right: 15px;
    margin-bottom: -2px;
  }

  &__IconBlockSale {
    margin-right: 1px;
    margin-bottom: -2px;
  }

  &__IconBlockDelivery {
    margin-right: 20px;
    margin-bottom: -2px;
  }

  &__Text {
    @include styleForText(16px);

    text-align: center;
  }
}
