@import "../../../scss/core/mixins";

.SaleDelivery {
  margin-top: 50px;
  width: 88.8%;
  padding: 28px 12px 39px 39px;
  border: 1px solid $colorIndicators;
  overflow: hidden;
  transition: 0.3s;
  height: 100%;

  &__Field {
    display: none;
  }

  &__Content {
    margin-top: 40px;
    position: relative;
    top: 0;
    z-index: 1;
    height: 100%;
    transition: 0.3s;
  }

  &__ControllerTitle {
    @include styleForText(20px);

    position: relative;
    display: block;
    background: white;

    &::after {
      content: url("../../../assets/svg/Path 239.svg");
      position: absolute;
      transform: rotate(-90deg);
      right: 24px;
      transition: transform 0.3s;
    }
  }

  &__Field:checked + & &__Content {
    top: -535px;
    height: 0;
  }

  &__Field:checked + & {
    height: 13px;
  }

  &__Field:checked + & &__ControllerTitle::after {
    transform: rotate(0);
  }

  &__Selectors {
    padding-top: 37px;
  }

  &__Controller {
    @include styleForText(22px, $fontAdditional);

    position: relative;
    padding-left: 28px;
    display: block;
    letter-spacing: -1.1px;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__ControllerBlock {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: $colorInfo;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: 2px;
  }

  &__Field:checked + &__Controller &__ControllerBlock {
    background-image: url("../../../assets/svg/RUTA_120_gallery_1007926_19374.svg");
    background-repeat: no-repeat;
    background-position: 6px 6px;
  }

  &__SelectorsGroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 84.5%;
  }

  &__SelectorsItem {
    @include styleForText(21px, $fontAdditional, $colorInfo);

    width: 328px;
    border: 1px solid $colorInfo;
    padding: 13px 1px 12px 19px;
    letter-spacing: -1.1px;
    position: relative;
  }

  &__SelectorsItemBig {
    width: 81.9%;
    display: block;
    margin-top: 12px;
  }

  &__SelectrorsIcon {
    position: absolute;
    right: 17px;
    top: 8px;
  }
}
