@import '../../scss/core/vars';
@import '../../scss/core/mixins';

.CategoriesPage {
  @include customContainer(85.4%);

  &__Header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__Products {
    margin-top: 28px;
    margin-bottom: 163px;
  }

  &__FilterIndicatorsWrapper {
    width: 75%;
  }
}
