@import '../../scss/core/mixins';

.CategoriesPage {
  @include customContainer(85.4%);

  &__Header {
    display: flex;
    margin-top: 60px;
  }

  &__BreadCrumbsLink {
    @include styleForText();

    padding-left: 4px;
    padding-right: 1px;
    color: $colorInfo;

    &:first-child {
      padding-left: 0;
    }
  }

  &__Indicators {
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    width: 75.7%;
  }

  &__IndicatorsButtons {
    display: flex;
    align-items: center;
  }

  &__IndicatorsDeleteButton {
    @include styleForText($fontSizeContent, $fontMain, $additionalColorContent);
    position: relative;

    &::before {
      content: url("../../assets/svg/Group 503.svg");
      position: absolute;
      left: -21px;
    }
  }

  &__IndicatorsButtonItem {
    padding: 3px 18px 4px 6px;
    background-color: $colorIndicators;
    position: relative;
    margin-left: 21px;
    border-radius: 3px;

    &::after {
      content: url("../../assets/svg/Group 600.svg");
      position: absolute;
      right: 5px;
      top: 2px;
    }
  }

  &__IndicatorsCounter {
    @include styleForText();
  }

  &__Products {
    margin-top: 28px;
    margin-bottom: 163px;
  }
}
