@import "../../scss/core/vars";
@import "../../scss/core/mixins";

.cardWrapper {
  position: relative;

  &:hover .hoverBlock {
    display: block;
  }
}

.blogDate {
  opacity: 0;
}

.card {
  width: 100%;
  position: relative;
  z-index: 10;
}

.imageWrapper {
  height: 210px;
}

.hoverBlock {
  position: absolute;
  z-index: 9;
  top: -5%;
  left: -5%;
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.32);
  display: none;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 370px;
  z-index: -1;
}

.content {
  padding: 30px 15px 0;
  overflow-wrap: break-word;
  background-color: white;
}

.tags {
  display: flex;
}

.tag {
  @include styleForText(12px, $fontAdditional);

  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.title {
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
}

.desc {
  @include styleForText(12px, $fontAdditional);

  margin-top: 20px;
  overflow: hidden;
  height: 30px;
}

.link {
  @include styleForText(12px, $fontMain, $colorForLink);

  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .images {
    height: 180px;
  }

  .blogDate {
    opacity: 1;
    color: $colorInfo;
    margin-left: 5px;
    font-size: 14px;
    font-family: $fontAdditional;
  }

  .tag,
  .desc,
  .link {
    font-size: $fontSizeContent;
  }

  .desc {
    height: 33px;
    margin-top: 0;
  }

  .link {
    color: white;
  }

  .desc,
  .link {
    padding-top: 10px;
  }

  .title {
    font-size: 18px;
    margin-top: 5px;
  }

  .content {
    padding: 15px 0 0;
  }

  .image {
    padding: 1px;
    height: 295px;
  }
}
