@import '../../scss/core/vars';
@import '../../scss/core/mixins';

.titleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 28px 0 0;
}
.goodsNumber {
  font-size: 14px;
  margin: 28px 0 0;
}

@media screen and (max-width: 1200px) {
  .title {
    @include styleForText(18px, $fontMain);
  }
  .goodsNumber {
    display: none;
  }
}
