@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.links {
  margin-top: 50px;
  display: flex;
  border: 1px solid $colorInfo;
  width: 100%;
}

.routeLink {
  @include styleForText($fontSizeContent, $fontMain, $colorInfo);

  width: 50%;
  text-align: center;
  padding: 15px 0;
}

.linkActive {
  @include styleForText();

  border: 1px solid $colorContent;
}

.inputs {
  width: 100%;
  margin-top: 50px;
}

.checkboxWrapper {
  width: 100%;
  margin-top: 30px;
  text-align: left;
}

.text {
  @include styleForText(16px);

  width: 100%;
  margin-top: 30.2px;
  text-align: left;
}

.loginLink {
  color: $additionalColorContent;
}
