@import '../../../../scss/core/vars';
@import '../../../../scss/core/mixins';

.profileOrder {
  padding-top: 16px;
  padding-left: 56px;
  border-left: 1px solid #dadada;
}

.accordionWrapper {
  margin-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $colorIndicators;
  padding: 20px 40px 20px 0;
}

.buttonPrint {
  @include styleForText();

  padding: 10px 24px 10px 47px;
  position: relative;
  background-color: $colorRedOpacity;

  &::before {
    content: url('/svg/printing-tool.svg');
    position: absolute;
    left: 19px;
    top: 11px;
  }
}

.controllerPhoto {
  @include styleForText();

  position: relative;

  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: $colorRedOpacity;
    background-image: url('/svg/Path173.svg');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    position: absolute;
    left: -34px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 20px;
  padding-right: 16px;
  border-bottom: 1px solid $colorIndicators;

  &:hover {
    cursor: pointer;
  }
}

.mainInfo {
  display: flex;
  align-items: center;
  width: 43%;
}

.image {
  margin-right: 23px;
  width: 100px;
  height: 120px;
}

.model {
  @include styleForText(16px, $fontMain, #0070c9);
}

.series {
  @include styleForText(12px, $fontAdditional, $colorInfo);

  padding-top: 4px;
}

.details {
  display: flex;
  margin-left: 28px;
}

.size {
  @include styleForText(12px, $fontAdditional);
}

.colorName {
  @include styleForText(12px, $fontAdditional);
  display: inline-block;
}

.addInfo {
  display: flex;
  width: 59%;
  justify-content: space-between;
}

.countProducts {
  @include styleForText();
}

.price {
  @include styleForText();
}

.totalInfoWrapper {
  width: 100%;
  padding-top: 38px;
  padding-bottom: 48px;
  display: flex;
  justify-content: flex-end;
}

.totalInfo {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.totalInfoPrice {
  @include styleForText(16px, 'InterSemiBold');

  margin-left: 12px;
}

.buttonChecked::before {
  background-image: url('/svg/Path172.svg');
  background-color: #ffa2aa;
}

@media screen and (max-width: 1564px) {
  .addInfo {
    width: 52%;
  }
}

@media screen and (max-width: 1200px) {
  .addInfo {
    flex-direction: column;
    align-items: flex-end;
    width: 80px;
  }

  .mainInfo {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .profileOrder {
    padding: 0 0 100px 0;
    border-left: none;
  }

  .header {
    border-top: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .item {
    padding-bottom: 60px;
  }

  .buttonPrint {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 0;
    margin-top: -24px;

    &:before {
      position: static;
      padding-right: 9px;
    }
  }

  .controllerPhoto {
    font-size: 16px;
    padding-left: 32px;
    margin-top: 15px;
    margin-bottom: 30px;

    &:before {
      left: 0;
    }
  }

  .title {
    font-size: 28px;
  }

  .mainInfo {
    position: relative;
    width: 70%;
  }

  .details {
    position: absolute;
    top: 62px;
    margin-left: 0;
  }

  .detailsActive {
    top: 88px;
  }

  .image {
    width: 66px;
    height: 69px;
  }

  .model,
  .series,
  .size,
  .colorName,
  .countProducts,
  .price {
    font-size: 16px;
  }

  .price {
    font-family: $fontAdditional;
  }

  .totalInfoText {
    font-size: 16px;
  }

  .totalInfoPrice {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .header {
    padding-right: 0;
    flex-wrap: wrap;
  }

  .buttonPrint {
    width: 100%;
  }

  .controllerPhoto {
    margin-left: 34px;
    margin-top: 15px;
  }

  .item {
    flex-wrap: wrap;
  }

  .mainInfo {
    width: auto;
    flex-wrap: wrap;
  }

  .profileOrder {
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .noBorder {
    border: none !important;
    padding-top: 0 !important;
  }

  .countProducts {
    position: absolute;
    top: 21px;
    right: 137px;
  }

  .price {
    position: absolute;
    top: 41px;
    right: 137px;

    & + .price {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  .totalInfoWrapper {
    border-top: 1px solid $colorInfo;
  }

  .item {
    position: relative;
  }

  .accordionWrapper li {
    padding-top: 21px;
    border-top: 1px solid #b6b6b6!important;
    border-bottom: 0!important;
    margin: 0!important;

    &:first-child {
      border-top: none!important;
    }
  }

  .totalInfoWrapper {
    padding: 30px 0;
  }

  li.active {
    background: rgba(255, 243, 244, 0.5);
    padding-left: 3.5%;
    padding-right: 3.5%;
    margin: 0 -3.5%!important;
    border: none!important;
    padding-bottom: 0;

    & + li {
      border-top: none!important;
    }
  }
}
