@import '../../../../scss/core/vars';
@import '../../../../scss/core/mixins';

.title {
  font-size: 28px;
  box-sizing: border-box;
}

.profileOrder {
  padding-top: 16px;
  padding-left: 56px;

  border-left: 1px solid #ececec;
}

.accordionWrapper {
  margin-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $colorIndicators;
  padding: 20px 20px 20px 0;
}

.buttonPrint {
  @include styleForText();

  padding: 10px 24px 10px 47px;
  position: relative;
  background-color: $colorRedOpacity;

  &::before {
    content: url('/svg/printing-tool.svg');
    position: absolute;
    left: 19px;
    top: 11px;
  }
}

.controllerPhoto {
  @include styleForText();

  position: relative;

  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: $colorRedOpacity;
    background-image: url('/svg/Path173.svg');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    position: absolute;
    left: -34px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 20px;
  padding-right: 16px;
  border-bottom: 1px solid $colorIndicators;

  &:hover {
    cursor: pointer;
  }
}

.mainInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 43%;
}

.image {
  flex-shrink: 0;
  height: 69px;
  margin-right: 30px;
}

.mainInfoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.model {
  margin-right: 10px;
  @include styleForText(16px, $fontMain, #0070c9);
}

.series {
  @include styleForText(12px, $fontMain);
  padding-top: 4px;
}

.details {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.size {
  @include styleForText(12px, $fontAdditional);
}

.colorName {
  @include styleForText(12px, $fontAdditional);
  display: inline-block;
}

.addInfo {
  display: flex;
  width: 51%;
  justify-content: space-between;
}

.priceForOne {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.countProducts {
  @include styleForText();
}

.price,
.totalPrice {
  @include styleForText();
}

.totalInfoWrapper {
  width: 100%;
  padding-top: 38px;
  padding-bottom: 48px;
  display: flex;
  justify-content: flex-end;
}

.totalInfo {
  display: flex;
  align-items: center;
  padding-right: 12px;
  width: 21%;
  justify-content: space-between;
}

.columnWidth {
  width: 50%;
}

.totalInfoPrice {
  @include styleForText(16px, 'InterSemiBold');

  margin-left: 12px;
  margin-top: -1px;
}

.buttonChecked::before {
  background-image: url('/svg/Path172.svg');
  background-color: #ffa2aa;
}

@media screen and (max-width: 1564px) {
  .mainInfo {
    width: 48%;
  }

  .addInfo {
    width: 41%;
  }
}

@media screen and (max-width: 1450px) {
  .mainInfo {
    width: 65%;
  }
  .addInfo {
    width: 35%;
  }
}

@media screen and (max-width: 1200px) {
  .mainInfo {
    width: 77%;
  }
  .priceForOne {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  .addInfo {
    flex-direction: column;
    align-items: flex-end;
    width: 23;
  }
}

@media screen and (max-width: 768px) {
  .mainInfo {
    width: auto;
  }
  .addInfo {
    width: 50%;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .priceForOne {
    width: 50%;
    align-items: flex-start;
  }
  .price,
  .totalPrice {
    white-space: nowrap;
  }
  .totalPrice {
    margin-top: 5px;
  }
  .profileOrder {
    padding: 0 0px 100px 0;
    border-left: none;
  }
  .columnWidth {
    width: 100%;
  }

  .header {
    border-top: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .item {
    padding-bottom: 40px;
  }

  .buttonPrint {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 0;
    margin-top: 0;
    border-right: 4px;

    &:before {
      position: static;
      padding-right: 9px;
    }
  }

  .controllerPhoto {
    font-size: 16px;
    padding-left: 32px;
    margin-top: 15px;
    margin-bottom: 30px;

    &:before {
      left: 0;
    }
  }

  .title {
    padding: 0 20px;
  }

  .details {
    position: absolute;
    bottom: 10px;
    left: 0;
    margin-left: 0;
    width: 150%;
  }

  .model,
  .series,
  .size,
  .colorName,
  .countProducts,
  .price,
  .totalPrice {
    font-size: 16px;
  }

  .price {
    font-family: $fontAdditional;
  }

  .totalInfo {
    width: auto;
    padding-right: 0;
  }

  .totalInfoText {
    font-size: 16px;
  }

  .totalInfoPrice {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .header {
    padding-right: 0;
    flex-wrap: wrap;
  }

  .buttonPrint {
    width: 100%;
  }

  .mainInfoWrapper {
    width: 95%;
  }

  .totalInfoPrice {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .noBorder {
    border: none !important;
    padding-top: 0 !important;
  }

  .withImage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    & .priceForOne {
      align-items: flex-end;
    }

    & .price,
    & .countProducts {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  .mainInfo {
    justify-content: flex-start;
  }

  .price {
    & + .price {
      position: relative;
      top: 0;
      font-size: 16px;
      right: 0;
      margin-top: 6px;
    }
  }

  .totalInfoWrapper {
    border-top: 1px solid $colorInfo;
  }

  .item {
    position: relative;
    padding-right: 0;
  }
  .accordionWrapper {
    margin-top: 10px;
  }

  .accordionWrapper li {
    padding-top: 21px;
    border-top: 1px solid #b6b6b6 !important;
    border-bottom: 0 !important;
    margin: 0 !important;

    &:first-child {
      border-top: none !important;
    }
  }

  .totalInfoWrapper {
    padding: 30px 0;
  }

  .active {
    background: rgba(255, 243, 244, 0.5);

    border: none !important;
    & > div {
      border: none !important;
    }
    & + div > div {
      border: none !important;
    }
    & + .active {
      border-top: 1px solid #b6b6b6 !important;
    }
  }
}
