@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.content {
  @include container();
}

.BrandMainInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.titleBrand {
  margin-top: 20px;
}

.brandProducts {
  margin-top: 60px;
}

.brandsTitle {
  padding-top: 30px;
}

.brandDesc {
  @include styleForText(12px, $fontAdditional);

  padding-top: 31px;
  padding-bottom: 30px;
}

.imageLink {
  max-width: 400px;
  width: 100%;
  margin: 20px 0;
}

.video {
  width: 400px;
}

.videoBlock {
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .brandsTitle {
    font-size: $fontSizeMobile;
  }

  .brandDesc {
    font-size: $fontSizeContent;

    img {
      width: 100%;
    }
  }

  .brandProducts {
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .video {
    width: 100%;
  }
}
