@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.content {
  @include container();
}

.BrandMainInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.brandProducts {
  margin-top: 60px;
}

.brandsTitle {
  padding-top: 30px;
}

.brandDesc {
  @include styleForText(12px, $fontAdditional);

  padding-top: 31px;
}

@media screen and (max-width: 768px) {
  .brandsTitle {
    font-size: $fontSizeMobile;
  }

  .brandDesc {
    font-size: $fontSizeContent;
  }

  .brandProducts {
    margin-top: 20px;
  }
}
