@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.content {
  @include container();
}

.BrandMainInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.titleBrand {
  margin-top: 20px;
}

.brandProducts {
  margin-top: 60px;
}

.brandsTitle {
  padding-top: 30px;
}

.brandDesc {
  @include styleForText(12px, $fontAdditional);

  padding-top: 31px;

  p {
    @include styleForText(15px, $fontAdditional, $colorContent);
    line-height: 24px;
    & * {
      color: $colorContent!important;
    }
  }

  & img,
  & iframe {
    width: 600px;
    height: 400px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .brandsTitle {
    display: none;
  }


  .brandDesc {
    font-size: $fontSizeContent;

    & img,
    & iframe {
      width: 100%;
      height: 300px;
    }
  }

  .brandProducts {
    margin-top: 20px;
  }
}
