@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.counterProducts {
  display: flex;
}

.buttonChangeCount {
  @include styleForText(12px, $fontAdditional);

  background-color: $colorIndicators;
  border-radius: 3px;
  padding: 1px 0 3px;
  width: 27px;
  text-align: center;
}

.countProductIndicator {
  @include styleForText(12px);

  border-bottom: 1px solid $colorInfo;
  padding: 0 0 4px;
  text-align: center;
  width: 32px;
  margin: 0 10px 0;
}

@media screen and (max-width: 768px) {
  .buttonChangeCount {
    font-size: 24px;
    padding: 0 0 2px 0;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .countProductIndicator {
    font-size: 20px;
  }
}
