@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.profileMailing {
  padding-top: 16px;
  padding-left: 36px;
  margin-bottom: -13px;
  border-left: 1px solid #dadada;
}

.desc {
  @include styleForText(20px);

  padding-top: 41px;
  padding-bottom: 29px;
}

.text {
  @include styleForText(16px, $fontAdditional, $colorInfo);

  padding-top: 11px;
  padding-bottom: 20px;
}

.line {
  height: 1px;
  width: 100%;
  border: none;
  background-color: $colorIndicators;
  margin-bottom: 19px;
}

.select {
  @include styleForText(20px);

  padding-top: 20px;
  padding-bottom: 30px;
}

.checkboxWrapper {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkboxLabel {
  font-size: 18px;
  padding-top: 4px;
}

.labelBefore::before {
  background-color: $colorCheckbox;
  border: 1px solid $colorCheckbox;
}

.button {
  width: 196px;
  margin-top: 35px;
  background-color: $colorCheckbox;
}
