@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';
.list {
  margin: 0 0 0 10%;
  width: 90%;
}
.block {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 10px;
}
.subcategoriesBlock {
  display: flex;
  svg {
    color: rgb(255, 167, 177);
    cursor: pointer;
    margin-left: auto;
    font-size: 1.2em;
  }
}

.subcategory {
  cursor: pointer;
  color: #202124;
  margin-right: 5px;
  font-size: 16px;
  font-family: 'InterRegular', sans-serif;
  padding-left: 8px;
  &:hover {
    color: $additionalColorContent;
  }
}
.active {
  position: relative;
  &::before {
    content: '';
    height: 100%;
    width: 5px;
    background-color: #b6b6b6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.rightFix {
  margin-left: auto;
}

.counter {
  font-size: 16px;
  color: #202124;
  opacity: 0.5;
  font-family: 'InterRegular', sans-serif;
}
