@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.productsWrapper {
  display: flex;
}

.leftSide {
  width: 314px;
}

.controllersWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.leftSideControllerWrapper {
  padding-bottom: 37px;
  padding-right: 30px;
  border-bottom: 1px solid #dadada;
}

.filterBrandWrapper {
  padding: 18px 6% !important;
}

.categoriesWrapper {
  margin-top: 0;
}

.filtersWrapper {
  width: 25%;
}

.filterPriceWrapper {
  width: 100%;
  padding-top: 19px;
  border-top: 2px solid #b6b6b6;
}

.sortWrapperMobile {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.categoriesMobileWrapper,
.filtersMobileWrapper {
  width: 49%;
}

.productsCounter {
  margin: 22px 0;
}

.rightSide {
  width: 78.6%;
  padding-left: 35px;
  border-left: 1px solid #dadada;
}

.cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: -14px;
  margin-left: -11px;
}

.card {
  width: 31%;
  margin-bottom: 12px;
  padding: 1%;

  & > div + ul {
    left: 4%;
  }
}

.notFoundText {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.addElements {
  display: flex;
  margin-top: 66px;
  width: 768px;
  justify-content: space-between;
}

.paginationButtonWrapper {
  width: 246px;
}

@media screen and (max-width: 1380px) {
  .rightSide {
    width: 71.6%;
  }

  .leftSide {
    width: 25%;
  }

  .controllersWrapper {
    flex-wrap: wrap;
  }

  .filtersWrapper {
    width: 19%;
  }

  .filterAddWrapper,
  .filterAddWrapperAdd {
    z-index: 8 !important;
  }
}

@media screen and (max-width: 1200px) {
  .addElements {
    width: 100%;
    flex-direction: column;
  }

  .paginationButtonWrapper {
    margin-top: 20px;
  }

  .card {
    width: 46.7%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .addElements {
    flex-wrap: wrap;
    width: auto;
    align-items: baseline;
  }

  .paginationButtonWrapper {
    margin-top: 20px;
  }

  .filterAddWrapper {
    z-index: 7 !important;
  }

  .filtersWrapper {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .productsWrapper {
    flex-direction: column;
  }

  .paginationButtonWrapper {
    width: 100%;
    margin-top: 30px;
  }

  .rightSide {
    width: 100%;
    padding-left: 0;
    border-left: none;
  }

  .cards {
    margin-right: 0;
    margin-left: 0;
  }

  .card {
    padding: 0;
    width: 24.2%;
    margin-right: 1%;
    margin-bottom: 26px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 610px) {
  .card {
    width: 32%;
    margin-right: 2%;

    &:nth-child(4n) {
      margin-right: 2%;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 510px) {
  .card {
    width: 48%;
    margin-right: 4%;

    &:nth-child(3n) {
      margin-right: 4%;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

.itemMainInfoWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.item {
  margin: 25px 0;
  position: relative;
}

.imageOpt {
  width: 70px;
  height: 80px;
  margin-right: 5px;
  object-fit: cover;
}

.itemLinkId {
  display: flex;
  align-items: flex-start;
}

.withPhoto {
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
  padding-left: 25px;

  &:before {
    content: "";
    width: 20px;
    margin-right: 2px;
    height: 20px;
    background-color: #ececec;
    background-image: url("/svg/Path1732.svg");
    background-repeat: no-repeat;
    border-radius: 6px;
    background-position: 5px 5px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: -2px;
  }

  &.checked:before {
    background-image: url("/svg/Path1722.svg");
    background-color: #0e0e0e;
  }
}
