@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.content {
  @include container();

  position: relative;
}

.brandsMainInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .startMain {
    .brandsFiltersTitle {
      display: none;
    }
  }
  .endMain {
    .brandCount {
      @include styleForText(18px);
    }
  }
}

.brandsFilters {
  display: flex;
  margin-top: 56px;
}
.brandsFiltersTitle {
  @include styleForText(24px);
  width: 200px;
}

.brandsFiltersItems {
  display: flex;
  margin-top: 6px;

  .filterGroup {
    display: flex;
    flex-wrap: wrap;
    .brandsFiltersItemLetter:first-child {
      margin-left: 15px;
    }
  }
  .brandsFiltersItemLetters {
    display: flex;
    flex-wrap: wrap;
    padding: 0 9px;
    border-right: 1px solid $colorIndicators;

    &:last-child {
      border-right: none;
    }
  }
}

.brandsFiltersItem {
  @include styleForText();
  padding: 1px 13px 2px;
  border-right: 1px solid $colorIndicators;
}

.line {
  width: 100%;
  height: 1px;
  background-color: $colorIndicators;
  border: none;
  margin-bottom: 16px;
}

.brandsFiltersItemLetter {
  padding: 1px 4px 2px;
}

.brandsFiltersItem:hover,
.brandsFiltersItemLetter:hover,
.brandsFiltersItemLetterActive {
  background-color: $colorForLink;
  border-radius: 3px;
  color: white;
}

.brandsList {
  margin-top: 70px;
}

.brandsListContent {
  display: grid;
  grid-template-columns: 200px 1fr;
  border-top: 1px solid $colorInfo;
}

.brandsListLetter {
  padding-top: 70px;
  @include styleForText(40px);
}

.brandsListCards {
  display: grid;
  padding-top: 70px;
  grid-template-columns: 250px repeat(3, 350px);
}

.notFoundText {
  text-align: center;
  margin-top: 20px;
}

.link {
  @include styleForText(16px, $fontMain, $colorForLink);
  position: relative;
  display: inline-block;
  margin-top: 14px;

  &::after {
    content: url('/svg/Group688.svg');
    transform: rotate(180deg);
    position: absolute;
    right: -26px;
    top: 2px;
  }
}

.textWrapper {
  @include customContainer(74%);

  padding-top: 21px;
  padding-bottom: 198px;
}

.text {
  @include styleForText(16px, $fontAdditional);

  padding-top: 31px;
  line-height: 21px;
}

@media screen and (max-width: 1549px) {
  .brandsListCards {
    grid-template-columns: 250px repeat(2, 350px);
  }

  .filterGroup {
    padding-bottom: 12px;
    border-bottom: 1px solid $colorIndicators;
  }
  .brandsFiltersItems {
    flex-direction: column;
    .brandsFiltersItemLetters {
      padding: 0;
      margin-top: 12px;
    }
  }
}
@media screen and (max-width: 1199px) {
  .brandsListCards {
    grid-template-columns: 250px 350px;
  }
}
@media screen and (max-width: 799px) {
  .brandsListContent {
    grid-template-columns: 50px 1fr;
  }
  .brandsListCards {
    grid-template-columns: 125px 125px;
  }
}

@media screen and (max-width: 768px) {
  .brandsMainInfo {
    margin-top: 50px;
    .startMain {
      .brandsFiltersTitle {
        @include styleForText(28px);
        display: block;
        width: auto;
      }
    }
  }
  .brandsFiltersTitle {
    display: none;
  }
  .brandsList {
    margin-top: 20px;
  }
  .brandsListCards,
  .brandsListLetter {
    padding-top: 40px;
  }
  .textWrapper {
    width: 100%;
    padding-bottom: 120px;
  }
}
