@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.headerMainWrapper {
  height: 72px;
}

.headerWrapper {
  width: 100%;
  height: 72px;
  position: fixed;
  z-index: 1000;
  top: 0;
  background: white;
}

.searchWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  @include container();

  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav {
  margin-left: 98px;
  position: relative;
}

.navItems {
  display: flex;
}

.navItemWrapper {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  &:hover .menuWrapper {
    display: block;
  }
}

.favouriteBlock {
  position: relative;

  &:hover .favouritesHelp {
    display: block;
  }

  & .iconLink {
    margin-right: 26px!important;
  }
}

.navProfile {
  display: none;
  padding: 20px;
  background: $colorWhite;
  width: 150px;
  height: auto;
  z-index: 999;
  position: absolute;
  top: 20px;
  right: 10px;

  @media screen and (max-width: 768px) {
    display: none!important;
  }
}

.relative {
  position: relative;

  &:hover {
    .navProfile {
      display: block;

      .nav {
        display: flex;
        flex-direction: column;
        margin-left: 0;

        a {
          margin-bottom: 10px;
          font-family: $fontMain;

          &:hover {
            opacity: .5;
          }
        }

        button {
          text-align: left;
          color: $additionalColorContent;
          font-family: $fontMain;
          font-size: 14px;
        }
      }
    }
  }
}

.favouritesHelp {
  display: none;
  position: absolute;
  border: 1px solid $colorBorder;
  background: $colorWhite;
  padding: 10px 20px;
  right: 0;
  width: 300px;
  top: 21px;
  z-index: 99;
  text-align: center;

  p {
    margin-top: 10px;
  }
}

.menuWrapper {
  display: none;

  &:hover ~ .navItem .navLink {
    color: $additionalColorContent;
    border-bottom: 2px solid $additionalColorContent;
  }
}

.navItem {
  position: relative;
}

.navLink {
  @include styleForText(14px);

  position: relative;
  z-index: 10;
  padding: 28px 0;

  &:hover {
    color: $additionalColorContent;
    border-bottom: 2px solid $additionalColorContent;
  }
}

.menuMobileWrapper {
  display: flex;
  align-items: center;
}

.iconExit {
  width: 21px;
}

.mobileMenu {
  width: 81.1%;
  height: 100vh;
  position: absolute;
  top: 72px;
  left: -1000px;
  z-index: 678;
  padding: 30px 4%;
  transition: 0.3s;
  background-color: white;
  border-top: 1px solid $colorIndicators;
}

.menuMobileItems {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.menuMobileActive {
  left: 0;

  &::after {
    content: '';
    width: 12%;
    right: -12.1%;
    top: 0;
    bottom: 0;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 0.7;
  }
}

.menuMobileItem {
  padding: 15px 0;
  border-bottom: 1px solid $colorBorder;
  width: 100%;

  &:first-child {
    padding-top: 0;
  }
}

.menuMobileLink {
  @include styleForText($fontSizeMobile);

  &:hover {
    color: $additionalColorContent;
  }
}

.logo {
  width: 120px;
}

.logoMobile {
  margin-left: 20px;
}

.icons {
  margin-top: 4px;
  display: flex;
  align-items: flex-start;
}

.locationWrapper {
  position: relative;
}

.locationBlock {
  position: absolute;
  left: -329px;
  top: 20px;
  width: 371px;
  padding-top: 20px;
  z-index: 3;
}

.locationView {
  width: 283px;
  padding: 30px 40px 20px 30px;
  background-color: white;
  box-shadow: 0 0 99px #0000001A;
  border-radius: 5px;
}

.locationSelect {
  margin-top: 20px;
}

.locationButtonWrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.locationButton {
  @include styleForText(14px, $fontMain);
}

.icon {
  width: 18px;
  height: 18px;
  fill: $colorContent;
  stroke: $colorContent;
  overflow: visible;

  &:hover {
    fill: $additionalColorContent;
    stroke: $additionalColorContent;
  }
}

.cartLink {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.iconRed {
  fill: $additionalColorContent;
  stroke: $additionalColorContent;
}

.countCartMobile {
  @include styleForText(7px, $fontAdditional, white);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $colorCheckbox;
  position: absolute;
  left: 11px;
  top: 0;
}

.sumProducts {
  @include styleForText(14px);

  margin-left: 5px;
}

.cartItemSizeValue {
  font-family: $fontMain, sans-serif;
}

.cartItemSize {
  @include styleForText(12px, $fontAdditional, $colorInfo);

  span {
    color: $colorContent
  }
}

.countCart {
  @include styleForText(14px, $fontMain, $colorInfo);
  padding-left: 4px;
}

.cartNoProducts {
  text-align: center;
}

.iconLink {
  margin-right: 26px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.cartCounterWrapper {
  position: relative;
  margin-right: 26px;

  &:hover .icon {
    fill: $additionalColorContent;
    stroke: $additionalColorContent;
  }

  &:hover .sumProducts {
    color: $additionalColorContent;
  }

  &:hover .sumProducts .countCart  {
    color: $additionalColorContent;
  }

  &:hover .cartViewWrapper,
  &:hover .cartView {
    display: block;
  }
}

.cartCounter {
  display: flex;
  align-items: center;
}

.cartViewWrapper {
  position: absolute;
  display: none;
  left: -199px;
  top: 16px;
  width: 371px;
  padding-top: 20px;
  z-index: 1;

  &:hover .cartView {
    display: block;
  }
}

.cartView {
  width: 311px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 99px #0000001A;
  border-radius: 5px;
  display: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-track {
  border: 1px solid rgba(156, 156, 156, .6);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(156, 156, 156, .6);
}

.productsList {
  margin-bottom: 25px;
  max-height: 152px;
  overflow-y: auto;
}

.productsItem {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.imageCartWrapper {
  position: relative;
  width: 60px;
  height: 57px;
}

.deleteProduct {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 0;
  right: 10px;
  transition: opacity .3s;

  &:hover {
    opacity: .5;
  }
}

.imageCart {
  position: absolute;
  left: 50%;
  cursor: pointer;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  height: 100%;
}

.cartItemInfo {
  margin-left: 20px;
  width: 100%;

  h6 {
    cursor: pointer;

    @media screen and (max-width: 1600px) and (min-width: 991px) {
      max-width: 90%;
    }
  }
}

.colorBock {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
}

.withBorder {
  border: 1px solid $colorBorder;
}

.cartItemAddInfo {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cartItemPrice {
  @include styleForText(12px, $fontAdditional);
}

.cartItemColorName {
  @include styleForText(12px, $fontAdditional, $colorInfo);

  span {
    color: $colorContent;
  }
}

.cartTotalSum {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonLink {
  margin-top: 30px;
  display: block;
  width: 100%;
}

.noBlock {
  display: none !important;
}

@media screen and (max-width: 1731px) {
  .cartViewWrapper {
    left: -320px;
    top: 13px;
  }
}

@media screen and (max-width: 1500px) {
  .icon {
    width: 16px;
    height: 15px;
  }

  .cartViewWrapper {
    left: -281px;
  }

  .cartView {
    width: 259px;
    padding: 21px;
  }

  .iconLink {
    margin-right: 20px;
  }

  .nav {
    margin-left: 4%;
  }
}

@media screen and (max-width: 1296px) {
  .navLink {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .cartCounterWrapper {
    &:hover .cartViewWrapper {
      display: none;
    }
  }

  .favouritesHelp {
    display: none!important;
  }

  .favouriteBlock .iconLink {
    margin-right: 15px!important;
  }

  .iconLink {
    margin-right: 15px;
    padding: 2px;

    & + button {
      padding: 2px;
    }
  }

  .menuMobileItem:last-child {
    border-bottom: none;
  }

  .logo {
    width: 96px;
    height: 20px;
  }

  .headerWrapper {
    box-shadow: 0 0 40px #00000014;
  }

  .icon {
    width: 19px;
    height: 18px;
  }
}

@media screen and (max-width: 341px) {
  .icon {
    width: 16px;
    height: 18px;
  }
}
