@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.header {
  @include container();

  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  margin-left: 65px;
}

.navItems {
  display: flex;
}

.navItem {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.navLink {
  @include styleForText(18px);

  &:hover {
    color: $additionalColorContent;
  }
}

.logo {
  width: 150px;
}

.icons {
  margin-top: 4px;
  display: flex;
  align-items: flex-start;
}

.icon {
  width: 22px;
  height: 22px;
  fill: $colorContent;
  stroke: $colorContent;

  &:hover {
    fill: $additionalColorContent;
    stroke: $additionalColorContent;
  }
}

.sumProducts {
  margin-left: 5px;
}

.countCart {
  color: $colorInfo;
  padding-left: 4px;
}

.iconLink {
  margin-right: 26px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.iconLinkCart {
  display: flex;
  align-items: center;

  &:hover .icon {
    fill: $additionalColorContent;
    stroke: $additionalColorContent;
  }

  &:hover .sumProducts {
    color: $additionalColorContent;
  }

  &:hover .sumProducts .countCart  {
    color: $additionalColorContent;
  }

  &:hover .cartView {
    display: block;
  }
}

.cartViewWrapper {
  position: absolute;
  left: -199px;
  top: 20px;
  width: 371px;
  padding-top: 20px;

  &:hover .cartView {
    display: block;
  }
}

.cartView {
  width: 311px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 99px #0000001A;
  border-radius: 5px;
  display: none;
}

.productsList {
  margin-bottom: 25px;
}

.productsItem {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.imageCartWrapper {
  position: relative;
  width: 60px;
  height: 57px;
}

.imageCart {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(-50%, -50%, 0);
  width: auto;
  height: 100%;
}

.cartItemInfo {
  margin-left: 20px;
  width: 100%;
}

.cartItemAddInfo {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cartItemPrice {
  @include styleForText(16px, $fontAdditional);
}

.cartItemColorName {
  @include styleForText(16px, $fontAdditional, $colorInfo);
}

.buttonLink {
  margin-top: 30px;
  display: block;
  width: 100%;
}
