@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.MainInfoComponent {
  width: 86%;
  margin: 0 auto;
  padding-left: 7px;

  &__Wrapper {
    width: 100%;
    display: flex;
    margin-top: 69px;
  }
}
