@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.advantages {
  padding: 16px 0 34px 39px;
  border-left: 1px solid #dadada;
}

.featuresList {
  margin-top: 40px;
}

.featuresItem {
  display: flex;
  border-bottom: 1px solid $colorIndicators;
  padding-bottom: 40px;
  margin-bottom: 40px;
  position: relative;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.featuresIcon {
  position: absolute;
  left: 31px;
  top: 59%;
  margin-top: -40px;
  width: 61px;
}

.featuresTitle {
  width: 18.2%;
  background-color: #fff3f4;
  padding: 42px 0 47px 115px;
  position: relative;
}

.featuresContent {
  @include styleForText(12px, $fontAdditional);

  width: 55%;
  padding-left: 42px;
  padding-top: 42px;
  line-height: 22px;
}

.featuresLink {
  @include styleForText($fontSizeContent, $fontMain, $colorForLink);

  padding-bottom: 5px;
  padding-right: 25px;
  position: relative;
  top: 45px;

  &::after {
    content: url("/svg/Group688.svg");
    position: absolute;
    transform: rotate(180deg);
    right: 0;
    top: 2px;
    display: none;
  }

  &:hover::after {
    display: block;
  }

  &:hover {
    border-bottom: 1px solid $colorForLink;
  }
}
