@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.advantages {
  padding: 16px 0 34px 39px;
  border-left: 1px solid #dadada;
  margin-left: -1px;
}

.featuresList {
  margin-top: 40px;
}

.featuresItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $colorIndicators;
  padding-bottom: 40px;
  margin-bottom: 40px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.featuresIcon {
  width: 61px;
  padding-right: 13px;
}

.featuresTitle {
  width: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 33px 0;
  background-color: #fff3f4;
  position: relative;
  font-size: 17px;
}

.featuresTitleText {
  width: 174px;
}

.featuresTitleTextRed {
  color: $additionalColorContent;
}

.featuresContent {
  width: 55%;
  padding-left: 26px;
}

.featuresContentText {
  @include styleForText(15px, $fontAdditional);

  line-height: 24px
}

.featuresLink {
  @include styleForText(15px, $fontMain, $colorForLink);

  padding-bottom: 5px;
  padding-right: 25px;
  position: relative;
  display: inline-block;
  margin-top: 6px;
  border-bottom: 1px solid transparent;

  &::after {
    content: url("/svg/Group688.svg");
    position: absolute;
    transform: rotate(180deg);
    right: 0;
    top: 1px;
    display: none;
  }

  &:hover::after {
    display: block;
  }

  &:hover {
    border-color: $colorForLink;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .featuresItem {
    flex-wrap: wrap;
  }

  .featuresContent {
    width: 100%;
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .advantages {
    padding: 0 0 100px 0;
    border-left: none;
  }

  .featuresContent {
    width: 46%;
  }
}

@media screen and (max-width: 560px) {
  .featuresItem {
    flex-direction: column;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .featuresLink {
    margin-top: 30px;
    width: 100%;
    padding: 18px 0 17px;
    color: $colorContent;
    border: 1px solid $colorContent;
    text-align: center;

    &:hover{
      border-color: $colorContent;
      background: $colorContent;
      color: #fff;

      &::after {
        display: none;
      }
    }
  }

  .featuresTitle,
  .featuresContent {
    width: 100%;
  }

  .featuresTitle {
    padding: 20px 0;
  }

  .featuresTitleText {
    font-size: 20px;
    width: 227px;
  }

  .featuresIcon {
    width: 55px;
    padding-right: 20px;
  }

  .featuresContent {
    padding-left: 0;
    font-size: 14px;
    margin-top: 20px;
  }
}
