@import "../../../scss/core/vars";
@import "../../../scss/core/mixins";

.blog {
  @include container();
}

.headerBlog {
  padding-top: 45px;
  padding-bottom: 32px;
  border-bottom: 1px solid $colorBorder;
  display: flex;
  align-items: center;
}

.tags {
  display: flex;
  margin-left: 40px;
}

.tag {
  @include styleForText(16px, $fontMain, #fff);

  padding: 6px 14px;
  border-radius: 4px;
  margin-right: 14px;
  display: block;

  &:first-letter {
    text-transform: uppercase;
  }
}

.mainInfo {
  display: flex;
  align-items: flex-start;
  margin-top: 49px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.simpleCardWrapper {
  width: 29%;
}

.specialCardWrapper {
  width: 24%;
}

.specialCardWrapper,
.simpleCardWrapper {
  margin-bottom: 40px;
  margin-right: 4%;
}

.recommendationsWrapper {
  width: 25%;
}

.addElements {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 66px;
  margin-bottom: 200px;
}

.addElementsWrapper {
  width: 768px;
  display: flex;
  justify-content: space-between;
}
