@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.blog {
  @include container();
}

.headerBlog {
  padding-top: 45px;
  padding-bottom: 32px;
  border-bottom: 1px solid $colorBorder;
  display: flex;
  align-items: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.tag {
  @include styleForText(14px, $fontMain, #fff);

  padding: 7px 14px;
  border-radius: 4px;
  margin: 0 15px 8px 0;
  display: block;

  &:first-letter {
    text-transform: uppercase;
  }

  &:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
  }
}

.title {
  @include styleForText(28px, $fontMain);
}

.mainInfo {
  display: flex;
  align-items: flex-start;
  margin-top: 49px;
  position: relative;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.recommendationsWrapper {
  width: 23%;
  height: 370px;
  overflow-y: auto;
}

.recommendationTitle {
  @include styleForText(20px, $fontMain);
}
.recommendationCards {
  margin-top: 5px;
}
.recommendationCard {
  padding: 18px 0;
  width: 100%;
  border-bottom: 1px solid #dadada;
  &:last-child {
    border-bottom: none;
  }
}
.recommendationTag {
  margin-bottom: 11px;
  @include styleForText(14px, $fontAdditional);
}
.recommendationTitleCard {
  @include styleForText(16px, $fontMain);
  &:hover {
    text-decoration: underline;
  }
}

.addElements {
  width: 100%;
  display: flex;
  margin-top: 66px;
  margin-bottom: 200px;
}

.addElementsWrapper {
  width: 53%;
  margin-left: 17%;
  display: flex;
  justify-content: space-between;
}

.paginationButtonWrapper {
  width: 246px;
}

@media screen and (max-width: 1410px) {
  .recommendationsWrapper {
    width: 32%;
    overflow: auto;
  }
}

@media screen and (max-width: 1225px) {
  .addElementsWrapper {
    width: 67%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 1160px) {
  .recommendationsWrapper {
    width: 47%;
    margin-right: 2%;
  }
}

@media screen and (max-width: 975px) {
  .addElementsWrapper {
    width: 81%;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .addElements {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .addElementsWrapper {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 71px;
  }
  .recommendationsWrapper {
    width: 100%;
    margin: 0 0 30px 0;
    height: auto;
    max-height: 100%;
    padding: 15px 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }
  .recommendationTitle {
    margin-top: 15px;
  }
  .recommendationTag {
    margin-bottom: 6px;
  }

  .recommendationCard {
    padding: 15px 0;
  }

  .paginationButtonWrapper {
    width: 100%;
    margin-top: 30px;
  }

  .headerBlog {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .title {
    font-size: 28px;
  }

  .tags {
    margin-left: 0;
    margin-top: 10px;
  }

  .tag {
    font-size: 14px;
    margin: 0 8px 8px 0;
  }

  .mainInfo {
    margin-top: 30px;
  }

  .cards {
    width: 100%;
  }
}

@media screen and (max-width: 626px) {
  .cards {
    width: 100%;
  }
}
