@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.recovery {
  padding-top: 16px;
  padding-left: 33px;
  border-left: 1px solid #dadada;
  width: 777px;
}

.mainIfo {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.iconBlock {
  width: 80px;
  height: 80px;
  background: $colorRedOpacity;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.mainInfoDesc {
  @include styleForText(12px);

  width: 702px;
}

.detailsTitle {
  @include styleForText(12px);

  margin-bottom: 30px;
}
