@import "../../../../scss/core/vars";
@import "../../../../scss/core/mixins";

.recovery {
  padding-top: 16px;
  padding-left: 33px;
  border-left: 1px solid #dadada;
  width: 777px;
}

.mainIfo {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.iconBlock {
  width: 80px;
  height: 80px;
  background: $colorRedOpacity;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.mainInfoDesc {
  @include styleForText(15px);

  width: 702px;
  line-height: 24px;
}

.detailsTitle {
  @include styleForText(15px);

  margin-bottom: 30px;

  & li,
  & p {
    list-style: decimal;
    margin-left: 15px;
    padding-left: 3px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1228px) {
  .recovery {
    width: 89%;
  }

  .mainInfoDesc {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .recovery {
    padding: 0 0 100px 0;
    border-left: none;
    width: 100%;
  }

  .mainIfo {
    margin-top: 30px;
  }

  .iconBlock {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    background: white;
  }

  .recoveryImage {
    width: 100%;
    height: 100%;
  }

  .mainInfoDesc {
    font-size: $fontSizeMobile;
  }

  .detailsTitle {
    font-size: $fontSizeContent;
    margin-bottom: 50px;
  }
}
