@import '../../../scss/core/vars';
@import '../../../scss/core/mixins';

.card {
  width: 100%;
  position: relative;
  transition: 0.3s;
  &:hover {
    .card_hover {
      display: flex;
    }
    .card_info {
      padding: 12px 1px;
      min-height: 150px;
    }
  }
  &_link {
    display: flex;
    flex-direction: column;
  }
  &_image {
    display: block;
    flex: 1;
    position: relative;
    width: 100%;
    padding-top: 200%;
    overflow: hidden;
    z-index: 0;
  }
  &_info {
    min-height: 140px;
    padding-top: 12px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #fff;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  &_brand {
    margin-bottom: 8px;
    @include styleForText(14px, $fontMain);
  }
  &_title {
    margin-bottom: 18px;

    max-height: 35px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    @include styleForText(14px, $fontMain);
  }
  &_description {
    margin-bottom: 12px;

    max-height: 35px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include styleForText(14px, $fontAdditional);
  }
  &_stock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $additionalColorContent;
    color: #fff;
    @include styleForText(10px, $fontMain, white);
    padding: 6px;
    width: 55px;
    z-index: 5;
  }
  &_label {
    position: absolute;
    z-index: 99;
    top: 10px;
    left: 0;
    &__item {
      margin-bottom: 7px;
      position: relative;
      padding: 6px;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__text {
      @include styleForText(10px, $fontMain, white);
    }
  }
  &_picture {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: transparent;
  }
  &_source {
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0%, 0);
  }
  &_price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 0;
    &__old {
      @include styleForText(14px, $fontMain);
      text-decoration: line-through;
      color: $colorGreyButton;
      margin-right: 5px;
    }
    &__new {
      @include styleForText(14px, $fontMain);
      color: $additionalColorContent;
      margin-right: 5px;
    }
    &__tree {
      display: inline;
      position: relative;
      color: $additionalColorContent;
      width: 130px;
      &:hover .card_price__title {
        display: flex;
      }
    }
    &__title {
      display: none;
      position: absolute;
      bottom: 20px;
      right: -50px;
      background-color: #fff;
      border-radius: 10px;
      padding: 5px;
      box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.4);
      color: black;
    }
  }
  &_raring {
    display: flex;
    align-items: center;
  }
  &_hover {
    margin-top: 8px;
    display: none;
    flex-direction: column;
  }
  &_colors {
    margin-top: 8px;
  }
  &_prompt {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    &:hover {
      cursor: pointer;
      .card_prompt__hover {
        display: block;
      }
    }

    &__icon {
      & circle {
        fill: #b3a8a8;
      }
    }
    &__hover {
      width: 150px;
      min-height: 100px;
      position: absolute;
      display: none;
      right: 0;
      top: 14px;

      &:hover {
        display: block;
      }
    }
    &__wrapper {
      width: 100%;
      padding: 23px 35px;
      border-radius: 10px;
      background-color: white;
      position: absolute;
      top: 19px;
      right: -100px;
      z-index: 999;
      box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.4);

      &::after {
        content: '';
        position: absolute;
        left: 49%;
        z-index: 98;
        background: white;
        top: -11px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        transform: rotate(-45deg) translateX(-50%);
      }
    }
    &__title {
      margin-bottom: 20px;
    }
    &__description {
      line-height: 18px;
      margin-bottom: 15px;
    }
    &__link {
      @include styleForText($fontSizeContent, $fontMain, $colorForLink);

      position: relative;
      padding-bottom: 2px;
      border-bottom: 1px solid $colorForLink;

      &:hover {
        border-bottom: none;
      }
    }
  }
}

.iconQuestion {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .card {
    &:hover {
      .card_hover {
        display: none;
      }
      .card_info {
        padding: 0;
        padding-top: 12px;
        min-height: 150px;
      }
    }

    &_info {
      min-height: 150px;
    }
    &_title {
      margin-bottom: 12px;
      @include styleForText(14px, $fontMain);
    }
    &_description {
      margin-bottom: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    &_image {
      padding-top: 230%;
    }
  }
}

@media screen and (max-width: 375px) {
  .card {
    &:hover {
      .card_info {
        min-height: 105px;
      }
    }
    &_image {
      padding-top: 240%;
    }
    &_title {
      margin-bottom: 12px;
      @include styleForText(14px, $fontMain);
    }
    &_description {
      margin-bottom: 8px;
    }
    &_info {
      min-height: 105px;
    }
  }
}
